[2019-09-23 10:14] seokho-son opened #1 "No namespace functionality"
No namespace functionality

[2019-09-23 11:15] #1 closed

[2019-09-23 11:16] seokho-son opened #3 "Need HTTP Basic Auth"
Need HTTP Basic Auth

[2019-09-24 07:01] jihoon-seo opened #5 "TODO: Error fix in Image mgmt function"
Currently, when user deletes one image with providing `id`,
the REST API server returns the message "The image has been deleted",
even if there is no key-value pair with the provided `id`.

(Related PR: https://github.com/cloud-barista/poc-mcism/pull/15 )

[2019-09-24 07:45] #3 closed

[2019-09-25 06:55] jihoon-seo opened #6 "Suggestion: code separation by file"
As-is:

[mcism_master.go]
- `struct` definitions
  - vmReq
  - mcisReq
  - mcisInfo
  - vmInfo
  - vmStatusInfo
- func apiServer()
- func main()
- func nsValidation()
- func rest*Mcis()
- func addVmToMcis
- func updateVmInfo
- func getMcisList
- func getVmList
- func delMcis
- func createMcis
- func createVm
- func terminateMcis
- func terminateVm
- func genUuid()
- func insertAgent
- func getVmIp

[2019-09-25 08:26] jihoon-seo commented on #5
DELETE {{ip}}:{{port}}/ns/{{ns_id}}/mcis/{{mcis_id}}
gives `500 Internal Server Error`

[2019-09-25 08:58] #6 closed

[2019-09-26 02:22] seokho-son opened #9 "Need interfaces for individual VM creation request"
Need interfaces for individual VM creation request

[2019-09-26 02:23] seokho-son opened #10 "Need functions for individual VM lifecycle control"
Need functions for individual VM lifecycle control

[2019-09-26 02:25] seokho-son opened #11 "Enhance MCIS lifecycle status handling logic"
Enhance MCIS lifecycle status handling logic

[2019-09-26 02:26] seokho-son opened #12 "Need functions for searching tentative MCIS and VM configuration"
Need functions for searching tentative MCIS and VM configuration

[2019-09-26 02:28] seokho-son opened #13 "Change synced MCIS creation to asynced"
Change synced MCIS creation to asynced

[2019-09-26 02:32] seokho-son opened #14 "Replace internal VM creation function with cb-spider function"
Replace internal VM creation function with cb-spider function.

Will be initiated, once the functions (APIs) of cb-spider available.

[2019-09-26 06:18] seokho-son opened #15 "Need MCIS performance evaluation functionalities"
Need MCIS performance evaluation functionalities

[2019-09-27 01:30] #9 closed

[2019-09-27 08:05] #12 closed

[2019-09-28 12:53] seokho-son opened #21 "Bug in MCIS creation"
Bug in MCIS creation

Need to investigate returned ID for MCIS.

[2019-09-28 12:55] seokho-son opened #22 "Need to apply goroutine for MCIS creation"
Need to apply goroutine for MCIS creation

VM creations for MCIS creation are sequential. This reduces the speed of MCIS creation.
Need to make VM creations parallel.

[2019-10-01 02:06] jihoon-seo opened #23 "Suggestion: Move `action=terminate` from HTTP GET to HTTP PUT"
As-is:
`GET /ns/1/mcis/2?action=terminate`
`GET /ns/1/mcis/2?action=monitor`

To-be:
`PUT /ns/1/mcis/2?action=terminate`

[2019-10-02 08:11] jihoon-seo opened #25 "TODO: Forbid deleting NS/MCIS"
1. Forbid deleting NS when there is at least one MCIS or one of resources.

2. Forbid deleting MCIS when there is at least one VM.

[2019-10-08 03:04] jihoon-seo opened #27 "TODO: Implement some functions"
As-is:
There are some missing functions in:

- mcism_namespace.go
- mcism_mcis.go
- mcism_resource_manage_image.go
- mcism_resource_manage_network.go
- mcism_resource_manage_securityGroup.go
- mcism_resource_manage_spec.go
- mcism_resource_manage_sshKey.go
- mcism_resource_manage_subnet.go

e.g. `mcism_resource_manage_image.go`

| REST-handling func  | Actual func |  |
| ------------- | ----------

[2019-10-08 06:55] jihoon-seo opened #29 "NS, MCIS emptiness check"
#25 에서 이슈가 제기되었고
#28 PR을 통해
'삭제하려는 NS에 적어도 하나의 MCIS, Image, Network, SecurityGroup, Spec, SshKey, Subnet이 있으면 NS 삭제 실패를 리턴하는 로직' 을
delNs() 함수에 추가하였습니다.

이렇게 하니, 사용자가 '삭제하려는 NS에 적어도 하나의 MCIS, Image, Network, SecurityGroup, Spec, SshKey, Subnet이 있더라도 NS를 강제로 삭제' 할 수는 없는 상태입니다.

또한, delMcis() 함수는 #28 의 delNs() 함수와 다르게, 삭제하려는 MCIS 아래에 VM이 있으면 이를 Terminate & Delete 하고, 최종적으로 MCIS를 삭제하는 로직으로 작성되어 있습니다.

[2019-10-08 11:58] jihoon-seo opened #30 "Enhancements for MCIS and MCIR (backlog)"
[근시일]
- ~~파일 새로 만들기~~
  - ~~mcism_resource_manage_publicIp.go~~
  - ~~mcism_resource_manage_vNic.go~~
- ~~"csp": "aws" 로 되어 있는 부분을 "connectionName": "aws-connect01" 으로 변경~~
- ~~CSP 와 통신하는 부분이 farmoni 코드로 되어 있는데, 이를 Spider 에서 제공할 REST API 로 변경. HTTP client 는 "net/http" 사용. `cb-spider/cloud-control-manager/cloud-driver/drivers/cloudit/client` 참고. HTTP client 코드는 많이 쓰일 것이므로 모듈화를 잘 해놓는 것이 좋을 것임. Publi

[2019-10-09 23:00] seokho-son commented on #29
NS를 강제로 삭제해야하는 경우는 어떤 경우일까요?
아마 관리자 입장에서, 시스템 오류(삭제된 NS에 포함된 MCIS 발생 등)가 발생한 경우에 강제 삭제가 필요할 것 같습니다. 이 경우, 사용자 API로 기능을 내어주기 보다는 향후 관리자 도구 등을 통해 기능을 제공하는 것이 좋을 것 같습니다.

강제 삭제 함수를 만들지 말고, 해당 NS에 포함된 모든 MCIR, MCIS 리스트를 사용자에게 제공하는 방식은 어떨까요? 사용자가 확인 후, 직접 삭제할 수 있도록.

[2019-10-10 05:25] seokho-son commented on #23
@jihoon-seo Since API has been released, let's keep as-is and think about this issue later.

[2019-10-10 06:01] jihoon-seo commented on #30
- ~~"csp": "aws" 로 되어 있는 부분을 "connectionName": "aws-connect01" 으로 변경~~: 2019-10-10 완료

[2019-10-10 06:08] #22 closed

[2019-10-10 06:11] #25 closed

[2019-10-10 06:29] #21 closed

[2019-10-22 07:33] seokho-son commented on #30
related with #37

[2019-11-04 11:15] #14 closed

[2019-11-04 11:16] #10 closed

[2019-11-06 05:46] seokho-son opened #60 "Enhance source code tree and names"
Let's enhance source code tree and names.

I suggest as follows,
cb-tumblebug/
----------------/README.md
----------------config/
------------------------setup.env
------------------------log_conf.yaml
------------------------store_conf.yaml
----------------doc/
----------------source/
------------------------apiserver.go (mcism_server.go)
------------------------common/
--------------------------

[2019-11-06 05:54] jihoon-seo commented on #60
cb-tumblebug/
----------------/README.md
----------------config/
------------------------setup.env
------------------------log_conf.yaml
------------------------store_conf.yaml
----------------docs/
----------------src/
------------------------mcism.go (mcism_server.go)
------------------------common/
-----------------------------------utility.go (some common utilities in mcism_server.go)
--------

[2019-11-07 01:44] jihoon-seo commented on #60
cb-tumblebug/
----------------/README.md
----------------conf/
------------------------setup.env
------------------------log_conf.yaml
------------------------store_conf.yaml
----------------docs/
----------------src/
------------------------apiserver/
-----------------------------------apiserver.go (mcism_server.go)
------------------------mcism.go (contains main() which calls apiserver())
------

[2019-11-07 01:44] #60 closed

[2019-11-26 01:43] #11 closed

[2019-11-28 06:47] #5 closed

[2019-12-20 07:41] jihoon-seo opened #83 "nutsdb dbpath issue"
Related: https://github.com/cloud-barista/cb-spider/commit/38e5537beb1e9d568f8e10cebaa0dd89210d277c

File with issue: https://github.com/cloud-barista/cb-tumblebug/blob/master/conf/store_conf.yaml#L9

Currently:
[code]

It was:
https://github.com/cloud-barista/cb-tumblebug/blame/edb245563594fbc2a080b82125247b2eaf584eb0/conf/store_conf.yaml#L9
[code]

FYI:
[code]
is not a good solution.

[2019-12-20 08:46] jihoon-seo opened #84 "Issues about MCIR Image mgmt feature"
- 현재: Tumblebug 에서 Image 를 등록하면 UUID 가 생성되어 UUID 로 관리되며, connectionName 필드도 있음
- TODO: UUID 삭제, [connectionName 남겨놓거나, 또는 region 필드 추가], cspImageID / cspImageName 을 Identifier 로 사용
- 고려해야 하는 사항: AWS 는 Region 별로 cspImageID (ami-xxxxxxxxx) 가 다름

-----

- 현재: RegisterImageWithInfo API 제공, RegisterImageWithID API (unstable) 제공
- TODO: RegisterImageWithID API 안정화, GetImageInfo API 제공 (아니면, 이 기능을 Webtoo

[2019-12-23 02:04] jihoon-seo opened #85 "Issues about MCIR Spec mgmt feature"
- 현재: Tumblebug 에서 Spec 을 등록하면 UUID 가 생성되어 UUID 로 관리되며, connectionName 필드도 있음
- TODO: UUID 삭제, [connectionName 남겨놓거나, 또는 region 필드 추가], cspSpecID / cspSpecName 을 Identifier 로 사용
- 고려해야 하는 사항: AWS 는 Region/AZ 별로 사용 가능한 flavor 가 다를 수 있음

-----

- 현재: RegisterSpecWithInfo API 제공, RegisterSpecWithID API (unstable) 제공
- TODO: RegisterSpecWithID API 안정화, GetSpecInfo API 제공 (아니면, 이 기능을 Webtool 에서 제공하는 방안

[2019-12-24 06:50] jihoon-seo opened #88 "Suggestion: `mcism` -> `cb-tumblebug`"
https://github.com/cloud-barista/cb-tumblebug/blob/master/README.md
여기에 `mcism` 이라고 기술되어 있는데,
처음 보는 사람은 이것이 무엇을 가리키는 것인지 알기 어려울 수 있고, 직관성이 떨어집니다.

Related:
https://github.com/cloud-barista/cb-tumblebug/blob/master/src/Makefile
여기에도, build 결과물로 생성되는 바이너리의 파일명이 `mcism` 으로 되어 있습니다.

FYI:
https://github.com/cloud-barista/cb-tumblebug/blob/master/Dockerfile
여기에서는,

- 임시로 생성되는 컨테이너 안의, 바이너리의 파일명
- `dock

[2019-12-24 07:58] seokho-son commented on #88
동의합니다. 네이밍 변경해야겠네요.

[2019-12-24 08:15] #88 closed

[2020-02-28 04:46] jihoon-seo opened #93 "conf path issue"
### 환경
- Ubuntu 18.04
- Golang 을 apt 로 설치 (`apt install golang`)

---

### 원인 1
- Golang 을 apt 로 설치한다고 해서, `$GOPATH` 환경변수가 설정되는 것은 아님 (`$GOROOT` 도 마찬가지)

---

### 원인 2
- `conf/setup.env` 에는
[code]
이렇게 되어 있음

---

### 재현 방법

`$GOPATH` 환경변수가 설정되어 있지 않은 상태에서

CB-Tumblebug 을 실행하기 위해
`cd conf`
`source setup.env`
`cd ../src`
`make` (= `go build -o cb-tumblebug`)
`make run` (= `./cb-tumblebug`)
실행하면

[co

[2020-02-28 05:08] jihoon-seo commented on #93
논의 결과,
`conf/setup.env` 에 적혀 있는 내용은
'예시' 라고 간주할 수 있고
사용자가 원할 경우 변경할 수 있기 때문에

1번 (사용자 컴퓨터에 `$GOPATH` 환경변수가 설정되어 있어야 CB-Tumblebug 실행 가능)
으로 결정하였습니다.

[2020-02-28 05:08] #93 closed

[2020-02-28 05:41] jihoon-seo opened #94 "CB-Spider's Resources' NameID / CspResource Name 이 겹칠 수도 있는 이슈"
KIM: Spider 에게 API call 보낼 때, NameID 를 unique 하게 정해서 명령하는 방안
(e.g.
1) UUID 중 일부를
2) NS 이름 중 일부, MCIS 이름 중 일부 등을

NameID 에 postfix 로 붙여서 Spider API call 한다거나..)

[2020-03-11 01:41] jihoon-seo commented on #83
Resolved by: #91

[2020-03-11 01:41] #83 closed

[2020-03-11 02:17] jihoon-seo opened #96 "Suggestion: Add `/tumblebug/` prefix for REST APIs"
As-Is:
- /ns
- /ns/{ns_id}/mcis
- ...

---

To-Be:
- /tumblebug/ns
- /tumblebug/ns/{ns_id}/mcis
- ...

---

[사유]
- API-GW 에서 지금은 각 API (/ns, /ns/{ns_id}/mcis, ...) 별로 rule 을 적고 있습니다.
- 향후 http://api-gw:8000/tumblebug/* 로 오는 모든 요청을 http://cb-tumblebug:1323/* 로 보내고 싶습니다.
- 예를 들어 API-GW 테스트 시 Tumblebug 에 API 요청할 때 1) Tumblebug 로 직접 보내기, 2) API-GW 로 보내기 를 계속 왔다갔다 해야 하는데, 이 때 Tumblebug API 도 /tumblebug

[2020-03-11 09:14] jihoon-seo commented on #96
관련 파일
- https://github.com/cloud-barista/cb-tumblebug/blob/master/src/apiserver/apiserver.go
(더 있을 수도 있음)

[2020-03-13 00:54] jihoon-seo opened #97 "Spider 의 API 변경에 대한 대응"
[JSON Array -> JSON Object]
https://github.com/cloud-barista/cb-spider/issues/136

[관련 Spider REST API]

- CloudOS
  - {"GET", "/cloudos", listCloudOS},

- CIM (Cloud Info Mgmt)
  - {"GET", "/driver", listCloudDriver},
  - {"GET", "/credential", listCredential},
  - {"GET", "/region", listRegion},
  - {"GET", "/connectionconfig", listConnectionConfig},

- VM Resources
  - {"GET", "/vmimage", listI

[2020-03-13 03:06] #97 closed

[2020-03-13 07:40] jihoon-seo commented on #96
Resolved by: #98

[2020-03-13 07:40] #96 closed

[2020-03-19 06:07] jihoon-seo commented on #29
2019년 10월 8일에
#28 PR을 통해
'삭제하려는 NS에 적어도 하나의 MCIS, Image, Network, SecurityGroup, Spec, SshKey, Subnet이 있으면 NS 삭제 실패를 리턴하는 로직' 이
delNs() 함수에 추가되었었는데요.

---

2019년 11월 6일에
https://github.com/cloud-barista/cb-tumblebug/commit/d45305b12ce7be4942ccd844ee222dbe6a918d1b#diff-cd085ee3c4f966bb3b46b0750bce7895R210
이 commit 에서 주석처리 되었습니다.

주석처리된 부분을 살리려고 오늘 시도해 봤더니
[code]
위와 같은 에러가 납니다.
(이미 `src/mcir/common.

[2020-03-20 00:41] jihoon-seo opened #101 "CB-Spider 의 connection_name 수신 방식 변경에 대한 대응"
Ref: https://github.com/cloud-barista/cb-spider/issues/140#issuecomment-601113239

Files to modify:
- https://github.com/cloud-barista/cb-tumblebug/blob/master/src/mcir/common.go
- https://github.com/cloud-barista/cb-tumblebug/blob/master/src/mcir/image.go
- https://github.com/cloud-barista/cb-tumblebug/blob/master/src/mcir/network.go
- https://github.com/cloud-barista/cb-tumblebug/blob/master/src

[2020-03-24 05:08] jihoon-seo opened #102 "TODO: CB-Store 업데이트 대응"
Ref: https://github.com/cloud-barista/cb-store/pull/15

[2020-03-25 05:32] jihoon-seo opened #104 "Spider 의 Spec 정보 제공 기능 추가에 대한 대응"
Related: https://github.com/cloud-barista/cb-spider/issues/121

[2020-03-25 08:58] jihoon-seo commented on #101
Ref: #103

[2020-03-25 08:58] #101 closed

[2020-03-26 08:19] seokho-son commented on #104
@jihoon-seo
Spider에서 CSP가 제공하는 VM Spec 리스트를 제공함에 따라.
Tumblebug에서는 아래와 같이 지원하는 것이 좋을 것 같습니다.

CSP가 제공하는 모든 VM Spec을 CB-TB의 Spec MCIR로 자동 생성
- 자동 생성 주기
  - 방안
    - CB-TB 초기 로딩시에만 수행
    - 주기적으로 수행
    - 사용자 요청으로 수행
- 생성 과정
  - Spider에 등록된 모든 커넥션 컨피그를 조회
  - Spider에서 모든 클라우드 커넥션 단위로 VM Spec list를 조회
  - List 내의 모든 VM Spec에 대해서 MCIR VM Spec 을 생성 (UUID)
    - 자료구조는 기존의 CB-TB의 Spec 을 준용
      - Spider의

[2020-03-27 00:16] jihoon-seo commented on #104
- Spider에 등록된 모든 커넥션 컨피그를 조회: 함수 추가했음 (#106)
- Spider에서 모든 클라우드 커넥션 단위로 VM Spec list를 조회:
Spider 의 Spec API 가 변경된 이후에 작업할 예정입니다.
  - https://github.com/cloud-barista/cb-spider/issues/138
  - https://github.com/cloud-barista/cb-spider/issues/121
  - Spider As-is:
    - GET `/spider/vmspec/northeurope` `{ "ConnectionName": "azure-northeu-config" }`
    - GET `/spider/vmspec/northeurope/Standard_H16m

[2020-04-03 09:38] jihoon-seo commented on #104
https://gist.github.com/powerkimhub/ee1372cd4be599d1067bb73ece9f0551

[code]

[2020-04-07 08:18] jihoon-seo commented on #104
- AWS

GET `{{spider_ip}}:{{spider_port}}/spider/vmspec`

[code]

[2020-04-09 02:23] seokho-son opened #109 "TB 오브젝트 ID 생성 방식 변경 (UUID->사용자지정ID)"
[개요]
TB 오브젝트 ID 생성 방식 변경 (UUID->사용자지정ID)

[현황]
TB는 오브젝트의 ID (예: MCIS ID)를 시스템이 생성한 UUID로 사용하고 있음.
오브젝트의 Name은 사용자가 지정하는 부가 정보로 사용함.
이 방식에는 장단점이 있으며, 선택의 문제임. 다만 아래의 단점을 고려하기로 함.
- 주요 연동 프레임워크인 CB-Spider와 처리 방식에 일관성이 다소 떨어짐.
- UUID는 사람이 인지하기 어려운 ID의 형태이며, 이에 의해 Test 등이 다소 까다로운 측면이 있음.

[수정방향] TB 오브젝트 ID 생성 방식을 변경 (UUID->사용자지정ID)
- 기존 API 및 처리 방식은 유지하되, API Call시 사용자가 지정한 오브젝트의 Name을 기반으로 ID를 생성.
-

[2020-04-09 02:24] seokho-son commented on #109
Related issues: #85 , #84

[2020-04-13 06:14] jihoon-seo commented on #94
Related: https://github.com/cloud-barista/cb-spider/issues/162 (Work in progress)

[2020-04-13 06:31] jihoon-seo commented on #109
이 issue 는 close 해도 될 것으로 보입니다.

#110 에서의 API 변경사항
- `nsReq` struct 에 `Id string` 이 있었는데 주석처리 했습니다.
- 다음 struct 에 `Name string` 이 없었는데 추가했습니다.
  - `imageReq`, `imageInfo`
  - `networkReq`, `networkInfo`
  - `publicIpReq`, `publicIpInfo` (FYI: Spider & TB 에서 PublicIP 관리기능 제거 예정)
  - `securityGroupReq`, `securityGroupInfo`
  - `sshKeyReq`, `sshKeyInfo`
  - `subnetReq`, `subnetInfo`
  - `vNicReq`, `vN

[2020-04-13 06:47] jihoon-seo commented on #85
1. `UUID 삭제`: UUID 를 생성하여 사용하지 않고, 사용자가 TB 객체 이름으로 사용하기 위해 제공한 string 을 TB 객체 ID 로 사용합니다. (`id` <= `name`)
2. `connectionName 남겨놓거나, 또는 region 필드 추가`: connectionName 남겨놓았습니다.
3. `cspSpecID / cspSpecName 을 Identifier 로 사용`: 위의 1번 내용과 같이 변경되었습니다.
---
4. `현재 RegisterSpecWithInfo API 제공`: 필요 시 deprecate 시킬 수 있습니다.
5. `RegisterSpecWithID API 안정화`: 해당 기능 구현하였고 AWS 에 대해 테스트 했습니다. 추후 spec 정보 채우는 부분 등에 고도화

[2020-04-13 06:57] jihoon-seo commented on #84
1. `UUID 삭제`: UUID 를 생성하여 사용하지 않고, 사용자가 TB 객체 이름으로 사용하기 위해 제공한 string 을 TB 객체 ID 로 사용합니다. (`id` <= `name`)
2. `connectionName 남겨놓거나, 또는 region 필드 추가`: connectionName 남겨놓았습니다.
3. `cspImageID / cspImageName 을 Identifier 로 사용`: 위의 1번 내용과 같이 변경되었습니다.
---
4. `현재 RegisterImageWithInfo API 제공`: 아래 5번이 완료된 이후, 필요 시 deprecate 시킬 수 있습니다.
5. `RegisterImageWithID API 안정화`: Spider 에서 spec 관련 기능을 제공해 주셨던 것처럼 im

[2020-04-16 05:39] #109 closed

[2020-04-21 02:03] #102 closed

[2020-04-28 03:02] jihoon-seo opened #119 "Spider 리모델링에 대한 대응"
[2020-04-22 (수) 이메일]

- 연결설정(ConnectionConfig) 등록: 기존 방법과 동일
- 변경 인터페이스 및 Full 기능 시험 도구: 아래 내용 참조

<인터페이스/통합시험도구>
- 위치: cb-spider/api-runtime/rest-runtime/test/full-test/*
- 1.aws-test.sh: 통합 시험 완료 --> TB AWS로 통합 시작
  -	1.aws-test.sh 내부: 연결설정이름과 이미지이름 설정
  -	실행: 특별한 에러 메시지가 출력 없으면, AWS 기반 현재 CB-Spider full 기능 성공
  -	CB-Spider REST API 및 예시: ./full_test.sh 내용 참조

- 2.azure-test.sh: 현재 디버깅 중
  -	연결설

[2020-04-28 06:44] jihoon-seo commented on #119
- CB-Spider's REST API: https://github.com/cloud-barista/cb-spider/blob/master/api-runtime/rest-runtime/CBSpiderRuntime.go

---

- https://github.com/cloud-barista/cb-spider/blob/master/cloud-control-manager/cloud-driver/interfaces/resources/IId.go

---

- https://github.com/cloud-barista/cb-spider/blob/master/cloud-control-manager/cloud-driver/interfaces/resources/ImageHandler.go
- https://github

[2020-05-04 04:50] jihoon-seo commented on #119
POST `http://localhost:1024/spider/vpc`
[Request]
[code]

---

POST `http://localhost:1323/tumblebug/ns/$NS_ID/resources/vNet`
[Request]
[code]

[2020-05-04 09:08] jihoon-seo opened #123 "Bug: Fail to delete vNet"
GET `{{tb_ip}}:{{tb_port}}/tumblebug/ns/{{ns_id}}/resources/vNet/{{cbNetworkId}}`

[Response]

[code]

---

DELETE `{{tb_ip}}:{{tb_port}}/tumblebug/ns/{{ns_id}}/resources/vNet/{{cbNetworkId}}`

[Response]

[code]

[2020-05-06 05:17] jihoon-seo opened #124 "Suggestion: Change MCIS funcs' params and returns"
@seokho-son

발단:

`func createMcis(nsId string, req *mcisReq) string {` 에
[code]

부분을 넣었더니
TB 가 오동작 합니다.
(API 호출 시 "Internal Server Error" 반환)

`""` (빈 string) 을 리턴해서 그런 것으로 보입니다.

그런데 현재 함수의 리턴값이 string 하나만 있어서
에러 발생 시 에러가 발생했음을 모함수에 알려 줄 방법을 모르겠습니다.

---

+ 다음 함수들이
sthReq 를 param 으로 받고
sthInfo 를 return 하도록 하면
직관적이지 않을까 합니다.
  - `func createMcis(nsId string, req *mcisReq) string {`
  - `func crea

[2020-05-06 06:28] jihoon-seo opened #125 "Suggestion: Refine structs in MCIS codes"
@seokho-son

MCIR 코드에서
예를 들어 [`image.go`](https://github.com/cloud-barista/cb-tumblebug/blob/master/src/core/mcir/image.go) 를 보면

---

[code]
이것은 TB 가 Spider 에 API call 날릴 때 JSON body 를 만들기 위해 넣은 struct 입니다.
위 struct 를 Marshal 하여 JSON body 를 만듭니다.
=> 현재는 `SpiderImageReqInfoWrapper` 로 이름을 바꿨습니다.

---

[code]

~`ImageReqInfo`~ 는 위의 `SpiderImageReqInfo` 에서 필요로 하고,
~`ImageInfo`~ 는 Spider 의 응답을 Unmarsh

[2020-05-06 11:25] seokho-son commented on #125
@jihoon-seo Let's enhance this point after Cappuccino release.

[2020-05-06 23:35] jihoon-seo commented on #123
Resolved by #126

[2020-05-06 23:35] #123 closed

[2020-05-13 05:39] jihoon-seo commented on #104
이 이슈는 close 하겠습니다.
추후 TB spec 부분 고도화가 필요할 수 있습니다.

FYI

---

[code]

---

[code]

---

`SpiderSpecInfo` 를 `SpecInfo` 로 변환하는 부분

[code]

[code]

[2020-05-13 05:39] #104 closed

[2020-05-13 05:47] #85 closed

[2020-05-13 05:49] #119 closed

[2020-05-13 05:59] #30 closed

[2020-05-15 07:57] jihoon-seo opened #146 "Issue: GCP does not accept upper case for resource name"
@seokho-son @powerkimhub

일단은: Spider & TB 테스트 스크립트들에서, 리소스 이름을 소문자로만 사용하도록 변경되었습니다.

+ 리소스 이름에 underscore 를 넣으면 안 되는 CSP 도 있습니다.

향후:
1. 사용자에게, 리소스 이름에 대문자를 넣지 말고 소문자로만 쓰라고 명시한다.
2. 사용자가 제시한 리소스 이름에 대문자가 있는지 체크하는 로직을 웹도구에 넣는다.
(문제점: 웹도구를 쓰지 않고 Spider & TB 에 직접 API call 을 날리는 경우가 있을 수도 있음)
3. 사용자가 제시한 리소스 이름에 대문자가 있는지 체크하는 로직을 Spider & TB 에 넣는다.
4. ...

[2020-05-16 07:03] jazmandorf opened #147 "MCIS조회시 vm 들의 상태가 모두 running 로 나오는 현상"
MCIS 리시트 조회시 실제 vm의 상태가 running 이외의 상태임에도 Running 으로 나오는 현상
http://3.34.100.130:1323/tumblebug/ns/NS-02/mcis

특정 MCIS 조회했을 떄의 VM 상태는 제대로 return
http://3.34.100.130:1323/tumblebug/ns/NS-02/mcis/MCIS-aws-developer

[2020-05-17 10:21] seokho-son commented on #147
@jazmandorf @jihoon-seo
기존에 MCIS 리스트 조회 기능의 경우,
CSP로의 API CALL이 많아질 수 있는 상황과 응답 속도 저하를 고려하여,
MCIS들 및 소속된 VM들의 상태를 조회하지 않고 리턴하고 있었습니다.

이슈 대응 차원에서 아래와 같이 조치하였습니다.
두 가지 방식 중에 필요에 따라 선택하여 사용하시기 바랍니다.
1. 기존 MCIS List 조회 기능 (상태 정보를 비워서 리턴)
1. 현재 상태를 포함하는 MCIS List 조회 옵션 추가

- 반영 브랜치: 최신 master (commit: 336eb14c4318df807c6a1ce4ab07c2aca4e92175) 또는 Tag: v0.1.6
- API 문서 : 반영 완료
  - [Publish] Namespace man

[2020-05-18 02:10] jazmandorf commented on #147
넵 감사합니다.

[2020-05-18 02:10] #147 closed

[2020-05-19 02:02] #15 closed

[2020-05-30 17:48] seokho-son opened #157 "Bug: changed IP after VM restarts is not updated"
Bug: changed IP after VM restarts is not updated

[2020-06-02 13:33] #157 closed

[2020-06-02 13:37] seokho-son opened #160 "Bug an error when get MCIS list with some problematic VMs."
Fix an error when get MCIS list with some problematic VMs.
(Internal server error, if Spider returns error)

[2020-06-03 01:19] seokho-son opened #161 "Need a guideline for Localization and Globalization of CB-Tumblebug"
We don't have a guideline for Localization and Globalization of CB-Tumblebug.

I would like to suggest the following guideline.

---------------------------

Localization and Globalization of CB-Tumblebug.

As an opensource project initiated by Korean members, we would like to promote participation of Korean contributors during initial stage of this project. So, CB-Tumblebug Repo will accept use o

[2020-06-03 01:23] seokho-son commented on #161
CF to @powerkimhub

[2020-06-04 00:34] seokho-son commented on #161
CF to @dongjae
This guideline might be applicable to all Cloud-Barista Repositories.

[2020-06-16 09:04] jihoon-seo opened #164 "Add rollback logic for MCIR, MCIS, etc."
[Internal processes of Create, Update, and Delete operations]
- MySQL
- K-V store
- Request to CB-Spider
- etc.

[2020-06-16 09:14] jihoon-seo opened #165 "Need to determine a database(s) for Spec and Image objects"
@seokho-son
현재, Spec 에 대해서는 MySQL 도입이 확정되었습니다.
검색 등의 기능을 고려하면 Image 도 같은 상황 같습니다.

위의 사항을 고려할 때
- 1안: MySQL + K-V store 동시 저장
consistency (정합성) 이슈, 불일치 시 롤백 이슈.. 등이 있을 수 있습니다.
각 이슈/상황에 대한 로직을 넣어 해결할 수 있겠습니다.
- 2안: K-V store 사용하지 않고 MySQL 만 사용
이럴 경우, 다른 MCIR, MCIS, NS 등이 K-V store 를 사용하는 것과 배치/상충됩니다.
- 3안: 모든 MCIR, MCIS, NS 에 대해 K-V store 대신 MySQL 사용하는 것으로 전환
(이 안으로 선택될 확률은 낮을 것 같습니다.)

1안과 2안, 또는

[2020-06-17 04:54] seokho-son commented on #165
@jihoon-seo
우선 저는 1안을 선호 합니다.
다만 아직 많은 량의 이미지를 조회하는 상황이 아니라서, 시급성은 조금 떨어질 것 같습니다.
이미지 오브젝트에 대해서는 기본적인 처리(기 오픈된 PR #166 수준) 진행하면 어떨까합니다.

[2020-06-23 09:05] seokho-son opened #174 "Need to extract core codes from rest api funcs to support gRPC"
이슈
 -
- CB-Tumblebug은 현재 REST API를 통한 인터페이스만 제공하고 있으나, 향후 gRPC를 통한 제어도 지원하고자 합니다.

해결 방법
 -
 - REST API 처리를 위한 API 리소스 함수에서 기능 함수 분리 및 재정의
 - REST API에 해당하는 gRPC를 위한 함수 생성

gRPC 컨트리뷰션 작업 소스코드 가이드라인
-
- gRPC 서비스를 제공하기 위한 컨트리뷰션 가이드라인은 다음과 같습니다.
  - 일반적인 함수(리소스 오브젝트에 대한 CRUD)인 경우 #173 의 방식(네임스페이스에 대한 처리 완료)을 준용하여 REST 리소스 함수에서 기능 함수 분리
    - REST 리소스 함수 내용 정리 (기능에 관련된 코드 제거)
    - 기능에 관련된 코드를 신규 기능 함

[2020-06-23 09:11] seokho-son commented on #174
@jmleefree 해당 이슈 및 작업에 어려움이 있으시면 연락 부탁드립니다 ^^
/assign @jmleefree

@powerkimhub @jihoon-seo 참고하시기 바랍니다.

[2020-06-23 09:14] seokho-son commented on #161
@jihoon-seo
Are you agree with this guideline ?

[2020-06-23 09:17] jihoon-seo commented on #161
@seokho-son Sure!!

[2020-06-25 05:23] jihoon-seo opened #177 "Suggestion: Integrate struct pair xxxReq and xxxInfo"
E.g.

As-is:
[code]

To-be:
[code]

[2020-06-26 01:31] seokho-son commented on #177
@jihoon-seo I agree. a nice suggestion!

[2020-06-26 08:33] jihoon-seo opened #180 "Suggestion: Organize JSON field name"
@seokho-son

Current valid JSON body of "Create MCIS" request: (from `test/official/6.mcis/create-mcis.sh`)
[code]

---

Suggestion: (Other field name candidates are also welcome.)

|   | As-is | To-be |
|---|---|---|
|   | name | - |
|   | config_name | connectionName |
|   | image_id | tbImageId or imageId |
|   | ssh_key_id | tbSshKeyId or sshKeyId |
|   | spec_id | tbSpecId or specId |
|   | s

[2020-06-29 02:31] jihoon-seo opened #182 "Suggestion: Move RestXxx functions into src/api/rest"
As-is:
`RestXxx` functions are in
- `src/common/namespace.go`
- `src/common/utility.go`
- `src/mcir/common.go`
- `src/mcir/image.go`
- `src/mcir/securitygroup.go`
- `src/mcir/spec.go`
- `src/mcir/sshkey.go`
- `src/mcir/vnet.go`
- `src/mcis/control.go`
- `src/mcis/utility.go`

To-be:
`RestXxx` functions are in
- `src/api/rest/xxx.go`

[2020-06-29 02:37] #177 closed

[2020-06-30 05:46] #182 closed

[2020-06-30 06:07] jihoon-seo opened #184 "Suggestion: Organize paths of core code files"
As-is:
in `cb-tumblebug/src`
[code]

To-be:
[code]

---

For reference:
in `cb-tumblebug/src/api/rest`
[code]

[2020-06-30 06:18] jihoon-seo opened #185 "TODO: Organize paths of gRPC server code files"
@jmleefree
gRPC 작업하실 때, 아래 사항도 함께 작업해 주시면 감사하겠습니다.

---

in `cb-tumblebug/src/api/grpc/server`

As-is:
[code]

To-be:
[code]

---

For reference:
in [`cb-tumblebug/src/api/rest/server`](https://github.com/cloud-barista/cb-tumblebug/tree/master/src/api/rest/server)
[code]

[2020-07-01 00:24] jihoon-seo opened #186 "Info: Go struct / JSON field name match table"
Ref: #180

[VM Create Request flow]

- `RestPostMcisVm()` in [api/rest/server/mcis/control.go](https://github.com/cloud-barista/cb-tumblebug/blob/master/src/api/rest/server/mcis/control.go)

|   | TbVmReq struct | TbVmInfo struct |   |   |
|---|---|---|---|---|
|   | (Name→) | Id |   |   |
|   | Description | Description |   |   |
|   |   | Status="Creating" |   |   |
|   | Name | Name |   |   |
|

[2020-07-01 02:27] jihoon-seo opened #187 "Info: JSON input/output of CreateMcis() will be changed"
Ref: @dev4unet @jazmandorf (cb-webtool might need some updates)

---

As-is:

[Request]

[code]

[Response]

---

To-be:

`cb-tumblebug/test/official/6.mcis/create-mcis.sh aws 1 jhseo`

[Request]

[code]

[Response]

[code]

[2020-07-02 06:19] #180 closed

[2020-07-02 06:19] #187 closed

[2020-07-03 06:47] jihoon-seo opened #190 "Info: CB-TB sample server for Swagger page"
- https://app.swaggerhub.com/apis-docs/cloud-barista-hub/cb-tumblebug/v0.2.0-20200729
- https://app.swaggerhub.com/apis/cloud-barista-hub/cb-tumblebug/v0.2.0-20200729

[Will be deprecated]

[2020-07-06 01:09] jihoon-seo opened #192 "TODO: Delete vmUserId field in CB-TB VM object's JSON body"
Because: `vmUserAccount` field already exists.
Related: #187

[2020-07-07 04:25] jihoon-seo opened #195 "TODO: Separate struct pair xxxReq from xxxInfo"
E.g.

As-is:
[code]

To-be:
[code]

---

- Related issue: #177
- Related PR: #181

[2020-07-07 05:19] jihoon-seo opened #196 "Issue: Swagger with REST APIs that operate differently according to query param"
@seokho-son

예를 들어

[Call chain]
1. POST `/:nsId/resources/image` ([src/api/rest/server/server.go](https://github.com/cloud-barista/cb-tumblebug/blob/master/src/api/rest/server/server.go))
2. `func RestPostImage` ([src/api/rest/server/mcir/image.go](https://github.com/cloud-barista/cb-tumblebug/blob/master/src/api/rest/server/mcir/image.go))

이 기능은

1. POST `/:nsId/resources/image?action=registerW

[2020-07-07 05:41] seokho-son commented on #196
@jihoon-seo 아래와 같은 방식으로 처리하면 어떨까요?
다만, response 도 쿼리 파라미터에 따라 다르게 하는 것은 되는지 모르겠습니다.

[code]

![image](https://user-images.githubusercontent.com/5966944/86720118-ac198080-c05f-11ea-99cf-c71c915b1f6f.png)

[2020-07-07 05:53] jihoon-seo commented on #196
@seokho-son
이 방법도 좋은 것 같습니다.
이렇게 진행하겠습니다.

[2020-07-07 06:02] jihoon-seo opened #197 "Suggestion: Integrate two different methods to register image/spec"
Related issue: #196

As-is:
There are two different methods to register image/spec

- POST `/:nsId/resources/image?action=registerWithInfo`
- POST `/:nsId/resources/image?action=registerWithId`

To-be:
Integrate two different methods

- POST `/:nsId/resources/image`

---

[Logic of integrated `func RegisterImage()`]

1. If the request body contains only `name`, `connectionName` and `cspImageId`
[c

[2020-07-07 06:54] jihoon-seo commented on #196
echo-swagger 용 comment 에

`// @Router /ns/{nsId}/resources/image?action={registeringMethod} [post]`
위와 같이 query param 사용법을 명시적으로 적어 주고 싶었는데
이렇게 하면

`swag i`
[code]

이런 에러가 납니다.

---

따라서

`// @Router /ns/{nsId}/resources/image [post]`
이렇게 적어야 합니다. (query param 사용법을 명시적으로 적어 줄 수 없음)

[2020-07-07 08:41] jihoon-seo commented on #124
[As-is]
1. `func CreateMcis(nsId string, req *TbMcisReq) string {`
2. `func AddVmToMcis(wg *sync.WaitGroup, nsId string, mcisId string, vmInfoData *TbVmInfo) error {`
3. `func CreateVm(nsId string, mcisId string, vmInfoData *TbVmInfo) error {`

---

gRPC 도입 대비를 겸하여
다음 (안)과 같이 수정하는 것이 어떨까 합니다. (FYI: Namespace, MCIR 은 이 스타일로 되어 있습니다.)

[To-be]
1. `func CreateMcis(nsId string, req *TbMcisReq) (TbMcis

[2020-07-08 02:43] powerkimhub commented on #190
@jihoon-seo @seokho-son

- Tumblebug 서버를 구동 시키지 않아도,
- API Docs 페이지를 제공할 수 있는 방법도 고민해봐야 겠습니다.
- 아울러, API Version별 docs 제공도.

[2020-07-08 02:53] jihoon-seo commented on #190
잠시 찾아 보니, 이런 것들이 있습니다.

- [How to generate offline Swagger API docs?](https://stackoverflow.com/questions/34984820/how-to-generate-offline-swagger-api-docs)
  - [Swagger Editor](http://editor.swagger.io) - "Generate Client" menu - "HTML" or "Dynamic HTML"
  - [Swagger Codegen](https://github.com/swagger-api/swagger-codegen#generating-dynamic-html-api-documentation) - generate a static and dynamic

[2020-07-08 03:03] powerkimhub commented on #190
@jihoon-seo
정보 감사합니다.

- 뭔가를 더 해줘야 될것 처럼 보이네요.
  . 이슈: 그들의 서비스 위(안)에서 Api docs page가 제공 되어야 하나? 그럼, postman publish와 유사한 이슈.

- 많은 부가 작업을 요한다면, 일단 Api Docs 전용 TB 서버를 상시 띄워 두는 것도 방법이겠어요.
  . 이슈: 어디다 띄우지? 항상 떠있을 까?

[2020-07-08 05:29] #192 closed

[2020-07-08 05:29] #195 closed

[2020-07-09 02:13] seokho-son commented on #190
@powerkimhub
현재 CB-TB에서 Swagger API 문서를 웹페이지로 띄우는 이유는 다음과 같습니다.
- TB 개발자가 개발시 API 기반의 테스팅 및 API 변경에 대한 검토도 쉽게 할 수 있도록 지원
- 디플로이된 TB가 있고 서비스하고 있는 경우, 해당 TB의 버전이 어떤 API를 제공하는지 (사내?) 에 공유하는 시나리오에서 활용
- API 문서를 외부에 **퍼블리싱 하기 위한 목적은 아님**

Swagger 기반 API 문서의 공개(퍼블리싱) 방식은 다음과 같을 것 같습니다.
1. Swagger 커뮤니티(?)가 제공하는 무료 호스팅 서비스를 이용
2. 외부에 별도 API 웹사이트용 서버 운영
3. Github Page에 빌드된 Swagger API 문서 웹페이지를 포함 (썸하우..)

[2020-07-09 04:25] jihoon-seo opened #200 "TODO: Update Swagger annotations for MCIS/VM REST functions"
- Related PR: #198
  - TODO: Swagger annotations in [api/rest/server/mcis/control.go](https://github.com/cloud-barista/cb-tumblebug/blob/master/src/api/rest/server/mcis/control.go) are not complete.

[2020-07-09 08:42] #200 closed

[2020-07-09 09:10] jihoon-seo opened #202 "Issue: List and style of CB-Tumblebug CLI tool arguments"
- Candidates of binary's name
  - tbctl
  - tb
  - tumblebug

---

[Style 1]
| Subcommands | Subsubcommands |
|---|---|
| ns & namespace | create / get / list / listid / delete / deleteall / (update/modify) |
| vnet & vpc | " |
| sg & securitygroup | " |
| sshkey & keypair | " |
| image | " |
| spec & flavor | " |
| mcis | " |
| vm | " |
| (subnet) | " |

[Style 2] (K8s-style)
| Subcommands | Subs

[2020-07-14 07:42] jihoon-seo opened #205 "GitHub says v0.1.0-americano is the latest release"
[[CB-TB Repo main page](https://github.com/cloud-barista/cb-tumblebug)]
![main](https://user-images.githubusercontent.com/46767780/87398434-d388c400-c5f0-11ea-8bcc-30b6873d34f7.png)

---

[[CB-TB Releases page](https://github.com/cloud-barista/cb-tumblebug/releases)]
![releases](https://user-images.githubusercontent.com/46767780/87398509-e8655780-c5f0-11ea-978a-59fc15b2892d.png)

[2020-07-15 04:53] jihoon-seo opened #206 "TODO: Need to update Dockerfile"
[Build container image]
[code]

[Run container]
[code]

[2020-07-15 05:49] jihoon-seo opened #207 "TODO: Update to support Spider's force delete feature"
Related: https://github.com/cloud-barista/cb-spider/issues/228

[2020-07-15 06:07] seokho-son commented on #205
I am working on this

[2020-07-15 23:38] #206 closed

[2020-07-16 01:20] seokho-son commented on #205
v0.1.0-americano had a wrong commit which leads the latest release.

I changed the commit and date for v0.1.0-americano tag.
Please check, https://github.com/cloud-barista/cb-tumblebug/releases/tag/v0.1.0-americano

Now, the latest release bug has been resolved.

### FYI : procedure to change commit and date for an existing tag. (cf: @jihoon-seo, @powerkimhub)

1. `git show-ref --tags`
// check ex

[2020-07-16 01:22] #205 closed

[2020-07-17 01:22] #207 closed

[2020-07-24 00:50] #184 closed

[2020-07-29 05:01] jihoon-seo commented on #190
[Offline Swagger API doc samples]

[[Swagger Editor](http://editor.swagger.io)]
- HTML: http://132.145.80.18:8080/v0.2.0-20200715/html-client/index.html
- HTML2: http://132.145.80.18:8080/v0.2.0-20200715/html2-client/index.html

[2020-07-29 05:49] seokho-son commented on #190
해당 문서를 GitHub Page를 통해 호스팅하면 좋을 것 같습니다. (웹페이지로 보기, HTML 파일 다운로드)

[2020-07-29 06:36] jihoon-seo opened #216 "Info: How to update Swagger annotations in CB-Tumblebug"
[Download Swag for Go] (Do only once)
(FYI: [Swag](https://github.com/swaggo/swag) converts Go annotations to Swagger Documentation 2.0.)

[code]

---

[Optional: Add `~/go/bin` to your `$PATH`] (Do only once)

Add lines like these in your `.bashrc` or `.zshrc`:
[code]

---

[Update Swagger annotations in these files:]

- common
  - https://github.com/cloud-barista/cb-tumblebug/blob/master/src/api

[2020-07-29 06:39] jihoon-seo commented on #216
Migrated to Wiki: https://github.com/cloud-barista/cb-tumblebug/wiki/Info:-How-to-update-Swagger-annotations-in-CB-Tumblebug

[2020-07-29 06:39] #216 closed

[2020-07-29 06:43] jihoon-seo commented on #186
Migrated to Wiki: https://github.com/cloud-barista/cb-tumblebug/wiki/Info:-Go-struct---JSON-field-name-match-table

[2020-07-29 06:43] #186 closed

[2020-07-29 06:57] jihoon-seo commented on #27
As of 2020-07-29:

| REST-handling func  | Actual func |  |
| ------------- | ------------- | --- |
| RestDelAllImage  | DelAllResources | (Unified common function) |
| RestDelImage  | DelResource | (Unified common function) |
| RestGetAllImage  | ListResource | (Unified common function) |
| **(Does not exist)** | ListResourceId | (Unified common function) |
| RestGetImage  | GetResource | (Unifie

[2020-07-29 08:07] jihoon-seo commented on #190
저는 위의 옵션들 중에서는 SwaggerHub 을 통해 제공하는 것이 가장 가독성/편의성 등이 좋아 보입니다.
- https://app.swaggerhub.com/apis-docs/jihoon-seo/cb-tumblebug/v0.2.0-20200729

[SwaggerHub 관리 방법]
- SwaggerHub 에 새 API 버전 (예: `v0.2.0-20200729`) 객체를 만들고,
개발 환경에서 `swag i` 명령을 통해 업데이트한 `swagger.yaml` 파일의 내용을 붙여넣기 합니다.
(참고: https://app.swaggerhub.com/apis/jihoon-seo/cb-tumblebug/v0.2.0-20200729)
- 제가 SwaggerHub 에서 `v0.2.0-20200715` 버전과 `

[2020-07-29 09:18] seokho-son commented on #190
@jihoon-seo
확인 및 테스트 공유에 감사 드립니다!! 🥇 👍

그렇다면, SwaggerHub가 제공하는 무료 호스팅 서비스를 사용하고,
향후에 특별한 의존성(SwaggerHub의 유료화 등)이 생긴다면, html 파일을 활용하여 다른 방식으로 호스팅하면 될 것 같습니다.

@dongjae  @powerkimhub
Cloud-Barista 전체에 관련된 사항이므로 의견 공유 요청 드립니다.

[2020-07-31 05:42] #94 closed

[2020-07-31 08:01] jihoon-seo opened #225 "TODO: Add 'credentials.conf' existence check logic in 'test/official/1.configureSpider/*.sh'"
[code]

[code]

[code]

[code]

[2020-07-31 08:03] seokho-son commented on #225
@jihoon-seo https://github.com/cloud-barista/cb-tumblebug/pull/223
에 따라, 사용자/개발자가 credentials.conf 를 직접 생성하는 것으로 변경하였는데,
credentials.conf 을 생성해서 사용해도 같은 오류가 나는지요?

[2020-07-31 08:20] jihoon-seo commented on #225
@seokho-son
`credentials.conf` 를 생성해서 사용하면 오류가 나지 않을 것입니다.

---

1안 (이 이슈에서 제안하는 내용):
`../credentials.conf` 가 존재하지 않으면 스크립트의 실행을 멈추는 구문을
`register-cloud.sh` 등에 넣어서
클라우드 등록 과정의 진행을 중단하도록 함

FYI: `../credentials.conf` 가 없는 상태에서 `register-cloud.sh` 를 실행시키면
Driver, Region 정보는 등록되는데
Credential, ConnectionConfig 는 등록되지 않습니다.

[code]

[code]

---

2안:
`test/official/README.md` 에서 `credentials.conf` 를 생성해

[2020-08-02 23:47] jihoon-seo commented on #84
Ref: https://github.com/cloud-barista/cb-spider/issues/239

[2020-08-03 01:28] seokho-son commented on #225
@jihoon-seo 1안이 좋은 방법인 것 같습니다.
혹시 이미 작업 완료하셨으면 PR 부탁드립니다. (아니면 제가 ^^)

[2020-08-03 05:23] jihoon-seo commented on #225
@seokho-son 제가 곧 PR 올리겠습니다.

[2020-08-03 07:28] #225 closed

[2020-08-06 01:17] seokho-son commented on #161
This guideline has been confirmed by Cloud-Barista steering meeting !

[2020-08-18 08:32] jihoon-seo commented on #84
[Request to Spider] (in cb-tumblebug/test/official/6.image/spider-get-image.sh)
[code]

[Response from Spider]
[code]

---

[Request to Spider] (in cb-tumblebug/test/official/6.image/spider-get-imagelist.sh)
[code]

[Response from Spider]
[code]

[2020-08-20 01:54] seokho-son commented on #202
@jihoon-seo
cbadm (cbctl) 에 대한 이슈인가요?
아니면 tbctl (가칭, 텀블벅 시험 전용 cli 도구) 에 대한 이슈인가요?

cbadm (cbctl) 의 경우,
1번 스타일(개별 자원을 기준으로 처리)이 기본적 제공 사항으로 개발하는 것으로  sig-cli와 협의가 되어 있고,
2번 스타일(apply, list 의 커맨드를 기준으로 처리)도 제가 sig-cli에 제안한 바 있습니다. (구현이 진행되는지 여부는 확인이 필요합니다)

tbctl 자체에 대한 이슈라면,
현재는 1번 스타일을 위한 틀 정도만 구현되어 있어서,
어느쪽 스타일로 가든지 무관할 것 같고, 개인적으로는 2번 스타일을 선호합니다.

[2020-08-21 02:52] jihoon-seo commented on #202
@seokho-son

아니면 tbctl (가칭, 텀블벅 시험 전용 cli 도구) 에 대한 이슈인가요?

이 이슈 작성 당시에는 tbctl 에 대한 이슈라고 생각하고 작성하였고,
cbadm (cbctl) 에 대해서도 논의될 수 있겠습니다.

1번 스타일(개별 자원을 기준으로 처리)이 기본적 제공 사항으로 개발하는 것으로 sig-cli와 협의가 되어 있고,
2번 스타일(apply, list 의 커맨드를 기준으로 처리)도 제가 sig-cli에 제안한 바 있습니다. (구현이 진행되는지 여부는 확인이 필요합니다)

알겠습니다.

현재는 1번 스타일을 위한 틀 정도만 구현되어 있어서,
어느쪽 스타일로 가든지 무관할 것 같고, 개인적으로는 2번 스타일을 선호합니다.

알겠습니다. 추후 tbctl 에 대한 필요성이 높아

[2020-08-21 05:29] #185 closed

[2020-08-21 06:54] jihoon-seo opened #235 "TODO: "sshKey" -> "accessKey""

[2020-08-21 07:17] jihoon-seo opened #236 "TODO: Add gRPC codes for new core functions"
- #234
  - `func RegisterImageWithId(nsId string, u *TbImageReq) (TbImageInfo, error)`
  - `func LookupImageList(connConfig string) (SpiderImageList, error)`
  - `func LookupImage(connConfig string, imageName string) (SpiderImageInfo, error)`
  - `func FetchImages(nsId string) (connConfigCount uint, imageCount uint, err error)`

[2020-08-21 07:29] #84 closed

[2020-08-24 05:59] jihoon-seo commented on #236
[Steps]
1. Add new core functions (done)
2. Add REST API handling functions (done)
3. Add ProtoBuf IDL
   - [src/api/grpc/protobuf/cbtumblebug/cbtumblebug.proto](https://github.com/cloud-barista/cb-tumblebug/blob/master/src/api/grpc/protobuf/cbtumblebug/cbtumblebug.proto)
4. Generate `*.pb.go` with `protoc`
   - `cd cb-tumblebug/src/api/grpc/protobuf`
   - `make`
5. Add codes for other files

[Fil

[2020-08-24 08:44] #236 closed

[2020-08-25 01:13] jihoon-seo opened #239 "TODO: Move(+Rename) cbadm"
- Current location
  - [cb-spider/interface/cli/cbadm/](https://github.com/cloud-barista/cb-spider/tree/master/interface/cli/cbadm)
  - [cb-tumblebug/src/api/grpc/cbadm/](https://github.com/cloud-barista/cb-tumblebug/tree/master/src/api/grpc/cbadm)

---

- Name candidates
  - cbadm
  - cbctl
  - (tbctl - Fork and modify to a tool for controlling CB-Tumblebug)
  - ...

- Location candidates
  - htt

[2020-08-25 01:21] powerkimhub commented on #239
## CB-Waterstrider(Cloud-Barista Interface)
###    = API(REST or Go) + CLI + WebTool

[already exist]
- https://github.com/cloud-barista/cb-webtool

[suggest]
- https://github.com/cloud-barista/cb-cli
- https://github.com/cloud-barista/cb-api

[2020-08-25 01:35] jihoon-seo opened #240 "Suggestion: Singular/plural form of objects in cbadm subcommands"
사소하다고 볼 수도 있겠습니다만..

[cbadm subcommands]
| Subcommands | Subsubcommands |
|---|---|
| connect-infos | create, list, get, delete |
| credential | create, list, get, delete |
| driver | create, list, get, delete |
| region | create, list, get, delete |
| - | - |
| namespaces | create, list, get, delete |
| - | - |
| images | create, list, list-csp, get, get-csp, delete, fetch |
| keypairs | create,

[2020-08-25 05:49] seokho-son commented on #240
@jihoon-seo 저는
"2안: 단수형으로 통일" 우선 통일하는 것이 좋을 것 같습니다.
코브라에서 자동으로 만들어주는 help 기능을 고려하면, 명령어가 1개로 명확 것이 좋을 것 같기 때문입니다.

kubectl의 경우 오퍼레이션을 우선적으로 명시하는 방식이라, 현재 cbadm 의 명령어 구성 방식과는 다소 차이가 있겠네요.

[2020-08-27 04:25] jihoon-seo opened #242 "Suggestion: Make cbadm executable without sourcing setup.env"
@powerkimhub
(이 이슈는 cb-store / cb-log 와 관련이 있습니다.)

---

현재 `cbadm` 을 실행할 때, (예: CB-Tumblebug 에서 사용하던) `setup.env` 를 적용해야 실행이 가능합니다.

---

[code]

(`cbadm`이 cb-log 패키지를 활용하였고,
cb-log에서는
`CBLOG_ROOT` 환경변수에 기재된 경로 아래의 `./conf/log_conf.yaml` 를 오픈하는데
`CBLOG_ROOT` 환경변수가 설정되어 있지 않아 `/conf/log_conf.yaml` 를 오픈 시도 했고 실패했음)

---

[code]

(`cbadm`이 cb-store 패키지를 활용하였고,
cb-store에서는
`CBSTORE_ROOT` 환경변수에 기재된 경로

[2020-08-27 05:07] powerkimhub commented on #242
@jihoon-seo @jmleefree

- cbadm이 cb-store를 사용해야 하는 부분이 있나요?

[2020-08-27 14:25] seokho-son commented on #242
@jihoon-seo Please change the title of this PR in English :)

[2020-08-28 02:03] jmleefree commented on #242
@powerkimhub  @jihoon-seo
- cbadm 이 CBSTORE_ROOT 를 사용하는 것은 버그로 수정사항 커밋했습니다.

[2020-08-28 02:07] #242 closed

[2020-08-28 02:25] powerkimhub commented on #242
@powerkimhub @jihoon-seo @seokho-son

이제 남은 환경변수들이 다음과 같군요.

- Client
  - CBLOG_ROOT: logger 설정 파일 위치를 위한 환경변수

- Server
  - CBLOG_ROOT: logger 설정 파일 위치를 위한 환경변수
  - CBSTORE_ROOT: 메타 정보 저장소 및 설정 파일 위치를 위한 환경변수
  - {FW}_ROOT: 프레임워크 내 특정 path 및 파일 위치를 위한 환경변수

필요한 시점이 되면 이런 방식으로 변경 하면 될듯합니다.
- (방법-1) /etc/cloud-barista/* 등 특정 위치에 설정 파일 설치
- (방법-2) 설치시 cloud-barista 경로 하나만 입력 받거나, 환경 변수($CLOUD-BARIST

[2020-08-28 03:08] jihoon-seo opened #246 "Suggestion: Separate common components installation guides to common repo"
@powerkimhub @seokho-son

현재 Spider, TB, Dragonfly 등의 README 에
Go, Docker 등의 설치 방법을 안내하고 있을텐데요
이 부분을 분리하여 공통 repo에 두고
TB README 안에는 [공통 repo / Go 설치 방법.md] 로의 링크를 제공하는 방식으로 바꾸는 것은 어떨지
제안해 봅니다.

- 사유
  - 공통 부분 중복을 줄임
  - 한 곳만 업데이트하면 됨
- 단점
  - 사용자가 TB 등의 README 를 따라가다가, 다른 파일도 조회해 봐야 함 (context 전환)
- 기타
  - 다른 곳에서도 이런 식(링크)으로 제공하는 경우가 있음

[2020-08-28 03:19] seokho-son commented on #246
중복되는 내용이 많으면 공통으로 사용하는 것도 방법인데,
해당 사항은 중복되는 내용이 그리 많지는 않을 것 같네요.
보통 파일을 공통으로 사용하게되면 해당 파일의 오너십이 약해져서 관리가 안되는 경향도 있는것 같습니다.
그래서 이건은 지금처럼 각 리포에서 관리하는 것이 좋을 것 같습니다.

[2020-08-31 06:16] jihoon-seo opened #250 "Suggestion: CSP quota awareness features"
Issue raised by @seokho-son

[2020-08-31 08:10] jihoon-seo opened #251 "TODO: Write cbadm README"
- https://github.com/cloud-barista/cb-tumblebug/tree/master/src/api/grpc/cbadm
- https://github.com/cloud-barista/cb-spider/tree/master/interface/cli/cbadm

[2020-08-31 08:12] jihoon-seo commented on #251
README 작성 시, #240 의 내용을 참고할 수 있습니다.

[2020-08-31 08:28] jihoon-seo opened #252 "TODO: Add subnet mgmt features"

[2020-09-02 08:46] jihoon-seo opened #254 "Issue: Add xxx_test.go files"

[2020-09-03 11:59] sykim-etri opened #255 "Issue: when creating a MCIS, should a user post a cloud service provider(CSP) dependent information as parameter?"
[CB-Tumblebug의 API 스펙](https://cloud-barista.github.io/rest-api/v0.2.0/tumblebug/mcis/)에 따르면 MCIS 생성시 아래의 파라미터를 전달해야 합니다. 이 중 spec_id나 image_id의 경우 CSP별로 사전 생성한 후 전달하는 것으로 보입니다.
[code]

CB-Tumblebug의 사용자(ex. CB-Ladybug)의 관점에서 보면 결국 CSP에 의존적인 정보를 내부적으로 관리해야 하는 상황으로 보입니다. 큰틀에서 사용자가 CB-Tumblebug에 MCIS 생성 등을 요청할 때 CSP에 의존적이지 않도록 해야 할 것으로 생각합니다.

"동적 MCIR 자동 생성/삭제" 기능이 개발되면 해소될 여지가 있어 보이기도 한데, image_id

[2020-09-04 00:35] jihoon-seo commented on #255
- image
  - [conf.env](https://github.com/cloud-barista/cb-tumblebug/blob/master/test/official/conf.env) 에, 다음과 같은 정보들을 미리 적어 놓았습니다.
    - Region `aws-us-east-1` 에서 사용할 cspImageId: `ami-085925f297f89fce1`
    - Region `aws-ap-northeast-2` 에서 사용할 cspImageId: `ami-00379ec40a3e30f87`
    - ...
    - (참고: AWS 등의 경우 똑같은 Ubuntu 18.04, 2020-09-04 버전이라도 Region에 따라 AMI ID가 다름)
  - [registerImageWithId.sh](

[2020-09-04 00:43] jihoon-seo commented on #197
As of 2020-09-04:

- Spec:
  - The default mode of REST API is `registerWithCspSpecName`.
https://github.com/cloud-barista/cb-tumblebug/blob/fa821fe0fb6db3581c5291e4b8228aac6b00d5df/src/api/rest/server/mcir/spec.go#L48
  - For now, `registerWithInfo` mode is also available.
https://github.com/cloud-barista/cb-tumblebug/blob/fa821fe0fb6db3581c5291e4b8228aac6b00d5df/src/api/rest/server/mcir/spec.go#

[2020-09-04 04:54] sykim-etri commented on #255
현재 Test Suite의 image와 spec 처리에 대한 상세히 설명 달라주셔서 감사합니다.
말씀해주신 현황에 따르면 현재는 **"공통"** spec_id나 image_id에 대해서는 별도로 관리하고 있지 않는 것으로 판단됩니다.

추후 CSP별 spec이나 image를 추상화하고 "동적 MCIR 자동 생성/삭제"를 연계하면 훨씬 사용하기가 편할 것 같고
추가로 MCIS에 포함될 VM을 선별할 대상 CSP 범주도 사용자가 지정할 수 있도록 하면 훨씬 자유도가 높아질 것 같습니다.

[2020-09-04 08:16] seokho-son commented on #255
@sykim-etri 질문 및 의견 감사합니다.. ^^

우선 텀블벅의 현황을 말씀드리면,
MCIR에 해당하는 자원들 (vNet, sshkey, image, spec, ..., 등) 을 CSP (클라우드 커넥션 컨피그)에 따라 직접 생성하고,
이를 활용하여 MCIS를 구성 및 생성하도록 되어 있습니다.
현황이 이런 이유는 MCIR의 경우 CSP에 의존적인 정보를 통합적으로 추상화하는 작업이 완료되지 않았기 때문입니다.
(예: 사용자가 사용하고자하는 VM의 이미지가 Ubuntu 18.04라고 하면 aws, gcp, azure 별로 사용하는 이미지의 ID가 제 각각임)

하지만, 말씀해주신 것과 같이, 텀블벅의 기본적인 방향성은, CSP에 의존적인 정보를 추상화하여,
MCIS 생성을 위해 필요한 절차 및 정보를

[2020-09-11 05:21] jihoon-seo opened #258 "Suggestion: Use Resty for REST client part"
Resty: Simple HTTP and REST client library for Go (inspired by Ruby rest-client)
https://github.com/go-resty/resty

[2020-09-11 05:28] jihoon-seo opened #259 "Suggestion: Move src/resource/cloudlocation.csv to assets/"
- Src: https://github.com/cloud-barista/cb-tumblebug/tree/master/src/resource
  - https://github.com/cloud-barista/cb-tumblebug/blob/master/src/resource/cloudlocation.csv
- Dst: https://github.com/cloud-barista/cb-tumblebug/tree/master/assets

@seokho-son, PTAL!

[2020-09-15 08:09] jihoon-seo commented on #258
I am working on this.

[2020-09-16 06:51] jihoon-seo opened #262 "Code convention: Use tab indentation for Go files (Follow gofmt)"
I (@jihoon-seo) prefer
- **space indents** to tab indents
- **4-space indents** to 2-space indents

---

It would be appreciated if you share any ideas!

[2020-09-16 06:57] seokho-son commented on #262
재미로 읽어보시기 바랍니다..^^
https://thenewstack.io/spaces-vs-tabs-a-20-year-debate-and-now-this-what-the-hell-is-wrong-with-go/

[2020-09-16 07:10] seokho-son commented on #262
@jihoon-seo
gofmt 의 기본 포멧을 사용하는 것은 어떨까요..?
https://golang.org/cmd/gofmt/

[2020-09-16 07:29] jihoon-seo commented on #262
@seokho-son
Go 는 tab 이 대세라는 것도,
gofmt 가 tab indent 로 맞춰주는 것도 처음 알았습니다.

현재 대부분의 .go 파일은 tab indent 인 것 같습니다.
(@cloud-barista/cb-tumblebug-maintainer 인 @seokho-son 과 @jihoon-seo 가
VSCode + Go extension 쓰고 있어서 그런 것 같습니다.)

말씀하신 대로, .go 파일은 gofmt 기본 포맷을 따르면 좋을 것 같습니다.

---

TB Repo에는 test 용 shell scripts 도 많은데요
몇 개를 확인해 보니 tab indent 도 있고 space indent 도 있습니다.

.sh 파일 등에 대해서는
1. 일단은 자유롭게 골라서 사용한다.
2.

[2020-09-23 03:00] seokho-son commented on #258
FYI: #261

[2020-09-24 02:28] #258 closed

[2020-09-24 06:30] jihoon-seo opened #263 "Bug: ListNs() returns weird values"
[code]

(There should be no namespaces.)

[code]

---

List Ns 했을 때 나오는 것들
- Spec
- Image
- ...

[2020-09-24 06:56] seokho-son commented on #263
@jihoon-seo 어떤 상황에서 버그가 발생하는지요?
다른 저장소의 업데이트 상황과 연계되어 있나요?

[2020-09-24 07:30] jihoon-seo commented on #263
TB 에서 CreateNs() 함수를 부르면
Key-Value store에
- Key: "/ns/NS-01"
- Val: (JSON)
[code]

이런 형식으로 저장합니다.

---

이후 Image 객체를 생성하면
Key-Value store에
- Key: "/ns/NS-01/resources/image/IMAGE-01"
- Val: (JSON)
[code]

이런 형식으로 저장합니다.

---

TB 의 ListNs() 함수를 부르면
[code]
를 호출하는데

`CBStore.GetList()` 함수는
`/ns` 라는 키의 하위에 있는 모든 Key-Val pair 를 리턴합니다.
- Key: "/ns/NS-01" 인 객체의 keyValue pair
- Key: "/ns/NS-01/resources/i

[2020-09-24 07:36] jihoon-seo commented on #263
[Files and functions that using `CBStore.GetList()` function]
- `src/core/common/namespace.go`
  - `func ListNs() ([]NsInfo, error)`
  - `func ListNsId() []string`
- `src/core/mcir/common.go`
  - `func ListResourceId(nsId string, resourceType string) []string`
  - `func ListResource(nsId string, resourceType string) (interface{}, error)`
- (obsolete) `src/core/mcir/obsolete/publicip.go`
  - `func

[2020-09-24 09:09] jihoon-seo commented on #263
`func ListNsId() []string` 에 해당 로직이 있습니다.
https://github.com/cloud-barista/cb-tumblebug/blob/e42e87081448772bcb459971079e1d677e18d10d/src/core/common/namespace.go#L131
그런데 필터링을 수동으로 해 줘야 합니다.
(위의 링크에서는
[code]
이렇게 필터링 하고 있음)

[2020-09-24 11:05] powerkimhub commented on #263
@jihoon-seo @seokho-son

**[개요]**
- Key-Value Store는 Key와 Value 내부 Semantic는 알지 못합니다. '/'의 포함 여부도...의미도...알지 못합니다.
- Key를 '/'를 사용하여 path를 만들어 관리하는 건 사용자의 몫이라 할수 있습니다.

**[계획]**
- Key "/ns/NS-01"에서 "/ns"는 Key는 아니고 Key의 일부 문자열로서,
- Key-Value Store 내부에서 의미를 부여하여 child list를 제공하는 것은 모호한 상황
- Cloud-Barista에서는 자주 쓰일 듯하니,
- cb-store utils에 다음 기능을 추가 예정
  - func GetChildList(keyValueList []*KeyValue, key

[2020-09-24 12:53] powerkimhub commented on #263
@jihoon-seo @seokho-son

**[utils.GetChildList() 추가 및 시험 완료]**
- 참고: https://github.com/cloud-barista/cb-store/blob/master/test/test-v.sh

[2020-09-25 07:23] jihoon-seo opened #264 "Bug: Deleting parent TB objects does not delete child TB objects"
Reason: https://github.com/cloud-barista/cb-tumblebug/issues/263#issuecomment-698275097
Key-Value store 에서
`/ns/NS-01` 을 삭제한다고 해서
`/ns/NS-01/` 하위의 object 들이 삭제되지는 않음

[안]
- 상위 자원 삭제 시 하위 자원 체크/삭제 로직 추가
- (모든 상위 자원에 `xxxValidate()` 함수 추가..?)

[2020-09-25 07:42] jihoon-seo opened #265 "Suggestion: Add UMLs of CB-Tumblebug operation flows"
Reference: https://github.com/cloud-barista/cb-ladybug/pull/2/files

[PlantUML WYSIWYG editors]
- https://liveuml.com/
- https://plantuml-editor.kkeisuke.com/
- https://www.planttext.com/

[2020-09-25 09:09] seokho-son commented on #265
@jihoon-seo This would be a nice feature !! but priority seems low.
Is the upcoming API tracking feature of the cb-apigateway a possible way to draw this information?

[2020-09-25 09:16] jihoon-seo commented on #265
@seokho-son I agree that the priority of this issue is low.
And it seems uncertain whether the sequence diagrams can be generated/drawn from the results of cb-restapigw's global tracing / API tracking.

[2020-10-05 07:39] #263 closed

[2020-10-05 09:07] #264 closed

[2020-10-05 09:37] #240 closed

[2020-10-05 09:38] jihoon-seo commented on #239
Yet another reference: **GitHub CLI**

- Repo URL: https://github.com/cli/cli
- Filename of binary: `gh`

[2020-10-05 11:20] jihoon-seo opened #269 "Bug: MCIS 객체를 제대로 만들지 못함"
원인:
#266 에서 다음 `List*Id()` 함수들에 `keyValue = cbstore_utils.GetChildList(keyValue, key)` 라인을 추가해서
`List*Id()` 함수들이 오동작함

- `func ListNsId() []string`
- `func ListResourceId(nsId string, resourceType string) []string`
- `func ListMcisId(nsId string) []string`
- `func ListVmId(nsId string, mcisId string) ([]string, error)`

---

해결책:
위의 함수들에서 `keyValue = cbstore_utils.GetChildList(keyValue, key)` 라인 삭

[2020-10-05 11:24] jihoon-seo commented on #269
추가:
지금은 `List*Id()` 함수들이 각각 구현되어 있는데,
이를
`src/core/common/utility.go` 에 추가한 `func GetChildIdList(key string) []string` 함수로 대체할 수도 있음

[2020-10-06 01:28] #146 closed

[2020-10-06 01:28] #269 closed

[2020-10-12 08:14] seokho-son opened #274 "Add mcis creation option for default cb-dragonfly agent mode"
Cloud-Barista 차원에서 MCIS에 모니터링 Agent 기본 탑재 요청이 있음.

MCIS의 모든 VM에 cb-dragonfly 의 agent 가 기본 탑재될 수 있도록

MCIS 생성 옵션 및 기능 제공 필요.

[2020-10-12 10:46] jihoon-seo opened #275 "Add REST/gRPC API to update configs while running"
[Configs]
https://github.com/cloud-barista/cb-tumblebug/blob/master/conf/setup.env

[code]

[2020-10-12 10:55] jihoon-seo commented on #29
- NS emptiness check: Implemented in PR #267
- MCIS emptiness check: Delete MCIS 명령을 내리면 하위 VM들을 모두 terminate & delete 하도록 되어 있어서, MCIS emptiness check 은 불필요 할 것 같습니다.

[2020-10-12 10:55] #29 closed

[2020-10-12 11:00] #165 closed

[2020-10-12 11:06] jihoon-seo commented on #125
[Related PRs]
- Separate REST and core logic, and export MCIR structs and functions (#169)
- Rename and export MCIS structs and functions (#175)
- Integrate struct pairs xxxReq and xxxInfo (#181)
- Integrate struct TbVmReq into TbVmInfo, and update RestPostMcisVm (#188)
- Separate xxReq from xxInfo struct, and Add Swagger annotations (#198)

[2020-10-14 07:00] #275 closed

[2020-10-19 11:15] jihoon-seo opened #278 "Bug: 'List vNet' function is not working"
`❯ ./get-vNet.sh aws 1 jhseo`
[code]

---

`❯ ./list-vNet.sh aws 1 jhseo`
[code]

---

원인:
`GetResource` 등의 함수에는
[code]
이와 같이 `nsId string` 을 정제 (underscore -> hyphen // Uppercase -> lowercase) 하는 부분이 있는데

`ListResource`, `ListResourceId` 함수에는 없음

[2020-10-19 12:03] #278 closed

[2020-10-21 01:45] jihoon-seo opened #280 "Fix: Replace `http.StatusFailedDependency` (424) with 404 or 500"
Related: https://github.com/cloud-barista/cb-ladybug/pull/6#discussion_r508939004

[2020-10-21 10:44] #280 closed

[2020-10-23 06:12] #274 closed

[2020-10-23 10:57] sykim-etri opened #284 "Question: stable branch for CB-Ladybug development"
에스프레소 릴리즈를 위한 CB-Ladybug 개발에 활용할 수 있는 안정적인 CB-Tumblebug 버전이 궁금합니다.
참고로 현재는 tag:v0.2.0-cappuccino을 기준으로 개발 중에 있습니다.

[2020-10-23 18:15] seokho-son commented on #284
(cc @jihoon-seo )

@sykim-etri 텀블벅의 어떤 기능을 활용하시나요?

텀블벅은 master (개발 브랜치)가 항상 동작 가능하도록 유지하고 (노력하고) 있습니다.
따라서 master 최신 버전을 사용해도 무관할 것으로 보입니다.

그러나, 사용하시는 텀블벅의 기능이 tag:v0.2.0-cappuccino 로도 충분하시다면 꼭 최신 버전을 사용하실 필요는 없습니다.

[2020-10-27 01:23] seokho-son opened #286 "Cleanup duplicated codes in control.go"
[제안] (급하지 않음)

https://github.com/cloud-barista/cb-tumblebug/wiki/Call-chains-of-functions-in-src-core-mcis-*.go
여기를 보면

---

현재 (As-is)
| REST / gRPC function | Wrapper function | Core function |
|---|---|---|
| RestGetMcis <br> GetMcisInfo  | CoreGetMcisInfo  | GetMcisStatus, CBStore.Get, ListVmId, GetVmStatus  |

사용자가 REST / gRPC API 를 호출하여 REST / gRPC 함수가 호출되면
Wrapper function 인 `CoreGetMcisIn

[2020-10-27 02:25] #284 closed

[2020-10-27 04:15] seokho-son opened #287 "Apply Resty to Go native rest client for readability"
Resty 를 활용해 볼 수도 있겠습니다.
(반드시 활용해야 하는 것은 아닙니다.)

_Originally posted by @jihoon-seo in https://github.com/cloud-barista/cb-tumblebug/pull/285#r512342379_

[2020-10-27 08:18] seokho-son opened #288 "Add searching feature for spec and image"
(이슈)
최적 배치를 위한 기반 모듈 필요 (sql 기반)

(개발필요사항)
- spec을 검색 및 소팅할 수 있는 기능 모듈
  - 조건 기반 리스트 필터링 모듈: Num_vCPU, Mem_GiB, Storage_GiB 등 조건 입력시, 매칭되는 spec 오브젝트 리스트를 필터링하여 리턴
  - 조건 기반 리스트 정렬 모듈: cost_per_hour 등의 조건 입력시, cost_per_hour를 기준으로 소팅 (향후 추가되는 evaluation_1,..,7로도 소팅 가능)
- spec 오브젝트에 항목 추가 및 업데이트 기능 모듈
  - spec 오브젝트에 항목 추가
     - "evaluation_status" : spec의 평가 상태가 담길 항목 (Value: "evaluated", "evaluatin

[2020-10-27 08:18] seokho-son commented on #288
PTAL: @jihoon-seo

[2020-10-27 09:27] seokho-son commented on #262
test 용 shell scripts 는 쉽게 변경될 수도 있어서, 1번 안을 선호합니다.. ^^
이 정도로 일단락하고, 향후에 정리하면 좋을 것 같습니다.

[2020-10-27 09:27] #262 closed

[2020-10-28 02:35] seokho-son opened #289 "Improve auto CB-Dragonfly deployment and configuration test script"
(현재)
TB을 통해서 DF 자동 설치를 위한 스크립트 실행 과정이 다소 복잡

(개선)
스크립트들을 연계시켜, 2단계로 모니터링을 위한 준비를 완료함
1. DF 용 MCIS 생성
2. DF 배치 및 TB의 DF Endpoint 환경 설정

[2020-10-28 02:38] seokho-son opened #290 "Provide Master_IP for a MCIS"
(현재)
- MCIS에는 다수의 VM이 포함되어 있음.
- 접속을 위해서는 VM의 개별 IP를 확인 중.

(이슈)
- MCIS의 대표 VM 및 VM의 IP 조회가 필요

(개선)
- MCIS status 객체에 대표 IP (master IP)와 대표 VM_ID (master vm id) 를 추가
- MCIS status 요청시 해당 정보 회신

[2020-10-28 04:10] seokho-son opened #291 "Need parallel execution for expand mcis script"
(현황 및 이슈)
- expand mcis script 가 mcis 확장을 시퀀셜하게 처리하고 있음.
- 많은 수로 확장시 시험 시간이 많이 소요됨.

(개선)
- 스크립트 내의 expand 커맨드 병렬 수행하도록 개선.

[2020-10-28 04:12] #255 closed

[2020-10-28 04:57] #289 closed

[2020-10-28 06:04] sykim-etri commented on #255
혹시 개선 사항 등에 관한 이슈들는 차후 어떻게 관리가 되는지요?

[2020-10-29 02:50] vlatte opened #295 "Create VM in specified MCIS"
VM 생성 시 아래와 같은 오류가 나며 등록이 되지 않습니다.
원인이 무엇인지 확인 가능할까요?

[code]

생성 테스트
[code]

로그
[code]

[2020-10-29 06:01] sykim-etri opened #296 "When terminating MCIS, 'runtime error' is occurred"
cb-webtool 동작 테스트를 하면서 발생한 에러입니다. 명확한 시나리오를 따라서 테스트하진 않아서 재현될지는 모르겠습니다. 가볍게 관련 코드를 검토하시면 좋겠습니다.
참고로 cblogs.log에 특별한 내용은 없어 보였습니다.

o Version: v0.2.0-cappucino

[code]

[2020-10-29 08:27] jihoon-seo opened #298 "Suggestion: Request body of spec range-filtering"
FYI: Request body of 'exact match filtering' of spec
https://github.com/cloud-barista/cb-tumblebug/blob/master/test/official/7.spec/filter-specs.sh

[code]

---

Suggestion: Request body of spec range-filtering

[code]

[2020-10-29 08:37] sykim-etri opened #299 "Almost hang when creating MCIS with non existing image"
실수로 없는 AMI ID로 MCIS 생성을 요청하였는데, InstallMonAgent까지 진행되면서 계속 SSHRUN을 시도하고 있는 상황이오니 검토를 부탁드립니다.

o Tested version: v0.2.5
o Log : [non-existing-image.log](https://github.com/cloud-barista/cb-tumblebug/files/5456981/non-existing-image.log)

[2020-10-29 08:38] sykim-etri commented on #296
해당 상황에서 v0.2.5 버전를 실행하였을 때는 에러 핸들링(정상 에러 출력)을 하는 것을 확인하였습니다.

[2020-10-29 08:38] #296 closed

[2020-10-29 09:08] jihoon-seo opened #300 "TODO: Change HTTP code for failed NsValidation"
As-is:
https://github.com/cloud-barista/cb-tumblebug/blob/efb159dc51765c7ab785ac1d1261f0aa08e76510/src/core/common/namespace.go#L40

NS 검증에 실패하면
`http.StatusUnauthorized` (401) 를 리턴함

현재 TB 에 BasicAuth 가 적용되어 있기 때문에
Auth 문제가 아닌 곳에 Unauthorized 코드를 사용하는 것은 부적절함

---

To-Be: 다음 중 하나로 교체
https://developer.mozilla.org/ko/docs/Web/HTTP/Status
- 404 Not Found
- 500 Internal Server Error
- ...

[2020-11-02 00:54] jihoon-seo opened #301 "TODO: Add sorting criteria in 'SortSpecs' function"
Related PR: https://github.com/cloud-barista/cb-tumblebug/pull/297#issuecomment-718759647

[2020-11-04 01:02] jihoon-seo opened #303 "TODO: Update the function 'UpdateSpec'"
- Ref: https://github.com/cloud-barista/cb-tumblebug/pull/302#issuecomment-721453990

[Request]

`cb-tumblebug/test/official/7.spec# ./test-update-spec.sh`

[code]

현재로서는 `specId` 를
1. URL param 에도 명시해야 하고 (REST API endpoint 에 매치되도록)
2. JSON body 에도 명시해야 합니다. (JSON body 에 써 있는 `id` 를 이용하여 lookup)

향후 URL param 에만 명시해도 정상 동작하도록 업데이트 하면 좋습니다.

[2020-11-04 01:05] jihoon-seo opened #304 "TODO: Add gRPC codes for new functions"
- Function 'FilterSpecsByRange'
https://github.com/cloud-barista/cb-tumblebug/blob/5c137dabda9582f2141047e0434f3812d1514110/src/core/mcir/spec.go#L848

- Function 'SortSpecs'
https://github.com/cloud-barista/cb-tumblebug/blob/5c137dabda9582f2141047e0434f3812d1514110/src/core/mcir/spec.go#L1068

- Function 'UpdateSpec'
https://github.com/cloud-barista/cb-tumblebug/blob/5c137dabda9582f2141047e0434f3

[2020-11-04 01:08] jihoon-seo opened #305 "TODO: Improve spec-handling functions"
- Function 'FilterSpecs'
https://github.com/cloud-barista/cb-tumblebug/blob/5c137dabda9582f2141047e0434f3812d1514110/src/core/mcir/spec.go#L639

- Function 'FilterSpecsByRange'
https://github.com/cloud-barista/cb-tumblebug/blob/5c137dabda9582f2141047e0434f3812d1514110/src/core/mcir/spec.go#L848

- Function 'SortSpecs'
https://github.com/cloud-barista/cb-tumblebug/blob/5c137dabda9582f2141047e0434f3

[2020-11-04 01:09] seokho-son opened #306 "Enhance UpdateSpec API for duplicated param"
# Function 'UpdateSpec'

[Request]

`cb-tumblebug/test/official/7.spec# ./test-update-spec.sh`

[code]

(현재로서는 `specId` 를
1. URL param 에도 명시해야 하고 (REST API endpoint 에 매치되도록)
2. JSON body 에도 명시해야 합니다. (JSON body 에 써 있는 `id` 를 이용하여 lookup)

향후 URL param 에만 명시해도 정상 동작하도록 업데이트 하면 좋습니다.)

---

[Response]

[code]

[Double check]

`cb-tumblebug/test/official/7.spec# ./get-spec.sh`

[code]

_Originally po

[2020-11-04 01:10] #298 closed

[2020-11-04 01:10] #300 closed

[2020-11-04 01:10] #301 closed

[2020-11-04 01:11] jihoon-seo commented on #303
This issue is dup with #306.

[2020-11-04 01:11] #303 closed

[2020-11-04 01:30] jihoon-seo commented on #190
Enhanced by @seokho-son 👍

[2020-11-04 02:07] #190 closed

[2020-11-04 04:45] seokho-son opened #307 "Bug mismatch information in Spec filter and sort output"
There is a bug: mismatch information in Spec filter and sort output

son@son:~/go/src/github.com/cloud-barista/cb-tumblebug/test/official/sequentialFullTest$ ../7.spec/filter-specs.sh
####################################################################
## 7. spec: filter
####################################################################
{
   "spec" : [
      {
         **"cspSpecName" : "aws-us-

[2020-11-04 04:45] seokho-son commented on #307
PTAL (please take a look ~)
@jihoon-seo

[2020-11-04 05:01] jihoon-seo commented on #305
[How to convert `*sql.Rows` to typed JSON in Golang]
https://stackoverflow.com/questions/42774467/how-to-convert-sql-rows-to-typed-json-in-golang

[2020-11-04 05:03] jihoon-seo commented on #305
[Scanning large rows into structs in Go]
https://stackoverflow.com/questions/43898259/scanning-large-rows-into-structs-in-go

[2020-11-04 07:28] #307 closed

[2020-11-04 12:11] seokho-son commented on #161
Resolved by https://github.com/cloud-barista/cb-tumblebug/commit/d8be7cf7c7ae11d6a6b8ba58a91abc79625a6488

[2020-11-04 12:11] #161 closed

[2020-11-04 12:12] #160 closed

[2020-11-04 12:13] #246 closed

[2020-11-04 13:16] #290 closed

[2020-11-05 05:08] #288 closed

[2020-11-11 02:51] jihoon-seo opened #312 "Suggestion: Use GJSON in TB codes"
Found by @seokho-son

https://github.com/tidwall/gjson

[2020-11-11 04:47] jihoon-seo opened #313 "TODO: Separate `LowerizeAndCheck*` functions"
@jihoon-seo :

`LowerizeAndCheck*` 함수들이 지금도 개별적으로 각각 존재하고
이 PR에서도 추가되고 있고
앞으로 추가될 수도 있겠습니다.

`Lowerize` 함수와 `Check*` 함수를 분리하는 것이
더 효율적이고
더 readable 할 것 같습니다.

(현재 TB 코드에서는
`GenId` 함수를
`Lowerize` 용도로 사용하고 있습니다.)

---

약간 다른 이야기인데..
현재 코드 곳곳에 lowerize 하는 로직이 있기는 하지만
누락되어 있는 부분도 있을 수 있습니다.
동작 중 예상치 못한 입력에 대한 오류 상황이 발생할 수도 있구요.
이와 같이.. 코드상에서의 관리 이슈가 좀 있습니다.

TB 에서 대문자, underscore 처리를 어떻게 할 지
정책을 다시 정하

[2020-11-11 05:04] seokho-son opened #314 "Redundant LowerizeAndCheck* modules"
`LowerizeAndCheck*` 함수들이 지금도 개별적으로 각각 존재하고
이 PR에서도 추가되고 있고
앞으로 추가될 수도 있겠습니다.

`Lowerize` 함수와 `Check*` 함수를 분리하는 것이
더 효율적이고
더 readable 할 것 같습니다.

(현재 TB 코드에서는
`GenId` 함수를
`Lowerize` 용도로 사용하고 있습니다.)

---

약간 다른 이야기인데..
현재 코드 곳곳에 lowerize 하는 로직이 있기는 하지만
누락되어 있는 부분도 있을 수 있습니다.
동작 중 예상치 못한 입력에 대한 오류 상황이 발생할 수도 있구요.
이와 같이.. 코드상에서의 관리 이슈가 좀 있습니다.

TB 에서 대문자, underscore 처리를 어떻게 할 지
정책을 다시 정하는 것도 좋을 것 같습니다.

[2020-11-11 05:33] jihoon-seo commented on #314
This issue is dup with #313 ... :)

[2020-11-11 07:18] jihoon-seo commented on #295
안녕하세요
다음의 Tumblebug object 들을 생성할 때 사용하셨던 커맨드를 기재해 주시면
재현하여 확인해 보겠습니다.

1. NS
2. Image
3. Spec
4. SSH key
5. vNet
6. Security Group

---

커맨드 예시:
이 이슈의 본문에 적으신 형태와 동일하게 기재해 주시면 되겠습니다.

[code]

[2020-11-12 01:41] #314 closed

[2020-11-13 16:33] #174 closed

[2020-11-13 16:48] seokho-son commented on #295
@vlatte
혹시 MCIS 가 만들어져 있는 상황에서 해당 명령 실행하신 것인지요?

해당 명령어는 기존에 만들어진 MCIS가 있는 경우, MCIS에 요청한 VM을 1개 추가하는 명령어 입니다.
MCIS 가 없는 경우, VM이 추가가 되지 않습니다. 우선, MCIS를 하나 생성한 후 MCIS ID를 활요하여 VM 추가 기능을 사용하시는 것이 좋을 것 같습니다. (어쨌든 서버 애러가 나오면 안되는데, 문제 되는 부분은 디버깅을 해보도록 하겠습니다.. ^^)

텀블벅은 VM이 1개를 만들더라도 MCIS 오브젝트안에 포함시켜야 합니다.. ^^ VM이 1개 필요한 경우, VM이 1개 포함된 MCIS를 생성하시면 됩니다.

[2020-12-17 06:00] #313 closed

[2020-12-17 07:10] jihoon-seo commented on #306
TL;DR
Echo 를 이용했는데 URL param 을 제대로 읽지 못하는 것으로 보입니다.

---

`src/api/rest/server/server.go`
[code]

`src/api/rest/server/mcir/spec.go`
[code]

`test/official/7.spec/test-update-spec.sh`
[code]

---

`test/official/7.spec/test-update-spec.sh` 를 실행했을 때 TB 의 console output
[code]

`c.Param` 함수를 통해
`nsId` 는 잘 가져왔는데
`specId` 는 못 가져오고 있습니다.
현재로서는 원인을 모르겠습니다.

[2020-12-22 07:38] jihoon-seo opened #339 "Fix needed: All-the-same code blocks"
`if action == "mrtt"` 일 때와
`else` 일 때의 code block 이 동일합니다.

@seokho-son Please take a look!

https://github.com/cloud-barista/cb-tumblebug/blob/4c677c6bc622965c14e9ef6507f6cb547ab2a953/src/core/mcis/control.go#L578-L603

[2021-01-05 09:17] #339 closed

[2021-01-05 09:22] seokho-son commented on #312
@jihoon-seo 전체적으로 적용하는 것이 좋을까요?

일단 저는 CB-DF 의 모니터링 데이터 조회를 위해서 활용해보았습니다~
일부 파라미터만 필요하기 때문에, 전체 structure 가 필요 없을 것 같아서, gjson 을 적용해 보았어요.. ^^

https://github.com/cloud-barista/cb-tumblebug/blob/0e2da36556ecd81636356b99ed12207c44045279/src/core/mcis/monitor.go#L373-L389

[2021-01-06 01:25] jihoon-seo opened #342 "Suggestion: Change workflow name // Integrate 2 workflows"
[As-is]

https://github.com/cloud-barista/cb-tumblebug/actions

![image](https://user-images.githubusercontent.com/46767780/103717397-be717880-5008-11eb-97a6-91d7c226e2d1.png)

---

https://github.com/cloud-barista/cb-tumblebug/blob/0c21eb426dc7ecd23b86d6721e8f3a13d30e1dc3/.github/workflows/dockerhub.yaml#L1

My suggestion: `Multi-arch -> Docker Hub`

---

https://github.com/cloud-barista/cb-tumbl

[2021-01-06 01:33] seokho-son commented on #342
This PR is `good first issue`. @hermitkim1 could you help us ~ ? ;)

[2021-01-06 01:57] hermitkim1 commented on #342
Why not! I can help you of course 😄

In my understanding, it's needed to integrate 2 workflows and publish container images to Docker Hub and GHCR (multi-arch to Docker Hub, amd64 to GHCR).

Can I proceed with the above and make a PR?

[2021-01-06 02:12] jihoon-seo commented on #342
@hermitkim1
저의 제안은..

[As-is]

https://github.com/cloud-barista/cb-tumblebug/blob/0c21eb426dc7ecd23b86d6721e8f3a13d30e1dc3/.github/workflows/dockerhub.yaml#L53-L72

- Docker Hub 에 로그인 하고
- multi-arch build 하고 push

의 순서로 진행되는데..

[To-be]

위의 파일에

- GHCR 에도 로그인 하고
- (위에서 build 했던) multi-arch 이미지를 GHCR 에도 push

하는 내용을 추가하면
여러 번 빌드하지 않고 한 번만 빌드하여 두 곳에 올릴 수 있어서 좋을 것 같습니다!

(현재 `dockerhub.yaml`, `ghcr-

[2021-01-06 03:15] hermitkim1 commented on #342
@jihoon-seo

설명 감사드립니다!

Multi-arch container image를 Docker Hub와 GHCR 모두에 Publish할 수 있도록 워크플로우 통합을 진행하겠습니다.

진행 순서는 아래와 같습니다.
1) 두 워크플로우를 분석
2) `ghcr-push.yaml`에서 필요한 내용 발췌
3) 발췌한 부분 `dockerhub.yaml`에 추가
4) 그 밖에 필요한 부분 정리(name, 주석 등)
5) 통합된 워크플로우 Test

[2021-01-08 06:20] #342 closed

[2021-01-15 06:45] jihoon-seo opened #348 "TODO: Add associatedObjectList in TB objects"
Suggestion from @seokho-son
https://github.com/cloud-barista/cb-tumblebug/pull/347#pullrequestreview-568827067

[2021-01-15 07:14] seokho-son opened #352 "Issue to update readme for contributors"
This issue will be used to call allcontributors bot. (from @all-contributors)

To add a contributor of CB-Tumblebug in [README.md](https://github.com/cloud-barista/cb-tumblebug),
You can add a comment like this

[code]

You can check type of contributions in [here](https://allcontributors.org/docs/en/emoji-key).

The comment will open a PR to update README.md

[2021-01-15 07:15] seokho-son commented on #352
@all-contributors please add @seokho-son for Maintenance

[2021-01-15 07:26] seokho-son commented on #352
@all-contributors please add @powerkimhub for Ideas & Planning

[2021-01-15 08:10] hermitkim1 opened #356 "Suggestion: Ignore some files and directories in a workflow"
### [Suggestion]
Add `paths-ignore` to ignore some files and directories for executing the `build-and-publish-container-image.yaml` workflow efficiently

Currently, the workflow is performed frequently.

TO-BE (Commented are removed for readability)
[code]

### [Need help]
Could you review the below and tell me any files or directories that need to be added or deleted?
[code]

[2021-01-15 08:15] jihoon-seo commented on #356
@hermitkim1 좋으네요 ㅎㅎ

한 가지..
현재 `build-and-publish-container-image.yaml` 내용에 따르면
`Dockerfile` 을 이용하여 컨테이너 이미지 빌드를 하기 때문에
`Dockerfile` 은 ignore 하지 않아야 할 것 같습니다.. ^^
(`Dockerfile` 변경사항으로 인해 컨테이너 이미지 빌드가 실패할 수도 있음)

[2021-01-15 08:18] hermitkim1 commented on #356
@jihoon-seo

코멘트 감사합니다. `Dockerfile`은 `paths-ignore`에서 제외하겠습니다 :-)

[2021-01-15 08:27] jihoon-seo commented on #356
repo 를 훑어 보면서 메모해 봅니다.

[`paths-ignore` 에 추가할 만한 것들]
- assets/
- test/

왜냐하면..
`Dockerfile` 을 보면
[code]

1. `src/` 아래에 있는 파일들로 go build 를 하고
2. `conf/` 아래에 있는 파일들과 `cb-tumblebug` 바이너리를 복사하여
컨테이너 이미지를 만듭니다.

=> CI, go build, 컨테이너 빌드에 영향을 주는 파일들
- .github/
- conf/
- src/
- Dockerfile
- go.mod
- go.sum

---

따라서

처음에 적어주신 리스트와 합치면

[code]

CI, go build, 컨테이너 빌드에 영향을 주지 않는 파일들을 모두 포함하는 것 같습니다.
(디렉토리를

[2021-01-15 08:37] hermitkim1 commented on #356
아래와 같이 수정하여 반영하겠습니다.

[code]

[2021-01-15 09:15] seokho-son commented on #356
It seems @hermitkim1 is working on this issue :)
I am happy to assign this issue to you ~ ! Thank you so mmmuch. ;)

[2021-01-18 01:14] #356 closed

[2021-01-18 01:40] seokho-son opened #359 "Suggestion: Use [skip ci] in GitHub Actions"
How about supporting [skip ci] for GitHub Actions.

With this, we can skip CI if a commit title includes `[skip ci]`.

I think it is useful for handling bot generated PRs.

For instance, `allcontributors`-bot includes `[skip ci]` in every commit titles like [this PR](https://github.com/cloud-barista/cb-tumblebug/pull/355/commits).

Rf (How to): https://dev.to/epassaro/use-skip-ci-in-github-actions

[2021-01-18 01:41] seokho-son commented on #359
Call for experts : @jihoon-seo @hermitkim1

[2021-01-18 02:27] hermitkim1 commented on #359
I think it's a very useful magic trick, especially nice for bot-generated CI workflows. 👍
And also, a contributor can have 2 options (Perform workflow / Skip workflow).

[2021-01-18 02:37] #359 closed

[2021-01-20 08:39] seokho-son commented on #352
@all-contributors please add @sykim-etri for bug report

[2021-01-22 08:52] seokho-son opened #368 "Check appropriate 3rd party pkg"
In https://github.com/cloud-barista/cb-tumblebug/blob/master/src/api/rest/server/common/utility.go

`github.com/astaxie/beego/validation` has been included.

https://github.com/cloud-barista/cb-tumblebug/blob/a8680e552d77057d1afefee546538f494937ac03/src/api/rest/server/common/utility.go#L8

I found that `github.com/astaxie/beego/validation` is a fork of `https://github.com/beego/beego`.
It seems `

[2021-01-22 08:52] seokho-son commented on #368
PTAL @jihoon-seo

[2021-01-25 06:23] seokho-son opened #370 "Workflow build-and-publish-container-image is time consuming"
**[이슈]**
build-and-publish-container-image 워크플로우 수행시간이 너무 많이 걸려서([약 17분 ~ 20분 소요](https://github.com/cloud-barista/cb-tumblebug/actions?query=workflow%3A%22Build+and+publish+container+image%22)),
PR 리뷰에 어려움이 있음.

**[개선 방안]**
Build (테스트 및 이미징) 과 Publish 테스크를 별도의 워크플로우로 분리
(Publish 의 경우, PR이 승인 및 머지되고 나서 수행 가능해 보입니다. 또는 크론이벤트로 처리도 가능하겠네요.)

[2021-01-25 06:31] seokho-son commented on #370
/cc @hermitkim1 @jihoon-seo
어떻게 생각하시나요 ~ ?

[2021-01-25 06:39] jihoon-seo commented on #370
저도 좋다고 생각합니다.
PR 에 대해서는
`amd64` 이미지 빌드 테스트만 한다면
시간을 많이 줄일 수 있겠습니다.

[2021-01-25 06:49] hermitkim1 commented on #370
@seokho-son

좋은 의견 이십니다.

CB-Larva도 `build-and-publish-container-image`의 수행 시점에 대해 고민하고 있고요. 아래와 같은 계획을 가지고 있으니 참고 바랍니다.

현재 CB-Larva의 계획은
1) `develop` 브랜치에서 `release-xxx` 브랜치를 생성하는 시점에 `build-and-publish-container-image`를 수행하고,
2) `release-xxx` 브랜치의 `master` 또는 `develop` 브랜치 PR 수행하는 것 입니다.

참고: [BRANCHING-AND-RELEASING-STRATEGY](https://github.com/cloud-barista/cb-larva/blob/master/BRANCHING-AND-

[2021-01-25 08:10] jihoon-seo commented on #368
제가 추정하기로는
원래는 `github.com/astaxie/beego` repo 만 있었는데
개발자 (astaxie) 가
`github.com/beego` org 를 만들고
`github.com/beego/beego` repo 도 만들고, base repo 를 이것으로 변경한 것이 아닐까 합니다.

CB-Tumblebug 코드에
`"github.com/astaxie/beego/validation"` 로 되어 있는 것을
`"github.com/beego/beego/v2/validation"` 로 업데이트하려고 시도했는데 잘 되지 않아서
beego repo 에 이슈를 작성했습니다. (https://github.com/beego/beego/issues/4457)
커멘트가 달리면 그에 따라 업데이트를 하겠습니다.

[2021-01-25 09:19] seokho-son commented on #352
@all-contributors please add @dongjae for Ideas & Planning

[2021-01-25 10:13] hermitkim1 opened #374 "Discussion: Implement and apply an enumerated type"
### [제안]
- Constants Variable 선언시 enum 형태로 사용하는 것을 어떨까요?
- 상수의 연관성을 나타낼 수 있어 개발 또는 리뷰할때 소스코드의 직관성을 높일 수 있을 것 같습니다.
- 관련 PR: #367(closed), #371(closed)

### [논의 포인트]
- 관련된 코드 전반에 대해 수정이 필요한데, 불필요한 공수 일 수 있습니다. (IDE에서 잘 처리해준다면 좋을 것 같습니다. ㅎㅎ)
- 향후에도 유용하게 쓰인다면 적용하고 아니라면 현상태 유지하는게 좋을 것 같습니다.
- 참고) 현재 Golang에서 enum을 지원하지 않기 때문에 약간의 트릭이 필요합니다.
  - [An idiomatic way to implement an enumerated type](https:

[2021-01-26 01:40] hermitkim1 commented on #370
@jihoon-seo 님의 의견을 반영한 수정안 입니다.

### [수정 안]
- **`master` 브랜치로 `merge`시**: 기존 `build-and-publish-container-image` 워크플로우를 수정하여 활용
- **`feature` 브랜치 PR(`pull request`)시**: 신규 워크플로우(amd64 이미지 빌드 테스트) 추가

### [추가로 해결하고자 하는 이슈]
가능하면 이번 이슈를 해결하면서 아래 이슈를 함께 해결하고자 합니다.
- [이슈] `forked repo`에 `upstream repo`의 최신사항 반영 시 `build-and-publish-container-image` 워크플로우를 수행합니다.
  - 이벤트 상으로 보면 Local `master`를 Remote `m

[2021-01-26 01:58] jihoon-seo commented on #370
현재 `build-and-publish-container-image.yaml` 은 컨테이너 이미지 빌드를 위해 qemu 환경을 설정하는 부분도 들어가 있어서 시간이 좀 더 많이 걸리는 것 같습니다.
`amd64` 이미지만 빌드한다면
https://github.com/cloud-barista/cb-spider/blob/master/.github/workflows/docker-publish.yml
를 이용하는 방안도 있겠습니다.

[2021-01-26 06:49] seokho-son commented on #352
@all-contributors please add @Youngwoo-Jung for Ideas & Planning

[2021-01-27 02:43] seokho-son commented on #374
좋은 의견 감사합니다!
단순히 상수로 정의해서 사용하는 방법은 다소 가독성이 떨어지긴 하겠네요.

Golang이 Enum을 직접적으로 제공하지 않는데, 나름대로 이유가 있을 것 같습니다. (예를 들어, `pkg를 활용하는 것으로 촉진하기 위함` `컴파일시 처리되는 것 방지` 이랄지..) 아직은 저도 정확하게는 파악이 안되네요.. ^^ 워낙 관련 디스커션이 길고 많아서.. ㅎㅎ

일단 가능한 Golang 네이티브한 방법을 찾아보고, 대안이 없으면 제안해주신 Enum 스타일의 방법을 적용해보면 어떨까요?

[2021-01-27 10:23] #348 closed

[2021-01-28 06:44] hermitkim1 commented on #374
좋은 안 주셔서 감사합니다.

제가 제안한 Enum 스타일로 쓰는 방식은 보류하는 것이 좋을 것 같습니다.

그리고 아래의 계획을 다소 장기적으로 진행하고자 합니다.
1) Golang Native한 대안을 조금 더 탐색 또는 강구함
2) Golang에서 Enum을 어떤식으로 적용하는지 중간중간 확인

[2021-01-28 13:34] hermitkim1 opened #378 "Ubuntu-latest workflows will use Ubuntu-20.04 soon."
An annotation below appeared.

![image](https://user-images.githubusercontent.com/7975459/106145027-64537580-61b8-11eb-829e-997f0d86c8f6.png)

On workflow, we need to specify the version of Ubuntu soon ✔️

[2021-01-29 00:09] seokho-son commented on #378
/assign @jihoon-seo

[2021-01-29 00:09] seokho-son commented on #378
LGTM ^^

[2021-01-29 04:33] #370 closed

[2021-02-01 05:01] seokho-son commented on #352
@all-contributors please add @innodreamer for Ideas & Planning

[2021-02-01 06:07] seokho-son commented on #374
This issue has been moved to https://github.com/cloud-barista/cb-tumblebug/discussions/384
So, let me close this issue for now.

[2021-02-01 06:07] #374 closed

[2021-02-01 06:26] seokho-son commented on #378
Let's keep use “ubuntu-18.04” since it is the current recommended os-version for CB-Tumblebug development.
Once we change recommended os-version for CB-Tumblebug development, we may use Ubuntu-20.04 for image build.

related: https://github.com/actions/virtual-environments/issues/1816
[code]

/unassign @jihoon-seo
/assign @seokho-son

[2021-02-01 06:27] seokho-son commented on #378
/unassign @jihoon-seo

[2021-02-01 06:27] seokho-son commented on #378
/assign @seokho-son

[2021-02-01 06:58] #378 closed

[2021-02-08 02:43] seokho-son commented on #368
/assign @jihoon-seo

[2021-02-09 09:02] #368 closed

[2021-02-19 02:53] hermitkim1 opened #401 "Trigger pull_request_review_comment on the prow-commands workflow"
**What would you like to be enhanced**
: I'd like to **trigger pull_request_review_comment** on the prow-commands workflow.

**Why is this needed**
: The prow-commands workflow runs by triggering `pull_request_review_comment`.

When I leave a comment on GitHub review interface, prow-commands may not work.

**Proposed solution**
[Proposal]
[code]

[AS-IS]
[code]

[2021-02-19 02:57] jihoon-seo commented on #401
/lgtm

[2021-02-19 03:03] seokho-son commented on #401
@hermitkim1 그렇군요! 추가하면 좋을 것 같습니다! ^^

[2021-02-19 03:13] hermitkim1 commented on #401
@seokho-son @jihoon-seo

GitHub docs를 보다보니 `edited`도 추가할 필요가 있을 것 같아 Issue 내용 수정하였습니다.

[2021-02-22 12:18] seokho-son commented on #401
Resolved by #402
Thank you !

[2021-02-22 12:18] #401 closed

[2021-03-04 10:39] jihoon-seo opened #406 "go: inconsistent vendoring in cb-tumblebug"
**This is a Bug Report**

**What happened**
:
`~/cb-tumblebug/src# make`
[code]

**What you expected to happen**
: Build succeeds without error.

**How to reproduce it (as minimally and precisely as possible)**
:
- `~/cb-tumblebug# go mod vendor` (dump a copy of the vendored packages inside the local repo)
- `~/cb-tumblebug/src# make`

**Anything else we need to know?**
:
- Running `go mod vendor`

[2021-03-10 07:53] #259 closed

[2021-03-10 07:53] #406 closed

[2021-03-10 07:56] jihoon-seo opened #409 "Enable auto-push on new tag, to Docker Hub and GHCR"
**What would you like to be added**
:
얼마 전에 CB-TB repo 에 v0.3.1 tag 가 추가되었는데, Docker Hub 과 GHCR 에는 container image 가 push 되지 않았습니다.
- https://github.com/cloud-barista/cb-tumblebug/releases
- https://hub.docker.com/r/cloudbaristaorg/cb-tumblebug/tags?page=1&ordering=last_updated
- https://github.com/orgs/cloud-barista/packages/container/cb-tumblebug/versions

**Why is this needed**
:
CB-TB repo 에 t

[2021-03-10 08:17] #409 closed

[2021-03-15 05:45] seokho-son opened #412 "Add VM group feature to request multiple VMs simply"
**What would you like to be added**
MCIS 생성 요청시, VM 그룹 개념을 제공하여,
동일한 MCIR을 공유하는 VM의 생성을 쉽게 제공하도록 특징 추가

**Why is this needed**
기존에는 MCIS 생성시 동일한 MCIR을 공유하는 VM에 대해서도, 중복적으로 MCIR 명시가 필요했으며,
이는 향후 클러스터 단위의 VM 생성시 사용자의 불편을 야기할 수 있음.

[2021-03-15 05:45] seokho-son commented on #412
/assign @seokho-son

[2021-03-15 05:47] jihoon-seo commented on #412
- Related discussion: #405

[2021-03-15 07:30] #412 closed

[2021-03-29 09:19] jihoon-seo opened #420 "Container image tag: edge => latest"
**What would you like to be enhanced**
:
Container image tag: edge => latest

**Why is this needed**
:
널리 통용되고 있지 않은 `edge` 라는 태그 대신
널리 통용되고 있는 `latest` 라는 태그로 publish 하도록 변경
(@powerkimhub 님과의 협의를 통해 도출되었습니다.)

**Proposed solution**
:
Replace edge => latest
in
https://github.com/cloud-barista/cb-tumblebug/blob/master/.github/workflows/publish-multi-arch-container-images.yaml#L46

[2021-03-30 07:24] #420 closed

[2021-03-31 10:16] jihoon-seo opened #426 "Error occurs in JSON unmarshaling"
I guess that manipulating JSON with SJSON causes this problem.

**What happened**
:
[code]

**What you expected to happen**
:
Unmarshaling returns no error.

**How to reproduce it (as minimally and precisely as possible)**
:
[code]

**Anything else we need to know?**
:

**Environment**
- Source version or branch:
- OS:
- Others:

**Proposed solution**
:
Remove SJSON-using codes

**Any other contex

[2021-03-31 10:19] jihoon-seo opened #427 "TODO: Add codes to handle SSHAccessPoint"
Reference: https://github.com/cloud-barista/cb-spider/issues/334#issuecomment-805572885

**What would you like to be enhanced**
:
Add codes to handle a new CB-Spider VM attribute

**Why is this needed**
:
To handle a new CB-Spider VM attribute

**Proposed solution**
:

[2021-04-01 07:20] jihoon-seo opened #433 "Bug on UpdateAssociatedObjectList(add)"
현재 `test/official/sequentialFullTest/testAll-mcis-mcir-ns-cloud.sh` 스크립트는
3개의 VM으로 구성되는 1개의 MCIS를 생성합니다.

`❯ ./testAll-mcis-mcir-ns-cloud.sh mock 1 jhseo`
[code]

---

이 스크립트를 실행하면, 먼저
- vNet
- securityGroup
- sshKey
- image
- spec

5종류의 CB-Tumblebug MCIR object 를 1개씩 생성하고,
이후 3개의 VM으로 구성되는 1개의 MCIS를 생성하면서
위에서 생성한 MCIR 들의 `associatedObjectList` 필드를 업데이트 합니다.

**What you expected to happen**
:

그러므

[2021-04-01 09:53] #426 closed

[2021-04-02 09:24] #427 closed

[2021-04-05 09:08] jihoon-seo opened #442 "GCP image lookup fails"
**What happened**
:

**What you expected to happen**
:

**How to reproduce it (as minimally and precisely as possible)**
:

**Anything else we need to know?**
:

**Environment**
- Source version or branch:
- OS:
- Others:

**Proposed solution**
:

**Any other context**
:

[2021-04-05 16:10] seokho-son opened #445 "Deny long resource name string from GCP API"
**What happened**
: 리소스 명칭 길이에 의한 GCP API 거절

**What you expected to happen**
: 가이드가 필요함.. `delimiter` 삭제 가능?

**How to reproduce it (as minimally and precisely as possible)**
: CB-TB로 VM을 자동 생성하다보면, VM의 명칭이 Key이므로 어느정도 길어질 수 있음. CSP 리전 명칭등을 키에 활용하면, 'gcp-australia-southeast1-gcp3-delimiter-gcp-australia-southeast1-gcp3' 와 같은 수준으로 명칭이 길어질 수 있으며, 이 경우 GCP 는 오류를 리턴함.

**Anything else we need to know

[2021-04-05 16:17] seokho-son commented on #445
gcp-australia-southeast1-gcp3-delimiter-gcp-australia-southeast1-gcp3 는 69개 ~
제한은 60개 ?

[2021-04-05 16:28] seokho-son commented on #445
#341

[2021-04-05 21:20] seokho-son commented on #291
resolved !

[2021-04-05 21:20] #291 closed

[2021-04-05 21:24] seokho-son commented on #13
/close
can be reopen when someone requests this feature.

[2021-04-05 21:24] #13 closed

[2021-04-07 14:24] seokho-son commented on #445
- asia-south1		# region07 - Mumbai  India (문제: 자원 쿼터 부족, 현황: 해결X)
- australia-southeast1	# region09 - Sydney  Australia (문제: 자원명 길이 제한, 현황: 약어사용)
- europe-west1		# region11 - St. Ghislain  Belgium (문제: 없는 a존을 지정, 현황: b존 사용)
- northamerica-northeast1	# region15 - Montreal  Quebec  Canada (문제: 자원명 길이 제한, 현황: 약어 사용)
- southamerica-east1	# region16 - Osasco (Sao Paulo)  Brazil (문제: 자원명 길이 제한, 현황: 약어 사

[2021-04-08 14:57] seokho-son opened #450 "Alibaba image lookup fail"
**What happened**
: Alibaba 의 이미지 등록시, 룩업 image not found 오류 발생

**What you expected to happen**
: 안 발생

**How to reproduce it (as minimally and precisely as possible)**
: Alibaba 이미지 등록 실행

**Anything else we need to know?**
: 에러 로그
[code]

**Environment**
- Source version or branch: master
- OS: ubuntu
- Others:

**Proposed solution**
:

**Any other context**
:

[2021-04-08 14:57] seokho-son commented on #450
/assign @jihoon-seo

[2021-04-09 02:16] jihoon-seo commented on #450
- Alibaba 측에서 `ubuntu_18_04_x64_20G_alibase_20200220.vhd` 이미지를 내리고
`ubuntu_18_04_x64_20G_alibase_20210318.vhd` 이미지를 제공하고 있는 것으로 보입니다.
- `conf.env` 를 업데이트하는 PR을 올릴 예정입니다.
- 미래에 같은 문제가 다시 발생할 것으로 보입니다.

[2021-04-09 02:49] seokho-son commented on #450
@jihoon-seo 그렇군요. 숫자를 계속 변경해가며 기존 이미지를  deplicate 시키는 것일까요?
근데 이미지 룩업 안하고 vm 생성시에는 문제가 발생하지 않습니당. 알리바바가 이미지 리스트에서만 삭제하는 것일지도 모르겠네요.

[2021-04-15 01:01] seokho-son commented on #450
/close

[2021-04-15 02:00] jihoon-seo commented on #442
- Related issue: #444
- Related issue: #447

[2021-04-15 02:00] #442 closed

[2021-04-15 09:58] seokho-son opened #461 "Add TB APIs wrapping some Spider APIs"
**What would you like to be added**
: https://github.com/cloud-barista/cb-tumblebug/tree/master/src/testclient/scripts/1.configureSpider 에 해당하는 Spider API들을
TB API로 wrapping 하여,
MCIS 사용자가 Spider를 몰라도 TB를 사용할 수 있도록 API 확장이 필요

**Why is this needed**
: MCIS 사용자 및 TB 개발자의 편의성 향상 측면
(Based on a discussion in https://cloud-barista.slack.com/archives/CUUR82Q4D/p1618387746085700)

[2021-04-15 11:33] powerkimhub commented on #461
@seokho-son

- 확장 API 형상(TB Utility or CB API ??)에 따라 Cloud-Barista 규격/구조 등 형상에 영향이 있을 듯합니다.
- 추진 전에 확장 API 사전 공유 및 협의가 필요해 보입니다.

[2021-04-18 17:20] seokho-son commented on #299
@sykim-etri Bug 리포트 감사합니다. 해당 Bug는 0.3.0 이상 버전으로 릴리스되며 여러 커밋들에 의해서 해결된 것으로 보입니다.

현재 TB의 master 버전에서 다양하게 테스트를 해보았고,
실수로 없는 Image ID (AMI) 로 MCIS(VM)를 생성하면, TB가 VM 생성시 바로 오류 처리를 합니다.
그리고, 정상 생성되지 않은 VM의 경우 모니터링 Agent 설치 등을 수행하지 않고 바로 결과를 리턴합니다.

마스터 또는 곧 생성될 차기 프리릴리스 (CB-Tumblebug v0.3.5) 에서 시험해보시면 좋을 것 같습니다.
감사합니다.. ^^

[2021-04-19 05:16] seokho-son commented on #295
해당 이슈는 일단 Close 하도록 하겠습니다.. ^^
혹시 추가적으로 어려움이 있으시면 다시 이슈를 열어주시거나, 슬랙을 통해서 문의 부탁드립니다! ^^ 감사합니다.

[2021-04-19 05:16] #295 closed

[2021-04-19 05:30] #286 closed

[2021-04-19 10:44] jihoon-seo opened #469 "Abnormal MCIS/VM object can be created"
**What happened**
:
Although CB-Spider returned an error for the VM create request from CB-Tumblebug,
abnormal MCIS/VM object is created.
(정상적이지 않은 MCIS object 가 생성되는 경우가 있습니다.)

**What you expected to happen**
:
If CB-Spider returns an error for the VM create request from CB-Tumblebug,
MCIS/VM object is **not** created

**How to reproduce it (as minimally and precisely as possible)**
:
To be desc

[2021-04-19 12:54] seokho-son commented on #469
@jihoon-seo 리포트 감사합니다.
정상적이지 않은 MCIS object 가 생성되는 경우는 어떤 경우인가요? (VM의 creating이 완료되지 않은 MCIS?)

문제가 있는 VM을 포함한 MCIS 오브젝트인 경우, MCIS 삭제 기능을 통해서 삭제가 가능한 것으로 알고 있는데,
혹시 삭제가 되지 않는 상황에 직면하신 것인가요?

[2021-04-20 02:56] jihoon-seo opened #471 "Swagger validator says TB's swagger.yaml is invalid"
**What happened**
:
Swagger validator says TB's swagger.yaml is invalid.

https://cloud-barista.github.io/cb-tumblebug-api-web/?url=https://raw.githubusercontent.com/cloud-barista/cb-tumblebug/master/src/docs/swagger.yaml
![image](https://user-images.githubusercontent.com/46767780/115330471-135b8800-a1cf-11eb-8681-3ea85c5bb8f8.png)
https://validator.swagger.io/validator/debug?url=https%3A%2F%2Fraw

[2021-04-20 04:50] jihoon-seo commented on #469
@seokho-son

예를 들어, Cloud-Twin 테스트 시
CB-Spider 에 등록해 놓은 Credential 객체가 다음과 같습니다.

[code]

여기에서,
`DomainName` 이 `cloud-1`  과 다른 형식이거나
`MockName` 이 `mock_name-1` 과 다른 형식이면
사용자가 CB-Tumblebug 을 통해 VM 을 생성할 때
CB-Spider 에서 에러를 리턴하지만 (에러: "`DomainName` 이 `xxxx` 이다" 또는 "`MockName` 이 `xxxx` 이다")
CB-Tumblebug MCIS/VM 객체가 만들어지는 경우가 있습니다.
(이렇게 만들어진 MCIS/VM 객체는 `PublicIP`, `PrivateIP` 등이 비어 있는, 정상적이지 않은 객체임)

[2021-04-20 04:56] jihoon-seo commented on #469
CB-Spider 의 오류일 가능성도 있겠습니다.
한 번 살펴 보겠습니다.

[2021-04-20 05:25] jihoon-seo commented on #469
비정상적인 MCIS/VM 객체 예시

`# ./createAll-mcis-mcir-ns-cloud.sh all 1 jhseo`

[code]

CB-Spider 에서 `{\"message\":\"Internal Server Error\"}\n` 를 리턴했는데
CB-Tumblebug 이 비정상적인 MCIS/VM 객체를 만들었습니다.

[2021-04-20 05:45] seokho-son commented on #469
"status": "Failed",
"systemMessage": "{\"message\":\"Internal Server Error\"}\n",

VM 오브젝트 자체를 생성하지 않으면, MCIS에 어떤일이 발생한 것인지 알기 어렵고
그렇다고 MCIS 생성 자체를 도중에 중단하는 것도 어려울 것 같습니다. (여러 VM이 생성되고 있으므로)

따라서, status, systemMessage 를 통해서 해당 VM의 Provisioning이 정상적이지 않다는 것을 표시하고 있습니다. (단 애러메시지는 보완이 필요해보이네요..^^)

이는 비정상적인 MCIS / VM 객체라고 이야기하기 어려울 것 같습니다.

[2021-04-28 05:23] seokho-son commented on #299
/close

[2021-04-28 05:23] #299 closed

[2021-04-28 05:30] seokho-son commented on #196
@jihoon-seo 아래 방식을 통해서 처리할 수 있을 것 같습니다.
https://github.com/cloud-barista/cb-tumblebug/discussions/414#discussioncomment-546987
mcis get action 관련 API 파라미터는 처리가 된 것 같은데,

MCIR 쪽도 한 번 확인해봐주실 수 있을까요? 처리가 되어 있다면 ~ 해당 이슈는 close 하면될거 같습니다.. ^^

[2021-04-29 01:04] #124 closed

[2021-04-29 01:05] jihoon-seo commented on #124
필요 시, 이 이슈를 다시 열 수도 있겠습니다 :)

[2021-04-29 13:20] seokho-son opened #486 "Bug from cb-store if CB-TB gets empty metaDB"
**What happened**
: 새로 CB-TB 실행시, 오류 메시지 발생 (기능 동작에는 문제 없음)
[code]
**What you expected to happen**
: Error 메시지 없이 진행.

**How to reproduce it (as minimally and precisely as possible)**
: metaDB 삭제 (초기화) 상태에서 CB-TB 실행

**Anything else we need to know?**
: cb-store의 오류인 것으로 확인 (cb-store 에서 신규 DB에 아무 데이터도 없는 경우, Get 을 했을 때 발생하는 오류)

**Environment**
- Source version or branch: master
- OS: ubuntu
- Oth

[2021-04-29 13:21] seokho-son commented on #486
/cc @jihoon-seo

[2021-04-29 13:30] seokho-son opened #487 "What is near USE: syntax error"
TB 실행시 발생하는 `near "USE": syntax error` 는 무었인가요?

[code]

`err = common.SelectDatabase(common.DB_DATABASE)`

[2021-04-29 13:30] seokho-son commented on #487
/cc @jihoon-seo

[2021-04-30 01:58] #486 closed

[2021-04-30 08:01] seokho-son opened #489 "Swagger UI returns error for Get methods with body"
**What happened**
:
다음 GET API들은 Body로 GET에 대한 조건을 입력 받습니다.
GET ​/ns​/{nsId}​/resources​/filterSpecs
GET ​/ns​/{nsId}​/resources​/filterSpecsByRange

GET ​/lookupImage <- connectionConfig 만
GET ​/lookupImages <- connectionConfig 만
GET ​/lookupSpec <- connectionConfig 만
GET ​/lookupSpecs <- connectionConfig 만

Swagger UI 에서 Body를 포함한 Get을 금지하고 있어서, 다음과 같은 애러가 발생합니다.

Code | Details
-- | --
Undocume

[2021-05-01 08:01] #471 closed

[2021-05-01 08:09] seokho-son commented on #471
![image](https://user-images.githubusercontent.com/5966944/116775789-eb5a0780-aa9f-11eb-84c8-0d58208a032a.png)

@jihoon-seo 실제로 잘못된 API 명세가 포함되어 있었어요~~

[2021-05-03 01:17] seokho-son commented on #489
PTAL @jihoon-seo

[2021-05-03 01:17] seokho-son commented on #469
/assign @seokho-son

[2021-05-03 01:20] seokho-son commented on #125
[code]
Resolved by Change snakeCase to camelCase in MCIS #490

[2021-05-03 01:50] jihoon-seo commented on #489
[찾아 보니](https://www.thecodebuzz.com/failed-execute-fetch-on-window-request-get-cannot-have-body/),
[RFC 7231](https://tools.ietf.org/html/rfc7231#section-4.3.1) 에 따르면

라고 합니다.

Resty 도
[code]
코드를 실행하여 GET 에 body 를 넣을 수는 있지만
기본적으로는 GET 에 body 를 넣을 수 없습니다.

Swagger, Resty 등의 사례와 RFC 7231을 참고하여
TB REST API 중 JSON body 를 받는 것은
method 를 GET 외의 다른 것으로 변경해야 하지 않을까 싶습니다.

다른 링크:
- https://stackoverflow.co

[2021-05-03 06:36] seokho-son commented on #489
@jihoon-seo
그럼~ 아래 네 가지 방법이 있는건가욤

- Get with Query Param (Query URL이 다소 복잡)
- Post with JSON Body (조회인데 Post라 마음이 불편함)
- Get with JSON (기존 방식, Forced, Swagger 에서는 정상 동작하지 않음)
- Get with Path Param (리소스 Path에 해당하지 않는 경우 있음. 다른 오류도 발생 가능)

[2021-05-04 04:40] #125 closed

[2021-05-04 06:20] seokho-son commented on #489
Post with JSON Body (조회인데 Post라 마음이 불편함)
로 일단 PR 올렸습니다.

[2021-05-04 06:21] #489 closed

[2021-05-04 07:41] jihoon-seo opened #499 "Some SQL rows are not deleted, although "unregister-all-images" is executed"
(Reported by @seokho-son)

**What happened**
:
"fetch-images" 를 실행하여 15,000 여개의 TB image object 가 등록된 상태에서
"unregister-all-images" 를 실행하면
Key-Value store (cb-store -> nutsdb) 에서는 모두 지워지지만
SQLite 에는 5,462 여개의 rows가 남아 있음

[code]

![image](https://user-images.githubusercontent.com/46767780/116972887-a976ce80-acf6-11eb-90d1-fde200a24b6b.png)

**What you expected to happen**
:
SQLite 에서도 모든 rows가 삭제됨

[2021-05-10 10:19] jihoon-seo commented on #487
`src/main.go` 의 `main()` 함수가 실행되면
다음 과정이 수행됩니다.

1. `OpenSQL("../meta_db/dat/cbtumblebug.s3db")`
2. `SelectDatabase(common.DB_DATABASE)`
   - SQL query: `USE cb_tumblebug;`
3. `CreateSpecTable()`
4. `CreateImageTable()`

SQLite 에서는 `USE cb_tumblebug;` 구문을 실행할 필요가 없는데
코드에 들어 있었습니다. 😢

해당 부분은 주석 처리 하겠습니다. 😊

[2021-05-11 01:03] #487 closed

[2021-05-11 02:23] sykim-etri opened #510 "Broken API documentation link"
릴리즈 페이지 (https://github.com/cloud-barista/cb-tumblebug/releases/tag/v0.3.0-espresso) 에 나오는 API Documentation 관련 링크가 끊겼으니 확인 부탁드립니다.
* Broken Link: https://cloud-barista.github.io/cb-tumblebug-api-web/?url=https://raw.githubusercontent.com/cloud-barista/cb-tumblebug/master/src/docs/tbapi-0.3.0.yaml

[2021-05-11 02:55] jihoon-seo commented on #510
해당 링크가 https://cloud-barista.github.io/cb-tumblebug-api-web/?url=https://raw.githubusercontent.com/cloud-barista/cb-tumblebug/master/src/docs/v0.3.0.yaml 으로 수정되었습니다. 😊

다른 곳에 더 있는지 확인해 볼 수도 있겠네요.

[2021-05-11 02:58] jihoon-seo commented on #510
https://github.com/cloud-barista/docs/blob/master/technical_docs/API/CB-User_REST-API.md#%EB%A9%80%ED%8B%B0-%ED%81%B4%EB%9D%BC%EC%9A%B0%EB%93%9C-%EC%9D%B8%ED%94%84%EB%9D%BC-%EC%84%9C%EB%B9%84%EC%8A%A4-%ED%86%B5%ED%95%A9-%EA%B4%80%EB%A6%AC-cb-tumblebug

업데이트 하겠습니다~~

[2021-05-11 04:14] seokho-son commented on #510
/close

[2021-05-11 04:14] #510 closed, assigned to nobody

[2021-05-12 12:24] seokho-son commented on #352
@all-contributors please add @MZC-CSC for bug report

[2021-05-12 12:30] seokho-son commented on #352
@all-contributors please add @itnpeople for User Testing

[2021-05-12 12:41] seokho-son commented on #352
@all-contributors please add @hyokyungk for User Testing

[2021-05-14 03:08] seokho-son opened #525 "Use go 1.16"
**What would you like to be enhanced**
: go v1.16 사용 (gomod, docker image 등)

**Why is this needed**
: 커뮤니티 차원에서 go v1.16 을 사용하는 것으로 논의 되었음.

**Proposed solution**
: go v1.16 사용하는 것으로 수정

[2021-05-14 03:08] seokho-son commented on #525
/assign @jihoon-seo
처리 부탁드려요~~~~ ^^

[2021-05-14 05:23] #525 closed

[2021-05-21 06:31] hermitkim1 opened #533 "bbolt issue in cb-tumblebug source-based installation"
### [Issue]
1. Run `go get -v github.com/cloud-barista/cb-tumblebug` for source-based installation
2. Encounter the issue below
[code]

### [Question]
Is it necessary to uncomment the blow line?
https://github.com/cloud-barista/cb-tumblebug/blob/b3f5c3099f78c1faebbeba93cf502968c5643d59/go.mod#L6

Ref: https://github.com/cloud-barista/cb-tumblebug/pull/115#issuecomment-615056661

[2021-05-21 06:44] #533 closed

[2021-05-21 06:49] jihoon-seo commented on #533
[TB v0.3.6 의 `go.mod`](https://github.com/cloud-barista/cb-tumblebug/blob/v0.3.6/go.mod) 에는
[code]

이렇게 되어 있네용.. (옛날 버전들 이에요)

---

[최신 `go.mod`](https://github.com/cloud-barista/cb-tumblebug/blob/master/go.mod) 에는
[code]
이렇게 되어 있긴 한데..
저 에러가 동일하게 발생할지 발생하지 않을지는 모르겠네용..

---

README.md 에 적혀 있는 CB-Tumblebug 소스코드 다운로드 방법을
더 적합한 것으로 교체했습니다~~ (#534)

[2021-05-21 08:06] jihoon-seo opened #535 "TODO: Reflect new TB env vars to `Dockerfile` and cb-operator files"
**What happened**
:
According to [`conf/setup.env`](https://github.com/cloud-barista/cb-tumblebug/blob/master/conf/setup.env), some env vars are newly introduced.

**What you expected to happen**
:

**How to reproduce it (as minimally and precisely as possible)**
:

**Anything else we need to know?**
:

**Environment**
- Source version or branch:
- OS:
- Others:

**Proposed solution**
:
Reflect ne

[2021-05-24 05:13] jihoon-seo opened #537 "cbadm: interface conversion error occurs"
@jmleefree 한 번 확인 부탁드립니다. ^^

**What happened**
:
Spider 에 connect-info 가 하나도 등록되어 있지 않은 상태에서
`$CBTUMBLEBUG_ROOT/src/api/grpc/cbadm/cbadm connect-info list --config $CBTUMBLEBUG_ROOT/src/api/grpc/cbadm/grpc_conf.yaml -o yaml` 을 실행하면
`interface conversion` 발생

[code]

**What you expected to happen**
:

**How to reproduce it (as minimally and precisely as possible)**
:

**Anything else we need to kn

[2021-05-24 08:39] jihoon-seo opened #538 "Restriction on TB objects' `name` vs. AWS flavors"
**What happened**
:

AWS flavor 의 이름이 `m6g.medium` 와 같은 형식을 갖고 있음.
이 flavor들을 TB에서 fetch 하니 에러가 발생함.
(관련: https://github.com/cloud-barista/cb-tumblebug/pull/527#issuecomment-844724821)

`❯ ./fetch-specs.sh aws 1 jhseo`
[code]

**What you expected to happen**
:

**How to reproduce it (as minimally and precisely as possible)**
:

**Anything else we need to know?**
:

**Environment**
- Source version

[2021-05-25 01:46] jihoon-seo opened #540 "TODO: Update Swagger comments"
**What happened**
:

**What you expected to happen**
:
![image](https://user-images.githubusercontent.com/46767780/119427445-00942000-bd46-11eb-9d02-e934f0a676cf.png)

![image](https://user-images.githubusercontent.com/46767780/119427660-5f599980-bd46-11eb-8a52-1c90fdd4c871.png)

**How to reproduce it (as minimally and precisely as possible)**
:

**Anything else we need to know?**
:

**Environment

[2021-05-25 01:47] jihoon-seo opened #541 "Runtime error occurred while `GetVmStatus()`"
**What happened**
:
Runtime error occurred while `GetVmStatus()`.
[code]

1. `GetMcisStatus()` 함수가 호출됨
2. `GetMcisStatus()` 함수가 `GetVmStatusAsync()` 함수를 호출
3. `GetVmStatusAsync()` 함수가 `GetVmStatus()` 함수를 호출
4. `GetVmStatus()` 함수의 3827번째 줄은 `fmt.Println(keyValue.Value)` 임.
   - `keyValue.Value` 가 nil 이라서 `invalid memory address or nil pointer dereference` 에러가 발생한 것일지..?

**What you expected to happ

[2021-05-25 01:58] jihoon-seo commented on #541
Swagger UI 를 이용하여
다음을 테스트 해 보았지만
TB 강제종료 재현이 되지 않습니다.

[테스트 수행한 API]
- GET `/object`
- GET `/ns/{nsId}/mcis/{mcisId}/vm/{vmId}`
- GET `/ns/{nsId}/mcis/{mcisId}/vm/{vmId}` ?action=status

[테스트 수행한 object]
- `/ns/ns-01/mcis/mzc01-import/vm/mzc01-w-3-a1krn`
- `/ns/ns-01/mcis/mzc01-import/vm/mzc01-c-2-49ufn`
- `/ns/ns-01/mcis/mzc01/vm/mzc01-c-3-7zhex`
- ...

[2021-05-25 01:59] #537 closed

[2021-05-25 04:50] jihoon-seo commented on #541
임시 조치:
`GetVmStatus` 함수에
[code]
구문을 넣고
다시 컴파일하고 실행했습니다.
재현이 되는지 좀 더 살펴보겠습니다.

(위의 코드를 이 repo에는 아직 반영하지 않았습니다.)

[2021-05-25 09:07] jihoon-seo opened #546 "`ListVmId` returns not-prefix-trimmed vmID"
Related issue: #541

**What happened**
:
정상적이지 않은 TB VM object 가 있음.

http://52.197.30.208:1323/tumblebug/ns/ns-01/mcis/mzc01-import/vm/mzc01-c-1-1yn8c

[code]

이 상태에서 "List MCIS" API 를 실행하면 panic 발생
http://52.197.30.208:1323/tumblebug/ns/ns-01/mcis
[code]
(원래는 panic: runtime error: invalid memory address or nil pointer dereference 발생하고 TB 강제종료 됐었는데
CB-WIP 환경에 defer-recover 구문을 넣어서 강제종료 되지 않도록 해 놓

[2021-05-25 09:34] jihoon-seo commented on #546
[확인 2]
`ListVmId` 함수를 호출하는 REST API를 만들어서 테스트 해 보니,
`ListVmId` 함수의 결과값에는 문제가 없음

GET `http://192.168.1.10:1323/tumblebug/ns/ns-01/mcis/mzc01-import/testListVmId`

[code]

[2021-05-26 00:50] jihoon-seo opened #548 "gRPC: Error on server reflection"
@jmleefree 한 번 확인 부탁드립니다. ^^

**What happened**
:
gRPC server reflection 활성화하고
[`grpcui`](https://github.com/fullstorydev/grpcui) 실행했더니 에러 발생

caused by: File not found: gogoproto/gogo.proto

**What you expected to happen**
:
에러가 발생하지 않고 `grpcui` 가 실행됨

**How to reproduce it (as minimally and precisely as possible)**
:

1. TB gRPC server reflection 활성화:
`conf/grpc_conf.yaml` 에서 `reflection: enable

[2021-05-26 01:24] jihoon-seo commented on #548
[메모]
`grpcui` 를
[Server Reflection](https://github.com/fullstorydev/grpcui#server-reflection) 방식 말고
[Proto Source Files](https://github.com/fullstorydev/grpcui#proto-source-files) 방식으로 실행하는 방법

[code]

[2021-05-26 08:39] #548 closed

[2021-05-27 04:20] jihoon-seo commented on #546
`ListVmId` 함수에 문제가 있는 것이 아니라,
Tumblebug meta DB에
`"id": "/ns/ns-01/mcis/mzc01-import/vm/mzc01-w-3-a1krn2"` 인 VM이 생성되어 있어서
이 현상이 발생한 것으로 확인되었습니다.

[2021-05-27 04:20] #546 closed

[2021-05-27 05:32] seokho-son commented on #538
@jihoon-seo
fetch spec, fetch image 등에 대해서

로 처리하면 좋을 것 같습니다.. ^^

[2021-05-27 05:37] jihoon-seo opened #555 "TODO: Reflect Spider's SG object updates"
**What would you like to be enhanced**
:
CB-Tumblebug 에 SG 의 CIDR 을 다루는 기능을 추가
(Ref: https://github.com/cloud-barista/cb-spider/pull/372 (`Add a address CIDR attributes of SecurityRules in SecurityHandler`))

**Why is this needed**
:
CB-Spider 에 SG 의 CIDR 을 다루는 기능이 추가되어,
CB-Tumblebug 에도 대응이 필요함

**Proposed solution**
:

[2021-05-27 06:36] jihoon-seo opened #560 "TODO: Enhance fetchImages & fetchSpecs"
**What would you like to be enhanced**
:

[현재]
`fetchImages` 실행하면
=>
1. Spider 에 등록되어 있는 모든 conn config 를 불러 오고,
2. 각 conn config 에 대해서 LookupImageList 를 실행하고,
3. 모든 이미지들을 TB ns 에 저장합니다.

특히, Spider 에 등록되어 있는 conn config 수가 많으면, 상당히 헤비한 작업입니다.

[개선]
현재 기능에 더하여,
`fetchImages` API를 호출할 때
`connectionName` 을 명시하면
해당 `connectionName` 에 대해서만 fetch 작업을 수행하는 기능을 추가

**Why is this needed**
:
- Spider 에 등록되

[2021-05-27 06:55] jihoon-seo commented on #538
For AWS image:

`❯ ./fetch-images.sh aws 1 jhseo`

[code]

마침표, 언더스코어를 하이픈으로 대체해야 하겠습니다.

---

For GCP image:

[code]

GCP image name 은 `[a-z]([-a-z0-9]*[a-z0-9])?` 규칙을 잘 지키는 것으로 보입니다.

---

For Azure image:
[code]

[code]

대문자를 소문자로 대체해야 하겠습니다.
콜론, 마침표를 하이픈으로 대체해야 하겠습니다.

---

For Alibaba image:

[code]

대문자를 소문자로 대체해야 하겠습니다.
마침표, 언더스코어를 하이픈으로 대체해야 하겠습니다.

[2021-05-27 07:00] jihoon-seo commented on #538
For AWS spec:

[code]

마침표를 하이픈으로 대체해야 하겠습니다.

---

For GCP spec:

[code]

GCP spec name 은 `[a-z]([-a-z0-9]*[a-z0-9])?` 규칙을 잘 지키는 것으로 보입니다.

---

For Azure spec:
[code]

대문자를 소문자로 대체해야 하겠습니다.
언더스코어를 하이픈으로 대체해야 하겠습니다.

---

For Alibaba spec:
[code]

마침표를 하이픈으로 대체해야 하겠습니다.

[2021-05-27 07:22] seokho-son commented on #540
/assign @seokho-son

[2021-05-27 08:23] #538 closed

[2021-05-27 08:54] seokho-son commented on #541
https://github.com/cloud-barista/cb-tumblebug/pull/553#issuecomment-849309770
와 관련된 사안이려나요?

[2021-05-27 09:09] #540 closed

[2021-05-27 09:18] seokho-son commented on #555
@jihoon-seo CB-Spider에서 CIDR 관련 작업이 아직 진행중이지 않나요?

모든 CSP 드라이버에 대해서 동일하게 처리가 완료되어 있지 않다면,
CB-TB에서는 개발 중간 단계의 CB-Spider와의 연동을 자제할 필요가 있을 것 같습니다.

현재는 완전한 테스트를 수행하고 있지 않기 때문에, 향후, 불필요한 디버깅을 해야하는 상황이 발생할 수 있을 것도 같아요.
(aws 는 되지만 gcp 는 안되는 상황을 모르고 지나친다든지..)

WIP ... 가 열려 있어서 그냥 막.. 서로 업데이트하면서 개발하는 수 밖에 없으려나요? ㅎㅎ;; 잘 모르겠네요..

[2021-05-27 10:56] powerkimhub commented on #555
@seokho-son  @jihoon-seo

- 아직 gcp가 반영이 안된 상태이어서 별도 공지 하지 않은 상태입니다.
- 공지 후 시험 진행해보시기 바랍니다.
- 하위 호환성을 위해서 'CIDR' 별도 입력 없으면(예전처럼) default '0.0.0.0/0'으로 설정 예정입니다.
- 활용에 참고하시기 바랍니다.

[2021-05-28 01:09] jihoon-seo commented on #541
네 맞습니다.
이 이슈는 close 하겠습니다. 😊

[2021-05-28 01:09] #541 closed

[2021-05-28 02:45] seokho-son opened #566 "Change all Korean comments inside source code into English"
**What would you like to be enhanced**
: Source code include some Korean language.

**Why is this needed**
: Not recommended way for internationalization.

**Proposed solution**
: Change all Korean comments inside source code into English. Guide developers to avoid using Korean in source code and commit message.

Tasks to resolve this issue partially.

Apply

[code]
to tasks

1. - [x] https://gith

[2021-05-28 05:14] seokho-son commented on #27
이 이슈는 어느 정도 해결이 되어 있는 것으로 보이네요 ^^ 일단 close 하겠습니다.
/close

[2021-05-28 05:20] jihoon-seo commented on #27
/close
K8s prow bot 은 command 위치에 상관없이 동작하는데
저희가 쓰고 있는 것은 command 가 comment 의 맨 처음에 와야 동작을 하고
한 comment 에 복수 command 있으면 맨 처음 것만 처리하네용..
Improved version 이 있으면 좋겠네용 😊

[2021-05-28 05:20] #27 closed

[2021-05-28 05:42] seokho-son opened #569 "Patch gRPC codes for updated fetchImages and fetchSpecs functions"
@jihoon-seo

[code]

요건 어떻게 정리하고 가면 좋을까요?

_Originally posted by @seokho-son in https://github.com/cloud-barista/cb-tumblebug/issues/567#issuecomment-850140407_

[2021-05-28 05:44] #560 closed

[2021-05-28 05:54] jihoon-seo commented on #569
[Ref]
- PR #237 Add gRPC codes for new core functions
- PR #338 Add gRPC codes for new functions

[2021-05-28 06:10] jihoon-seo opened #571 "TODO: Integrate filterSpecs and filterSpecsByRange"
**What would you like to be enhanced**
:

(From the discussion #545)

`filter-specs.sh`
[code]
주어진 조건에 대해 exact match 를 합니다.

`range-filter-specs.sh`
[code]
각 필드에 대해
min 만 주거나
max 만 주거나
min 과 max 를 모두 줘서
범위로 검색할 수 있도록 합니다.

지금 살펴 보니
[code]
이렇게 하면
exact match 를 할 수 있으니
filterSpecsByRange 하나로 합칠 수도 있기는 하겠네요.

**Why is this needed**
:

**Proposed solution**
:

[2021-05-28 07:49] seokho-son commented on #196
/close

[2021-05-28 07:49] #196 closed

[2021-05-30 06:34] seokho-son commented on #304
/close

[2021-05-30 06:34] #304 closed

[2021-05-30 07:09] #469 closed

[2021-05-31 03:00] jihoon-seo opened #574 "gRPC: received message larger than max"
**What happened**
:
TB 에 많은 수의 image object 가 등록되어 있는 상태에서
cbadm 등을 통해 list image 요청을 보내면
다음과 같은 에러 발생
[code]

**What you expected to happen**
:
list image 요청이 정상적으로 처리됨

**How to reproduce it (as minimally and precisely as possible)**
:
- fetchImage 등의 명령으로 많은 수의 image object 등록
- cbadm 등을 통해 list image 요청 전송

**Anything else we need to know?**
:

**Environment**
- Source version or branch:
- OS:

[2021-05-31 03:03] jihoon-seo commented on #574
- https://stackoverflow.com/questions/55362342/grpc-received-message-larger-than-max-8653851-vs-4194304
- https://github.com/grpc-ecosystem/grpc-gateway/issues/943
- https://github.com/tensorflow/serving/issues/1382

[2021-05-31 14:18] #569 closed

[2021-05-31 14:18] #574 closed

[2021-06-01 01:39] jihoon-seo opened #576 "Malformed 'vmId' could be set"
Related issue: #546

**What happened**
:
Malformed 'vmId' was set.
[code]

**What you expected to happen**
:

**How to reproduce it (as minimally and precisely as possible)**
:

**Anything else we need to know?**
:

**Environment**
- Source version or branch:
- OS:
- Others:

**Proposed solution**
:

**Any other context**
:

[2021-06-01 02:16] jihoon-seo commented on #576
[VM 생성과 관련 있는 함수]
- `AddVmToMcis` -> `CreateVm` 호출
- `CorePostMcisGroupVm` (없앨 수 있을 것 같음: `CorePostMcisGroupVm function is a wrapper for CreateMcisGroupVm`)
- `CreateMcisGroupVm`
- `CorePostMcisVm`
- `CreateMcis`
- `CreateMcisGroupVm`
- `CreateVm`

[VM 업데이트와 관련 있는 함수]
- `UpdateMcisInfo`
- `UpdateVmInfo`

-> 특이점이 발견되지 않았습니다.

---

- `GetMcis`, `ListMcis` 등의 함수를 보겠습니다.
- `GenMcisKey()` 의 reference를

[2021-06-01 04:52] jihoon-seo commented on #576
- `CoreGetAllMcis`
- `GetMcisInfo`
- `GetMcisObject`

-> 특이점이 발견되지 않았습니다.

[2021-06-01 09:48] #535 closed

[2021-06-07 11:58] seokho-son opened #584 "Update README"
**What would you like to be enhanced**
: v0.4.0에 앞서, Readme 현행화 필요 (사용 방법 등)

[2021-06-08 05:42] #555 closed

[2021-06-08 08:29] jihoon-seo opened #586 "'Deleting Cloud-Twin MCIS' is not working"
**What happened**
:
Cloud-Twin VM으로 구성된 MCIS를 삭제하려고 하니 삭제가 되지 않음

**What you expected to happen**
:
Cloud-Twin VM으로 구성된 MCIS의 삭제가 잘 됨

**How to reproduce it (as minimally and precisely as possible)**
:
[code]

[code]
(`delete-mcis.sh` 를 실행하면 Tumblebug 내부적으로 Terminate 후 Delete 를 하는 것이 맞을 것 같은데
실행해 보면 예상한 대로 되지 않음)

FYI: `terminate-mcis.sh` 를 실행하면 terminate 가 잘 수행됨

**Anything else we need to know?*

[2021-06-08 08:47] seokho-son commented on #586
@jihoon-seo 맞습니다. 이제 delete는 terminate 를 수행하지 않고 terminated 인지 확인만합니다. 이제 먕시적으러 terminate를 해줘야해요

[2021-06-08 08:59] jihoon-seo commented on #571
Related PR: #580

[2021-06-08 09:08] jihoon-seo opened #587 "`DelConfig()` is missing"
**What happened**
:
`DelConfig()` is missing.

![image](https://user-images.githubusercontent.com/46767780/121157227-54ddea80-c884-11eb-8aa6-0eb9d7104b25.png)

**What you expected to happen**
:

**How to reproduce it (as minimally and precisely as possible)**
:

**Anything else we need to know?**
:

**Environment**
- Source version or branch:
- OS:
- Others:

**Proposed solution**
:
- Add `DelConf

[2021-06-08 09:52] jihoon-seo opened #588 "Config without id/name can be created"
**What happened & How to reproduce it (as minimally and precisely as possible)**
:
[code]

[code]

**What you expected to happen**
:
'Update config' 실행 시, `name` 이 명시되지 않으면 에러를 리턴함

**Anything else we need to know?**
:

**Environment**
- Source version or branch:
- OS:
- Others:

**Proposed solution**
:
'Update config' 코드에 `name` 체크하는 로직 추가

**Any other context**
:

[2021-06-08 11:09] seokho-son commented on #588
@jihoon-seo 이 config의 경우, 시스템 env 셋팅을 위한 것이어서
현재 setup.env 에 있는 env variable 에 해당하는 값이 name으로 들어갑니다. (내부적으로는 모두 소문자로 변경해서 비교 처리했던 것 같습니다) 참고하시기 바랍니다..^^

[2021-06-08 11:11] seokho-son commented on #587
음.. 요건 추가가 필요할지 고민이 좀 되네요. (사실 delete all conf 는 개발용이었어요^^;)
conf 는 아마도 삭제하면 system에 문제 발생 가능성이 있어서..
update 나 initialize 정도로 구분해두면 어떨까 싶기도 합니다.

[2021-06-09 09:00] jihoon-seo opened #589 "Pagination for API response of image/spec list"
**What would you like to be enhanced**
:
Pagination for API response of image/spec list

**Why is this needed**
:
listImage 실행 시, 모든 image 의 상세 정보가 오기 때문에 응답/처리가 느림

**Proposed solution**
:

[2021-06-09 09:03] jihoon-seo opened #590 "REST/Go API for `ListResourceId`, `ListMcisId`, `ListVmId`"
**What would you like to be added**
:
REST/Go API for `ListResourceId`, `ListMcisId`, `ListVmId`

**Why is this needed**
:
REST/Go API for `ListResourceId`, `ListMcisId`, `ListVmId` is missing.

[2021-06-09 09:27] jihoon-seo commented on #588
@seokho-son 네 맞습니다.
그런데, #527 에서, config 들에 대해서는 string 정제를 하지 않고 사용하는 것으로 변경했었습니다.

곧 올릴 PR을 통해, 이 이슈를 해결하겠습니다. 😊

[2021-06-09 09:38] jihoon-seo commented on #587
@seokho-son 님과 논의하였습니다.

-> `DelConfig()` 를 대체하는 `InitConfig()` 의 예상 로직

- Delete config object
- Read system env var
- Update TB's global variable

[2021-06-09 09:46] jihoon-seo opened #591 "Term: `vNet` -> `vpc`"
**What would you like to be enhanced**
:
Term: `vNet` -> `vpc`

**Why is this needed**
:
Many CSPs have been adopting the term "VPC".

**Proposed solution**
:

[2021-06-09 10:24] seokho-son commented on #591
/hold

[2021-06-09 10:24] seokho-son commented on #591
향후에 논의 및 결정 후에 추진하도록 하겠습니다.. ^^

[2021-06-10 02:22] jihoon-seo opened #595 "Disable Key-Value store storing for TB image & spec objects"
**What would you like to be enhanced**
:
Disable Key-Value store storing for TB image & spec objects

**Why is this needed**
:
Key-Value store 와 SQL DB 간 정합성 문제 등이 발생할 수 있음

**Proposed solution**
:

**기타**
'TB image & spec 을 config 처럼 관리하는 것으로 변경하는 이슈' 와 연관이 있을 수 있음

[2021-06-10 04:42] jihoon-seo opened #597 ""List NS" is not working well"
**What happened**
:

[현상 1]
"already exists" occurs for non-existing namespace

[code]

[code]

---

[현상 2]
NS 를 새로 만든 뒤 "List NS" 해도 보이지 않음

[code]

[code]

---

["Get NS" 는 작동함]

[code]

---

[Objects 조회 - `/ns` 로 조회하면 `ns-jhseo`, `ns-jhseo2` 보이지 않음]
[code]

[Objects 조회 - `/ns/ns-jhseo` 로 조회하면 `/ns/ns-jhseo` 가 보임]
[code]

[Objects 조회 - `/ns/ns-jhseo2` 로 조회하면 `/ns/ns-jhseo2` 가 보임]
[code]

**What

[2021-06-10 04:46] jihoon-seo commented on #597
`ns` 로 시작하는 NS 에 대해서는 위의 현상이 발생하고,
`ns` 로 시작하지 않는 NS 에 대해서는 위의 현상이 발생하지 않고 있습니다.

[code]

[2021-06-10 07:43] seokho-son commented on #597
이상하네요.. 흠... 잘되던 기능이었던거 같은데..
최근에 이것저것 변경하면서 영향이 간 것 같기도 하고.. ㅠㅠ cb-store의 영향도 있으려나요.. ㅠㅠ

[2021-06-10 07:43] seokho-son commented on #597
일단 현재 라이프사이클 정리하는데 오류가 좀 있어서 처리하고 함께 보도록 하겠습니다..

[2021-06-10 07:44] #587 closed

[2021-06-10 07:44] #588 closed

[2021-06-10 08:16] jihoon-seo opened #599 "Error can occur in using `ListVmId`"
- Related issues:
  - #546 (`ListVmId` returns not-prefix-trimmed vmID)
  - #576 (Malformed 'vmId' could be set)

**What happened**
:

`/ns/ns-01/mcis/mock-seoul-jhseo1/vm/mock-seoul-jhseo1-0` 라는 자원들이 있는 상태에서

[올바른 조회]
[code]

[올바르지 않은 조회]
[code]
-> Not found 가 나와야 정상인데,
조회되지 않아야 하는 자원이 조회되고,
VM ID 만 출력하는 것이 아니라 Key-Value store 의 Key 전체가 출력됨

Key-Value store 사용상의 이슈로 추정됨

**What you expected to ha

[2021-06-10 12:04] seokho-son commented on #597
ns-01, ns-02 등록 후,

오브젝트로 리스트 조회(Key: `/ns` or `/ns/` 하기를 했을 때의 결과는
/ns/ns-01 만 나오고 /ns/ns-02 는 나오지 않습니다.

오브젝트 조회 기능의 코드를 보면, 단순히 CBStore 의 GetList만 하기 떄문에
이 오류는 CBStore에서 기인했다고 판단이 됩니다.

[code]
@powerkimhub 오류 상황 참고하시기 바랍니다.

CBStrore의 해당 오류를 수정하면, 다른 FW에도 영향이 있어서,
혹시 모를 파장을 방지하기 위해서
카푸치노 행사까지는 수정하지 않고, 릴리스 전에 수정 및 테스트하는 것으로 이야기 되었습니다.

그 동안, 한시적으로, CB-TB의 ns 등을 사용하실 때 유의 사항을 공유 드립니다.

CB-TB (그리

[2021-06-11 11:02] sykim-etri opened #604 "Test scripts' paths are incorrect in README.md"
README.md 파일 포함된 테스트 스크립트 위치에 오류가 있으니 업데이트가 필요합니다.

추정이 가능합니다만 'cloud-barista/cb-tumblebug/src/testclient/scripts/' 등의 디렉토리 정보 수정이 필요합니다.

[2021-06-12 05:50] #604 closed

[2021-06-12 07:01] powerkimhub commented on #599
@jihoon-seo

cb-store가 제공하는 API 기능은 다음과 같습니다.

- cb-sore: GetList("/xxx")
  - "/xxx"를 prefix로(앞에서부터) 만족하는(포함하는) 모든 키 fetch
    - 기능으로 보면, API 이름이 GetList보다는 PrefixFind 등이 적합하긴 하네요
 - cb-store: Get(/xxx")
   -  "/xxx" 동일한 키만 fetch

- 위와 같은 의도의 기능은
  - GetList()와 Get()을 조합하면 될듯합니다.

[2021-06-12 07:04] #590 closed

[2021-06-12 07:10] seokho-son opened #606 "Code enhancement required for `ListNsId`"
https://github.com/cloud-barista/cb-tumblebug/blob/c6fdbd3be0f80d9f2befb87da817d49386e82439/src/core/common/namespace.go#L188

ListNsId

NS ID만 리스트하는 기능에
key 리스트 정리 조건이 적절하지 않아 보입니다. (현재까지는 문제가 없는 것 같지만.. 문제 발생 가능성 높음)

현재 조건은
/ns 가 포함된 키 중에서 (/ns 글자가 포함된 모든 리스트가 조회됨)
mcis, cpu, resources 가 포함된 key 만 제외하고 있습니다.

다른 예외들이 생기면, ns 리스트에 잘못된 오브젝트 id가 포함될 수 있겠습니다.

개선이 필요합니다.

(음.. "/" 의 개수로 조건을 거는 것도 방

[2021-06-12 07:29] seokho-son commented on #599
@jihoon-seo 오류 분석 완료하였습니다.

[code]
로 조회 후,

아래와 같이, 리스트를 정리하는데,
[code]

오류가 발생할 수 있는 상황이 보이네요.

mcis 이름으로 key 조회를 하면, 관련 mcis 에 대한 key 들만 나올 것이라고 봤으나,

예를 들어,
조회하는 mcis 가 `m-ali-is` 이고

`m-ali-is-expert`, `m-ali-is` 이름에 prefix 관계가 있는 2개의 mcis가 있는 상황이라면,

CBStore.GetList 를 했을 때, 아래와 같이 리스트가 조회되고,

[code]

여기서 vm 리스트를 뽑아내기 위해서
`/vm/` 이 포함된 조건만 보게 되면.

(중간) 결과적으로
- /ns/mz-cbweb99/mcis/m-ali-is/vm/m-a

[2021-06-12 08:55] jihoon-seo commented on #499
@powerkimhub says (in [this message](https://cloud-barista.slack.com/archives/CJQ7575PU/p1623480023086000?thread_ts=1623427143.084300&cid=CJQ7575PU)):

현재 cb-store: GetList()가 fetch시 10,000개 limit이 존재합니다.

[2021-06-12 09:30] #576 closed

[2021-06-12 09:30] #599 closed

[2021-06-12 09:34] jihoon-seo opened #608 "Fix bug for `GenResourceKey`'s references"
PR #607 에서 `GenMcisKey` 의 레퍼런스들에 적용된 사항을
`GenResourceKey` 의 레퍼런스들에도 적용

**What happened**
:

**What you expected to happen**
:

**How to reproduce it (as minimally and precisely as possible)**
:

**Anything else we need to know?**
:

**Environment**
- Source version or branch:
- OS:
- Others:

**Proposed solution**
:

**Any other context**
:

[2021-06-12 09:41] jihoon-seo commented on #597
@powerkimhub says (in [this message](https://cloud-barista.slack.com/archives/CJQ7575PU/p1623480023086000?thread_ts=1623427143.084300&cid=CJQ7575PU)):

현재 cb-store: GetList()가 fetch시 10,000개 limit이 존재합니다.

[2021-06-12 09:48] jihoon-seo commented on #589
Related issue: https://github.com/cloud-barista/cb-spider/issues/402

[2021-06-12 09:48] jihoon-seo commented on #597
Related issue: https://github.com/cloud-barista/cb-store/issues/27

[2021-06-13 10:34] seokho-son commented on #202
/close

[2021-06-13 10:34] #202 closed

[2021-06-13 10:37] seokho-son commented on #445
https://github.com/cloud-barista/cb-tumblebug/discussions/554

를 통해 정리될 예정

[2021-06-13 10:37] #445 closed

[2021-06-17 01:41] jihoon-seo commented on #591
FYI: CB-Tumblebug 팀에서 2019년 9월 17일에 검토 후 작성한 자료
https://docs.google.com/presentation/d/1gj-Vlhmxzf1hc8WZvbX8C4gYWbu7Ql6Aj_bjgd9iPU4/edit?usp=sharing

[2021-06-17 01:45] jihoon-seo commented on #591
By @seokho-son on 2021-06-09:

회의에서 잠시 이슈된 VNET 용어(현재 CB-TB의 Network 오브젝트 명칭 / webtool에서 사용되는 명칭) 에 대해서,

CSP에서 사용하고 있는 용어를 파악해보았습니다. 향후 결정에 참고하시기 바랍니다.

* 참고: VPC (Virtual Private Cloud)
•	AWS: VPC (VM 생성 화면에서는 그냥 Network으로 표기)
•	AZURE: VNET (Vritual Network)
•	Alibaba: VPC
•	GCP: VPC Network (VPC 자체가 네트워크를 의미하지 않는 것으로 보이며, 네트워크 서비스에 가까운 의미로 보입니다.)
•	Openstack: Virtual Network

[CB-TB 의견]
•	VPC가

[2021-06-17 04:16] seokho-son commented on #591
ref (Spider): https://github.com/cloud-barista/cb-spider/issues/401

[2021-06-17 06:09] #606 closed

[2021-06-17 07:42] jihoon-seo commented on #584
Suggested by @seokho-son :
- `README.md` 에, 동작 테스트 한 CB-Spider, CB-Dragonfly 의 버전을 명시
- "Prepare pre-release" 작업 시, `README.md` 의 해당 부분도 업데이트

[2021-06-17 08:17] jihoon-seo opened #614 "Location of Swagger doc files"
**What would you like to be enhanced**
:
Location of Swagger doc files

**Why is this needed**
:
현재 Swagger docs 는 REST API 에 대해서만 제공되고 있음

**Proposed solution**
:
Move `cb-tumblebug/src/docs/` to one of these:
- `cb-tumblebug/src/api/rest/docs/`
- `cb-tumblebug/src/api/rest/swaggerDocs/`
- `cb-tumblebug/src/api/rest/server/docs/`
- `cb-tumblebug/src/api/rest/server/swaggerDocs/`

[영향을 미치기 때문에 추가로

[2021-06-17 08:20] jihoon-seo commented on #614
[CB-Spider 의 사례]
[최근 PR](https://github.com/cloud-barista/cb-spider/pull/418) 에서, `cb-spider/api-runtime/rest-runtime/docs/` 에 위치시킴

[저의 제안]
저는 네 후보 중에서는 `cb-tumblebug/src/api/rest/swaggerDocs/` 가 어떨까 합니다. 😊

[2021-06-17 08:31] seokho-son commented on #614
@jihoon-seo 현황 파악 감사합니다... ^^
위치를 옮긴다면

저는 "cb-tumblebug/src/api/rest/docs/" 가 어떨까 싶네요.
swagger가 꼭 디렉토리 명칭에서 드러날 필요는 없을 것같다는 생각입니다.

디렉토리 path상 api + rest + docs  를 읽으면, REST API 문서. 로 보이니 괜찮을 것같기도 합니다..^^

[2021-06-18 04:24] #614 closed

[2021-06-18 06:43] jihoon-seo opened #617 "TB struct defs in `grpc/request/mcirapi.go` can be outdated"
**What would you like to be enhanced**
:

**Why is this needed**
: `cb-tumblebug/src/api/grpc/request/mcirapi.go` 등의 파일에
[code]
와 같이 Spider, TB struct def 가 기재되어 있는데,
TB core 코드의 struct def 가 업데이트되어도
`cb-tumblebug/src/api/grpc/request/mcirapi.go` 등에 있는 struct def 는 자동으로 업데이트되지 않아서
outdated 될 우려가 있음

**Proposed solution**
: (실현 가능 여부는 확실하지 않음)

1. CB-Ladybug 처럼, `src/core/model/` 디렉토리 아래에서 struct 관

[2021-06-21 07:06] jihoon-seo opened #620 "Cannot fetch GCP images"
**What happened**
:

`func ConvertSpiderImageToTumblebugImage(spiderImage SpiderImageInfo) (TbImageInfo, error)` 함수에

기존에는
https://github.com/cloud-barista/cb-tumblebug/blame/881f107b0470bb75b3f4214197ccb13fc3d9ad5d/src/core/mcir/image.go#L76
[code]

이렇게 되어 있었는데

![image](https://user-images.githubusercontent.com/46767780/122720587-9fab2980-d2aa-11eb-8036-7d4c8e37adb5.png)

---

PR #575 (Update gR

[2021-06-21 07:18] jihoon-seo commented on #620
[현재 코드 상태에서 fetch 실행했을 때의 결과]
![image](https://user-images.githubusercontent.com/46767780/122722073-493eea80-d2ac-11eb-972c-1455cf325492.png)

[2021-06-21 07:53] jihoon-seo commented on #499
- Related issue: https://github.com/cloud-barista/cb-store/issues/27
- Resolved in https://github.com/cloud-barista/cb-store/releases/tag/v0.3.15

[2021-06-21 07:53] #499 closed

[2021-06-21 07:54] jihoon-seo commented on #597
Resolved in https://github.com/cloud-barista/cb-store/releases/tag/v0.3.15

[2021-06-21 07:54] #597 closed

[2021-06-21 15:33] #620 closed

[2021-06-24 00:47] seokho-son commented on #352
@all-contributors please add @pjini for User Testing

[2021-06-24 01:37] seokho-son commented on #352
@all-contributors please add @vlatte for User Testing

[2021-07-13 01:29] jihoon-seo opened #643 "Dragonfly-calling method (REST/gRPC)"
**What would you like to be added**
:

**Why is this needed**
:

Ref: Spider-calling method in Tumblebug

[2021-07-14 10:53] jihoon-seo opened #645 "`OpenSQL()` returns error when not using `nutsdb`"
**What happened**
:
When using `etcd` instead of `nutsdb`,
the Go code line `err := common.OpenSQL("../meta_db/dat/cbtumblebug.s3db")` causes error.

**What you expected to happen**
:

**How to reproduce it (as minimally and precisely as possible)**
:

**Anything else we need to know?**
:

**Environment**
- Source version or branch:
- OS:
- Others:

**Proposed solution**
:

Add these lines before

[2021-07-15 01:57] jihoon-seo opened #647 "Use ORM / SQL query builder for Golang"
**What would you like to be enhanced**
:
Use SQL query builder for Golang, instead of using raw-ish SQL queries.

**Why is this needed**
:

**Proposed solution**
:
- goqu
  - http://doug-martin.github.io/goqu/
  - https://github.com/doug-martin/goqu (1.1k stars, 101 forks)
- godb https://github.com/samonzeweb/godb (657 stars, 28 forks)
- Squirrel https://github.com/Masterminds/squirrel (4k stars,

[2021-07-15 01:59] #645 closed

[2021-07-19 05:41] #647 closed

[2021-07-19 05:42] seokho-son opened #649 "Investigate alternative of XORM considering license appliance"
훔 라이센스를 못봤네요.. 조사가 필요할 것 같습니다.

아마 수월할 것 같습니다. 😊

_Originally posted by @jihoon-seo in https://github.com/cloud-barista/cb-tumblebug/issues/648#issuecomment-881309086_

[2021-07-19 05:43] seokho-son commented on #649
/assign @jihoon-seo

[2021-07-19 05:50] jihoon-seo commented on #649
- GORM https://github.com/go-gorm/gorm (24.5k stars, 2.8k forks): MIT License
- GORP https://github.com/go-gorp/gorp (3.5k stars, 372 forks): MIT License
- hood https://github.com/eaigner/hood (683 stars, 54 forks): MIT License
- (ORM이 아니라 query builder 일 수도 있음) Jet https://github.com/eaigner/jet (216 stars, 23 forks): MIT License

[2021-07-19 06:14] seokho-son opened #650 "Easy setting of cb-tb development env"
**What would you like to be enhanced**
: CB-TB 활용 및 개발 환경 구성 과정을 쉽고 간편하게 개선

**Why is this needed**
: MCIS 생성을 위한 기본 환경 구성 단계가, 신규 사용자 및 기여자의 진입 장벽이 되고 있음

**Proposed solution**
- [x] 기반 FW 구동 스크립트 제공 및 설정 간소화
- [ ] 클라우드 크리덴셜 등록 과정 간소화 (환경 설정 형태로 제공)

[2021-07-22 08:29] jihoon-seo commented on #312
- json-iterator/go https://github.com/json-iterator/go
- GJSON https://github.com/tidwall/gjson
- buger/jsonparser https://github.com/buger/jsonparser
- Gabs https://github.com/Jeffail/gabs
- valyala/fastjson https://github.com/valyala/fastjson
- ...

[2021-08-02 15:25] seokho-son commented on #584
/close

[2021-08-02 15:26] #584 closed

[2021-08-02 15:28] seokho-son commented on #650
/assign @seokho-son

[2021-08-02 15:42] seokho-son opened #654 "Update source codes to comply with golint"
**What would you like to be added**
: golint 를 준수하도록 코드 개선 (Golint is a linter for Go source code)

**Why is this needed**
: golint 를 준수하여 코드 가독성 및 관리 효율 향상

[Tasks: cb-tumblebug Go report card 참고]
https://goreportcard.com/report/github.com/cloud-barista/cb-tumblebug#golint

[2021-08-02 15:43] seokho-son commented on #654
/help

[2021-08-02 15:45] seokho-son commented on #654
Task 별로 독립적으로 기여할 수 있습니다.. ^^
기여하실 분 손들어주세요~~

[2021-08-02 15:48] seokho-son opened #655 "Add English Readme.md for CB-TB"
**What would you like to be enhanced**
: Readme 제공 언어 개선

**Why is this needed**
: CB-TB의 국제화 및 국제 협업을 위해 영문 제공 필요

**Proposed solution**
: 한글 Readme.md 번역을 통한 영문 Readme.md 파일 생성

Tasks (contributors can take a task individually)
1. [x] cb-tumblebug/i18n 디렉토리 생성 및 README-EN.md 파일 생성
2. [x] cb-tumblebug/README.md 를 수정하여, README-EN.md 링크 제공 (WIP를 표시)
3. [x] README.md 내용을 영문으로 번역하여 README-EN.md 파일 업데

[2021-08-03 02:42] seokho-son opened #656 "Dependabot alerts dgrijalva/jwt-go"
grpc 서버에 사용되는 dgrijalva/jwt-go 업스트림이 관리되지 않는 상태이며,

https://github.com/golang-jwt/jwt 에 커뮤니티 클론으로 생성된 상황.

가이드: There is no patch available and users of jwt-go are advised to migrate to golang-jwt at version 3.2.1

---

CVE-2020-26160

Vulnerable versions: <= 3.2.0
Patched version: No fix

jwt-go allows attackers to bypass intended access restrictions in situations with []string{} for m["aud"] (wh

[2021-08-03 02:52] seokho-son commented on #650
@jihoon-seo task "기반 FW 구동 스크립트 제공 및 설정 간소화" 관련하여,
CB-TB 기여자들이 쉽게 CB-Spider 사용 환경을 구성(CB-TB와 연동되는 버전이 지정된 docker image 실행)할 수 있도록
실행 Script를 하나 구성하면 어떨까요? (메뉴얼하게 알려주는 것이 더 좋을까요?)

[2021-08-03 04:46] jihoon-seo commented on #650
"클라우드 크리덴셜 등록 과정 간소화 (환경 설정 형태로 제공)" 관련:

CB-Ladybug의 테스트 스크립트 중

[[파일에서 클라우드별 연결정보 얻기](https://github.com/cloud-barista/cb-ladybug/tree/master/docs/test#파일에서-클라우드별-연결정보-얻기)]
[[cb-ladybug/docs/test/env.sh](https://github.com/cloud-barista/cb-ladybug/blob/master/docs/test/env.sh)]

* GCP ( [jq](https://stedolan.github.io/jq/) 설치 필요)

[code]

* AWS
[code]

GCP credential file에서
정보들을 뽑아서
`PROJECT`, `

[2021-08-03 09:43] jihoon-seo opened #657 "Remove dup: `GetRegionInfo()` & `GetRegion()`"
**What would you like to be enhanced**
:
Add gRPC codes for `GetRegionInfo()`.
https://github.com/cloud-barista/cb-tumblebug/blob/2a3dd6fcf0e2485916aad76c9e37b2b09f4f994d/src/core/common/utility.go#L332-L336

**Why is this needed**
:
gRPC codes for `GetRegionInfo()` is missing

**Proposed solution**
:

[2021-08-03 09:49] jihoon-seo commented on #657
[src/core/common/utility.go](https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/common/utility.go) 파일에
`func GetRegion(RegionName string) (Region, error)` 함수와
`func GetRegionInfo(RegionName string) (RegionInfo, error)` 함수가 있는데
중복으로 보입니다.
한 쪽으로 통일하면 되겠습니다.

[2021-08-03 09:56] jihoon-seo commented on #657
`func GetRegionInfo(RegionName string) (RegionInfo, error)` 함수는

`src/core/mcis/control.go` 파일의
`func AddVmToMcis(wg *sync.WaitGroup, nsId string, mcisId string, vmInfoData *TbVmInfo) error` 함수와

`src/core/mcis/plan.go` 파일의
`func getDistance(latitude float64, longitude float64, ConnectionName string) (float64, error)` 함수에서 사용하고 있습니다.

관련된 REST, gRPC 코드는 없습니다.

---

`func GetRegion(RegionName strin

[2021-08-04 01:29] #657 closed

[2021-08-04 07:17] #656 closed

[2021-08-07 07:20] seokho-son opened #663 "Update misleading contents in Readme guide"
**What would you like to be enhanced**
: Readme 가이드에 따라 CB-TB 실행 및 유스케이스를 실행해보고

오타, 오류, 불편함 등 개선 필요 사항을 찾아서 Issue 또는 PR 오픈

**Why is this needed**
: 사용자 및 기여자들이 쉽게 가이드를 따라할 수 있도록 문서 개선 필요

**Proposed solution**
: 오타, 오류, 불편함 등 개선 필요 사항을 찾아서 Issue 또는 PR 오픈

[2021-08-09 01:59] seokho-son opened #665 "Script to evaluate network performance in MC-Infra"
**What would you like to be added**
: 멀티 클라우드에 걸친 MC-Infra (다수의 VM으로 구성된)에서 VM간의 네트워크 속도 평가를 위한 스크립트 추가
- ex: VM간에 iperf3, ping 등을 수행하고 결과를 리턴

**Why is this needed**
: 멀티 클라우드에 걸친 MC-Infra (다수의 VM으로 구성된)에서 VM간의 네트워크 속도를 확인하고 싶은 경우가 많이 있습니다. 개발자 및 운영자 지원 기능 입니다.

[2021-08-09 02:00] seokho-son commented on #665
/assign

[2021-08-09 02:22] seokho-son opened #666 "Outdated version description in Readme"
**What happened**
https://github.com/cloud-barista/cb-tumblebug/blob/main/README.md 에

예전 릴리스 버전에 대한 예시가 남아 있음. (예전: v0.3.0, 현재 최신: v0.4.0)

**What you expected to happen**
: https://github.com/cloud-barista/cb-tumblebug/blob/main/README.md 에 0.3.xx 를 0.4.xx 로 변경

**How to reproduce it (as minimally and precisely as possible)**
: -

**Anything else we need to know?**
: -

**Environment**
- Source

[2021-08-10 08:17] #617 closed

[2021-08-11 19:56] seokho-son commented on #666
/assign @limsg1234

[2021-08-12 13:30] jihoon-seo opened #674 "Fix some REST API's HTTP methods"
**What happened**
:
Some REST API's HTTP methods are inappropriate.

**What you expected to happen**
:

**How to reproduce it (as minimally and precisely as possible)**
:

**Anything else we need to know?**
:

**Environment**
- Source version or branch:
- OS:
- Others:

**Proposed solution**
:

`cb-tumblebug/src/api/rest/server/server.go`

[code]

In addition, related Swagger annotations also need

[2021-08-12 13:41] seokho-son commented on #674
@jihoon-seo
혹시 해당 REST method는 Swagger API 에서 Body가 있는 GET method를 허용하지 않아서,
의도적으로 POST method로 지정한 것은 아닌가요? ^^
ref: https://github.com/cloud-barista/cb-tumblebug/discussions/502

[2021-08-12 13:43] jihoon-seo opened #675 "Remove unnecessary REST API codes"
**What would you like to be enhanced**
:
Remove unnecessary REST API codes

**Why is this needed**
:
You can get the MCIS ID list by calling
`curl -H "${AUTH}" -sX GET http://$TumblebugServer/tumblebug/ns/$NSID/mcis?option=id`,
so the REST API `GET http://$TumblebugServer/tumblebug/ns/:nsId/mcis/:mcisId/testListVmId` is unnecessary.

**Proposed solution**
:

`cb-tumblebug/src/api/rest/server/serve

[2021-08-12 14:53] #666 closed

[2021-08-13 02:35] jihoon-seo commented on #674
@seokho-son 맞네요.. 깜빡했습니다 😢

[2021-08-18 15:00] computerphilosopher opened #678 "Measure test coverage"
**What would you like to be enhanced**
:  현재 github에서 테스트 커버리지를 측정하는 자동 프로세스가 없습니다. 커버리지를 측정하고 표시하는 것이 좋겠습니다.

**Why is this needed**
: 테스트가 누락된 부분을 찾아 보강할 수 있게 됩니다.

**Proposed solution**
:
- github action을 이용해 테스트 커버리지 측정
- coveralls, codecov와 같은 서비스와 연동해 커버리지 기록
- README에 커버리지 뱃지 삽입

github action을 만드는 김에 go fmt도 github action으로 자동 적용하는게 어떨까요?

[2021-08-18 16:58] seokho-son commented on #678
@computerphilosopher 제안 감사합니다!! ^0^
그렇습니다.. CB-Tumblebug repository에는 아직 적절한 테스트 커버리지 측정 방법이 없습니다..ㅠㅠ
(테스트 코드 자체도 부족 .. )

이를 보완하기 위해서 현재 cicd 를 위한 github action 워크플로우 개발이 진행되고 있어요.. ^^
현재는 아래 정도의 내용을 커버할 것 같습니다. (coveralls, codecov와 같은 서비스와 연동은 하고 있지 않고, 데시보드 스타일의 자체 리포트 도구가 개발되고 있습니다.)
 - golint 리포트
 - API 수준의 테스트 커버리지 리포트
 - API 기반 주요 기능 테스트 자동화 (+self hosted runner)

참고로, 해당 프로젝트는 다른 임시 Repo에서

[2021-08-18 17:35] seokho-son commented on #654
@computerphilosopher 감사합니다!! ^^

[2021-08-18 17:35] seokho-son commented on #654
/assign @computerphilosopher

[2021-08-19 08:39] jihoon-seo opened #680 "One file is not gofmt-ed"
- Related issue: #654
- Related issue: #678

**What would you like to be enhanced**
:
gofmt a file:
[cb-tumblebug/src/api/grpc/request/test/test_api.go](https://github.com/cloud-barista/cb-tumblebug/blob/master/src/api/grpc/request/test/test_api.go)

**Why is this needed**
:
[Go Report Card](https://goreportcard.com/report/github.com/cloud-barista/cb-tumblebug#gofmt) is saying:

Line 1: warning: f

[2021-08-19 09:23] seokho-son opened #681 "Invalid links in readme"
**What happened**
: [Readme.md CB-Tumblebug 스크립트 사용](https://github.com/cloud-barista/cb-tumblebug#cb-tumblebug-%EC%8A%A4%ED%81%AC%EB%A6%BD%ED%8A%B8-%EC%82%AC%EC%9A%A9) 섹션에 유효하지 않은 링크 발견

[code]

**Proposed solution**
: [Readme.md CB-Tumblebug 스크립트 사용](https://github.com/cloud-barista/cb-tumblebug#cb-tumblebug-%EC%8A%A4%ED%81%AC%EB%A6%BD%ED%8A%B8-%EC%82%AC%EC%9A%A9) 섹션에 유효하지 않은 링크 수정

`#` 을 추가하여 링

[2021-08-19 10:17] jangh-lee commented on #681
참여하겠습니다!

[2021-08-19 10:23] seokho-son commented on #681
/assign @jangh-lee

[2021-08-19 10:24] jihoon-seo commented on #23
@seokho-son 님과 논의하여,
MCIS / VM 라이프사이클 제어 API를
GetMcis / GetVm API 에서 분리해 내기로 하였습니다. 😊

e.g.
- GET /ns/ns-01/control/mcis/mcis-01
- GET /ns/ns-01/control/mcis/mcis-01/vm/vm-01

[2021-08-19 10:24] seokho-son commented on #681
감사합니다! 혹시나 어려움이 있으시면 어떠한 문제라도~~ 편하게 알려주세요!

[2021-08-19 10:44] leedohun commented on #681
저도 참여해도 될까요??

[2021-08-19 11:21] seokho-son commented on #681
@leedohun 자원 감사합니다... !!

현재 이슈는 @jangh-lee 께 우선권을 드렸고 (assign 이 되고 나면 이슈 작업에 대한 우선권이 있는 것으로 보시면 됩니다),
Task 자체가 나누기에는 적긴하지만...

기여 방법 연습 차원에서 Task를 나눠볼까 합니다.

@jangh-lee 님~~, Task를 다음과 같이 나눠도 될까요? ^^

 - [ ] `(클라우드-인증-정보-및-테스트-기본-정보-입력)` -> `(#클라우드-인증-정보-및-테스트-기본-정보-입력)`  // assign to @jangh-lee
 - [ ] `(개별-제어-시험)` -> `(#개별-제어-시험)` // assign to @jangh-lee
 - [ ] `(통합-제어-시험)` -> `(#통합-제어-시험)` // as

[2021-08-19 13:14] jangh-lee commented on #681
네 좋습니다! 배정된 task로 기여해보겠습니다.

[2021-08-19 14:07] seokho-son commented on #681
@jangh-lee 감사합니다.. ^^

@leedohun 아래 Task 기여 부탁 드립니다.. !

(멀티-클라우드-인프라-유스케이스) -> (#멀티-클라우드-인프라-유스케이스) // assign to @leedohun

[2021-08-20 17:56] seokho-son commented on #681
/close

[2021-08-20 17:56] #681 closed

[2021-08-30 08:23] atg0831 commented on #680
제가 gofmt으로 파일 저장하고 PR 요청해도 될까요?

[2021-08-30 08:24] seokho-son commented on #680
물론입니다^^

[2021-08-30 08:24] seokho-son commented on #680
/assign @atg0831

[2021-08-30 09:19] #680 closed

[2021-08-30 09:24] jihoon-seo opened #694 "Enhance some codes"
**What would you like to be enhanced**
:

https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/mcis/orchestration.go

[As-is]
[code]

I think that each comment line is too obvious,
but they are needed to suppress some Go lint suggestions. 😊

[To-be]
[code]

Inserting some line breaks will improve the readability. 😊

---

https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/

[2021-08-31 04:56] jihoon-seo opened #696 "Deprecate `cbadm` test scripts, and integrate into REST API test scripts"
**What would you like to be enhanced**
:
Deprecate `cbadm` test scripts, and integrate into REST API test scripts

**Why is this needed**
:
[REST API test scripts](https://github.com/cloud-barista/cb-tumblebug/tree/main/src/testclient/scripts)는 필요에 따라 계속 업데이트되고 있으나
[`cbadm` test scripts](https://github.com/cloud-barista/cb-tumblebug/tree/main/src/api/grpc/cbadm/testclient/scripts)는 그렇지 못함

**Propo

[2021-08-31 04:59] jihoon-seo commented on #696
그런데, `cbadm`이 다른 경로 또는 다른 repo로 옮겨질 가능성도 있어서,
일단은 CB-Tumblebug REST API test scripts에 위의 사항을 반영하지 않는 것이 좋을 수도 있겠습니다.

[2021-08-31 15:26] #23 closed

[2021-09-01 01:06] jihoon-seo opened #700 "Adopt Go reflect package"
@seokho-son referred the Go reflect package. 😊

- 예제 코드: https://play.golang.org/p/CGzM28ibuk4
- 참고 글
  - https://johngrib.github.io/wiki/golang-reflect/
  - https://w.cublr.com/programming/go/golang-reflect/
- 관련 이슈 및 PR
  - #654
  - #684
  - #699

**What would you like to be enhanced**
:
Adopt Go reflect package

**Why is this needed**
:
`TbSpecInfo` struct의 필드 이름을 `string` 으로 조회하는 사례가 있음
https:

[2021-09-01 01:38] seokho-son commented on #700
예제 코드: https://play.golang.org/p/CGzM28ibuk4

좋네요.. ㅎㅎ

근데 이 예제로 활용하려면 json tag가 필요하려나요.

[2021-09-01 03:05] jihoon-seo commented on #700
예제 코드에서
struct 정의를 다음과 같이 하니

[code]

json 태그는 empty 라서 출력되지 않는 것을 확인했습니다. 😊

[code]

[2021-09-01 11:02] seokho-son commented on #700
이런거 사용하려면 결국 json tag 를 살려야 하는 걸까요.. ㅠㅠ

[2021-09-02 01:59] jihoon-seo commented on #700
위의 예제에서는, struct field에 JSON tag가 명시되어 있지 않아서 JSON 태그가 출력되지 않은 것으로 보입니다.

---

JSON tag를 명시하지 않으면,
현재 CB-Spider가 동작하는 것과 같이
JSON marshal, unmarshal, bind 가 별 문제 없이 될 것으로 추측됩니다. 😊
(다만, 현재 TB 소스에서 각 struct field의 JSON 태그를 '첫글자를 소문자화 한 것' 으로 명시하고 있는데,
TB 소스에서 JSON tag를 삭제하면,
TB REST API call 시에 JSON field 첫글자를 소문자로 하여 호출하던 것이 계속 문제없이 동작할지
아니면 struct field 이름과 동일하게 첫글자를 대문자로 하여 호출해야 할지는 테스트가 필요합니다.)

[2021-09-02 19:33] HassanAlsamahi commented on #694
Hi, I'd like to start my contribution in golang projects by this issue, can I work on it?

[2021-09-03 01:18] seokho-son commented on #694
Of course @HassanAlsamahi  ~ ! :)

You can follow the suggestions from @jihoon-seo .  (Please check "[to-be]" section.)
(Message to @jihoon-seo : could you change contents of this issue in English ? to help the first time contributor.)

This issue is easy to resolve and not affect to main logic. So, you can do this intuitively :)

I am not sure you are familial with git and github, the following i

[2021-09-03 02:07] jihoon-seo commented on #694
@HassanAlsamahi @seokho-son
I updated the content of this issue into English.
Thank you for your interest and contribution! 😊

[2021-09-03 02:13] jihoon-seo opened #705 "Group some string vars into string array"
**What would you like to be enhanced**
:
Group some string vars into string array.

**Why is this needed**
:

**Proposed solution**
:

[As-is]
`src/core/mcis/control.go`

[code]

[To-be]
[code]

[2021-09-03 02:28] jihoon-seo opened #706 "Adopt Structure Validation"
Ref:
- https://blog.billo.io/devposts/go_struct_validation/
- https://genius-kim-1047.tistory.com/59
- ...

**What would you like to be enhanced**
:
Adopt Structure Validation

**Why is this needed**
:

**Proposed solution**
:

[2021-09-03 05:36] jihoon-seo commented on #674
다음 REST API는 호출할 때 JSON body를 적어야 하는데 GET method로 되어 있습니다.

`cb-tumblebug/src/api/rest/server/server.go`
[code]

`cb-tumblebug/src/api/rest/server/mcir/spec.go`
[code]

`cb-tumblebug/src/api/rest/server/mcir/image.go`
[code]

[2021-09-03 12:09] HassanAlsamahi commented on #694
Thanks very much for giving me this opportunity, and your support.

[2021-09-06 01:40] #694 closed

[2021-09-07 16:46] seokho-son opened #713 "Add AWS Osaka region (ap-northeast-3) to test configuration"
**What would you like to be enhanced**
New Asia Pacific (Osaka) has been added in AWS.
I hope to add a basic test configuration for this region for CB-Tumblebug testclient.

**Why is this needed**
We can use AWS Osaka region easily to generate multi-clouds IaaS infra with CB-Tumblebug testclient.

**Proposed solution**

 - [ ] Add a new test configuration for AWS Osaka region (ap-northeast-3) as `

[2021-09-07 16:49] seokho-son commented on #713
@irint92 Could you help us to resolve this issue? I think this is a good-first-issue. :)

[2021-09-08 02:10] seokho-son commented on #706
@jihoon-seo 하나가 강조되어 있네요.. ? ㅋㅋ

[2021-09-08 02:17] seokho-son commented on #706
좋네요.. ^^

[2021-09-08 05:31] seokho-son opened #716 "Add Graceful Shutdown of CB-Tumblebug server"
**What would you like to be added**
: Graceful Shutdown of CB-Tumblebug server (REST API, ...)

**Why is this needed**

ref) https://echo.labstack.com/cookbook/graceful-shutdown/
ref) https://medium.com/@pinkudebnath/graceful-shutdown-of-golang-servers-using-context-and-os-signals-cc1fa2c55e97

[2021-09-08 09:52] jihoon-seo opened #719 "[Test script] MCIS name mismatch"
**What happened**
:
`❯ ./create-all.sh -n jhseo -c mock -r 1` 명령으로 MCIS 생성하면 MCIS 이름이 `cb-jhseo` 인데,
`❯ ./clean-all.sh -n jhseo -c mock -r 1` 명령을 실행하면 `mock-seoul-jhseo` 라는 MCIS를 삭제하려고 시도하여, `cb-jhseo` MCIS가 삭제되지 않음

[참고]
`❯ ./create-all.sh -n jhseo -c mock -r 1` 명령으로 MCIS 생성했을 때, 각 자원의 ID
- Spider
  - "ConfigName": "mock-seoul",
  - "ProviderName": "MOCK",
  - "DriverName": "mock-driver01",
  - "

[2021-09-08 10:05] jihoon-seo commented on #719
[호출 구조]
- sequentialFullTest/create-all.sh
  - sequentialFullTest/create-mcis-only.sh
    - 8.mcis/create-mcis.sh
    - 8.mcis/create-single-vm-mcis.sh
- sequentialFullTest/clean-all.sh
  - sequentialFullTest/clean-mcis-only.sh
    - 8.mcis/terminate-mcis.sh
    - 8.mcis/delete-mcis.sh

[2021-09-08 19:30] #719 closed

[2021-09-09 08:44] seokho-son commented on #566
Cf) @jihoon-seo

`[^\x00-\x7F]+` 한글 코멘트 검색을 위한 정규식 (완벽하진 않아요)

VS Code에서 정규식으로 cb-tumblebug/src 를 검색하면~~

한.. 3000천개쯤 나오네요 ㅎㅎ

[2021-09-09 08:47] seokho-son commented on #566
`.*[ㄱ-ㅎㅏ-ㅣ가-힣]+.*` 이게 낫네요 ^^
이렇게 하면 469개가 검색되는군용.

[2021-09-09 09:22] seokho-son opened #722 "Dynamic config for server port"
**What would you like to be enhanced**
: Dynamic config for server port (REST api server for this moment)

**Why is this needed**
: Sometimes users want to use custom port

**Proposed solution**
- [ ] Add a new environment variable for CB-Tumblebug REST API port.
  Where: https://github.com/cloud-barista/cb-tumblebug/blob/99bbff3b9b115b2e26fcdb2730cf8e052328d04a/conf/setup.env#L6
  Ex: TUMBLEBUG_R

[2021-09-10 10:44] HassanAlsamahi commented on #705
Can I be assigned to this ?

[2021-09-10 14:14] seokho-son commented on #706
/assign @jihoon-seo

[2021-09-10 14:15] seokho-son commented on #705
Sure ! @HassanAlsamahi :)

[2021-09-10 14:15] seokho-son commented on #705
/assign @HassanAlsamahi

[2021-09-11 15:58] seokho-son commented on #713
Ping @irint92 :)

[2021-09-12 14:22] atg0831 commented on #674
@jihoon-seo
Request에 body 값을 넣어서 REST API를 호출하기 위해서 method를 `e.GET` 에서 `e.POST` 로 변경하라는 뜻으로
이해했는데 혹시 맞을까요?

[2021-09-13 00:09] seokho-son commented on #675
/assign @PARKINHYO

[2021-09-13 00:36] seokho-son commented on #675
/close

[2021-09-13 00:37] #675 closed

[2021-09-13 00:37] seokho-son commented on #705
/close

[2021-09-13 00:37] #705 closed

[2021-09-13 01:30] seokho-son commented on #674
@atg0831 환영합니다.. ^0^
@jihoon-seo 신규 기여자를 위해, 해당 이슈에 대해서 조금 상세하게 가이드 부탁 드려도 될까요? ^^

[2021-09-13 02:30] jihoon-seo commented on #674
@atg0831 안녕하세요~~

네 맞습니다.
관련 이력, 내용 및 논의는 #502 (How to handle `GET method` with body param in CB-TB API) 를 참고하시면 되겠습니다. 😊

HTTP method를 GET 에서 POST 로 바꾼다면, 함께 변경해야 하는 부분은 다음과 같습니다.
1. Go annotation for Swagger doc
   - https://github.com/cloud-barista/cb-tumblebug/blob/69ba857cb522e220f42b58f102a28201e9324368/src/api/rest/server/mcir/image.go#L110
   - https://github.com/cloud-barista/cb-tumblebug

[2021-09-13 02:53] atg0831 commented on #674
@jihoon-seo
설명해주신 이슈 가이드를 참고해서 수정해보겠습니다!

[2021-09-13 03:11] seokho-son commented on #674
@atg0831 감사합니다!! ^^

[CB-TB 기여 가이드](https://github.com/cloud-barista/cb-tumblebug#2-%EA%B8%B0%EC%97%AC-%EA%B0%80%EC%9D%B4%EB%93%9C)에

[CB-TB 기여자의 테스팅 준수 사항](https://github.com/cloud-barista/cb-tumblebug/wiki/Basic-testing-guide-before-a-contribution#cb-tb-%EA%B8%B0%EC%97%AC%EC%9E%90%EC%9D%98-%ED%85%8C%EC%8A%A4%ED%8C%85-%EC%A4%80%EC%88%98-%EC%82%AC%ED%95%AD)도 참고해주시길 부탁드립니다.. ^^

API를 수정하는 경우에는
http

[2021-09-13 03:12] seokho-son commented on #674
/assign @atg0831

[2021-09-13 03:12] seokho-son commented on #722
/help

[2021-09-13 05:55] seokho-son commented on #643
@jihoon-seo 이 issue 는 close 해도 될까요?

[2021-09-13 08:03] jihoon-seo commented on #643
@seokho-son
관련하여 #671 ("TB -> DF gRPC 호출 시, DF endpoint 설정 방법 관련") 에서 논의가 있었으며,
gRPC 관련 개발은 2022년 이후로 미루어졌으므로
일단 close 해도 될 것 같습니다. 😊

[2021-09-13 08:03] #643 closed

[2021-09-14 13:13] seokho-son commented on #713
I'd like to open this issue to everyone :)

Please let us know if you are interested !! FIFO

[2021-09-15 03:07] seokho-son opened #740 "Need to check CB-TB and CB-SP are available in testScript"
**What would you like to be enhanced**
test script 에 CB-TB 및 CB-SP 서버가 동작 가능하고 접속 가능한지 확인하는 모듈 필요

**Why is this needed**
CB-TB 및 CB-SP 서버가 동작하지 않는 상태에서 실수로 MCIS 생성하는 경우가 종종 발생

**Proposed solution**
- `common-functions.sh` 에 CB-TB, CB-SP health 확인하는 함수 추가
- `create-all.sh` 에 함수 적용 (다른 스크립트에도 적용 여부는 ~ 함께 고민해보아요.. ^^)

[2021-09-15 03:07] seokho-son commented on #740
/assign @seokho-son

[2021-09-15 04:25] #740 closed

[2021-09-15 11:08] #674 closed

[2021-09-15 14:04] atg0831 opened #744 "Update swag version from v1.7.0 to v1.7.1 in go.mod"
#742 의 작업을 swag v1.7.1을 사용하여서 진행하였는데 go.mod에는 swag v1.7.0 을 사용하고 있는 것을 발견하였습니다.
따라서 go.mod의 swag version을 v1.7.1 로 업데이트가 필요합니다.

관련 discussion https://github.com/cloud-barista/cb-tumblebug/pull/742#discussion_r708949567

[2021-09-15 14:35] seokho-son commented on #744
/assign @atg0831

[2021-09-15 15:19] seokho-son opened #745 "Get user input to confirm test config for clean-all.sh"
**What would you like to be enhanced**
: Get user input to confirm test config for clean-all.sh

**Why is this needed**
: To prevent, a wrong operation.

**Proposed solution**
Apply the validation style in https://github.com/cloud-barista/cb-tumblebug/blob/main/src/testclient/scripts/sequentialFullTest/create-all.sh

into

the https://github.com/cloud-barista/cb-tumblebug/blob/main/src/testclient/

[2021-09-15 15:20] seokho-son commented on #745
ref #734

[2021-09-15 19:55] seokho-son opened #747 "Not properly formatted source codes"
**What would you like to be enhanced**
Two files are not formatted in `gofmt`.
https://goreportcard.com/report/github.com/cloud-barista/cb-tumblebug

1. cb-tumblebug/src/core/common/utility.go
: warning: file is not gofmted with -s (gofmt)

2. cb-tumblebug/src/core/mcis/orchestration.go
: warning: file is not gofmted with -s (gofmt)

**Why is this needed**
Code enhancement.

**Proposed solution**

[2021-09-15 19:57] seokho-son commented on #747
Hello, contributors ~! This is very simple issue :)
I'd like to recruit **two new contributors** !
Please let us know, if you are interested.

[2021-09-15 20:06] seokho-son opened #748 "Typo in Readme"
#### Problem !

Missed `)` for a link in Readme.
[cb-tumblebug/blob/main/README.md](https://github.com/cloud-barista/cb-tumblebug#cb-tumblebug-%EC%8A%A4%ED%81%AC%EB%A6%BD%ED%8A%B8-%EC%82%AC%EC%9A%A9)

#### Suggestion !

[code]

[2021-09-15 20:07] seokho-son commented on #748
Hello, contributors ~! This is a very simple issue :)
I'd like to recruit **a new contributor** !
Please let us know, if you are interested.

[2021-09-16 01:53] jihoon-seo commented on #747
For anyone's information: 다음 위키 글도 참고해 보세요 😊
https://github.com/cloud-barista/cb-tumblebug/wiki/Enable-%60gofmt--s%60-(simplify)-flag-on-gopls-enabled-VScode

[2021-09-16 01:58] jihoon-seo opened #749 "Organize MCIS control REST APIs"
336 라인에서 `status, ` 부분은 삭제하는 것이 맞겠습니다. 😊

As of 2021-09-15:

- `refine` 기능은 `/ns/{nsId}/mcis/{mcisId} [get]` API에 들어 있습니다 😊
- `suspend, resume, reboot, terminate` 기능이 `/ns/{nsId}/mcis/{mcisId} [get]` API에도 남아 있습니다.
  제거해도 괜찮다면 (cb-webtool, CB-MCKS 에 안내 등), 제거하면 좋겠네요 😊

---

- `/ns/{nsId}/mcis/{mcisId} [get]` API에는 정보/상태 조회 기능 (metadata, status, id, simple) 만 남긴다면,
  `refine` 기능은 다른 API로 옮기는 것이 좋을

[2021-09-16 03:04] seokho-son commented on #749
@jihoon-seo 공감합니다..^^ 일단 api를 읽기 전용 구분을 위해 나누는 상황이라 오브젝트에 수정을 가하는 refine은 옮기는 것이 맞을 것 같은데,

Refine이 라이프사이클을 위한 정리옵션을 것을 고려하면
/ns/{nsId}/control/mcis/{mcisId} 에 들어가도 되지 않을까 싶네요.^^ 아님 다른 함수를 만드는 것이 좋으려나요.

[2021-09-16 06:01] jihoon-seo opened #751 "Update dependency - github.com/beego/beego"
**What would you like to be enhanced**
:
Update dependency - github.com/beego/beego

**Why is this needed**
:
Cross Site Scripting (XSS) vulnerability exists in beego ~v2.0.1.
![image](https://user-images.githubusercontent.com/46767780/133557452-68c0ea45-6179-4ef3-ac2b-ef47053f9afd.png)

**Proposed solution**
:
- Go to https://github.com/beego/beego/tags and check if `v2.0.2` has released.
- If `v

[2021-09-16 06:23] seokho-son commented on #749
@jihoon-seo

/ns/{nsId}/control/mcis/{mcisId}  에서 refine 이 처리되도록 contribution recruiting 해볼까요? ^^ 신규 이슈로??

[2021-09-16 06:43] #744 closed

[2021-09-16 07:50] jihoon-seo opened #754 "Replace beego validation with `go-playground/validator`"
**What would you like to be enhanced**
:
Replace beego validation with `go-playground/validator`.

**Why is this needed**
:
Please refer to:
- #752

**Proposed solution**
:
Please refer to:
https://github.com/go-playground/validator/blob/ce34f361cca51e25715399ab801c5e1c01d02d89/_examples/simple/main.go#L89-L101

[2021-09-16 07:55] jihoon-seo commented on #751
만약 이슈 #754 가 resolve 되면, 이 이슈는 no more valid 하므로 close 하면 되겠습니다. 😊

[2021-09-16 07:57] jihoon-seo commented on #754
만약 이 이슈가 resolve 되면, 이슈 #751 은 no more valid 하므로 close 하면 되겠습니다. 😊

[2021-09-16 08:08] seokho-son commented on #754
@jihoon-seo
네넵 :) #751 는 신규 컨트리뷰터를 위한 이슈이므로 ~ 컨트리뷰터의 선택에 맡겨보면 될 것 같습니다.

[2021-09-16 08:13] jihoon-seo opened #755 "Move MCIS refine feature's REST API: from `GET /mcis` to `GET /control/mcis`"
- Related PR: #695
- This issue is a sub-issue of #749.

**What would you like to be enhanced**
:
Move MCIS refine feature's REST API: from `GET /mcis` to `GET /control/mcis`.

**Why is this needed**
:

`refine` 기능은 다른 API로 옮기는 것이 좋을 것 같습니다. 😊

`/ns/{nsId}/control/mcis/{mcisId}` 에 들어가도 되지 않을까 싶네요.^^

**Proposed solution**
:

https://github.com/cloud-barista/cb-tumblebug/blob/main/src/api/rest/serv

[2021-09-16 08:13] seokho-son commented on #751
해당 이슈는 신규 컨트리뷰터를 위한 이슈입니다. (go.mod 업데이트)

다만 @jihoon-seo 께서 안내해주신 바와 같이, #754 `beego` 패키지 자체를 활용하지 않게 되는 경우
go.mod 에서 `beego` 패키지 자체가 삭제 되어야 합니다.

신규 컨트리뷰터께서는, 이 이슈 또는 #754 를 각각 또는 함께 고려하여 기여를 진행해 보실 수 있습니다.

[2021-09-16 10:41] seokho-son commented on #665
/help

[2021-09-16 11:33] ChobobDev commented on #747
제가 한번 기여해 보도록 하겠습니다.

[2021-09-16 11:35] ChobobDev commented on #655
제가  `cb-tumblebug/i18n 디렉토리 생성 및 README-EN.md 파일 생성` task에 기여해 보도록 하겠습니다.

[2021-09-16 11:57] seokho-son commented on #747
/assign @ChobobDev

[2021-09-16 11:58] seokho-son commented on #747
감사합니다!! 어려움이 있으시면 공유해주세요~~~ :)

[2021-09-16 12:00] seokho-son commented on #655
감사합니다!!
Tasks (contributors can take a task individually)
1. [x] cb-tumblebug/i18n 디렉토리 생성 및 README-EN.md 파일 생성 [@ChobobDev]
2. [x] cb-tumblebug/README.md 를 수정하여, README-EN.md 링크 제공 (WIP를 표시) [@ChobobDev]
3. [ ] README.md 내용을 영문으로 번역하여 README-EN.md 파일 업데이트
4. [ ] README.md 에 영문 README의 WIP 표기를 삭제

[2021-09-16 14:09] ChobobDev commented on #747
넵

[2021-09-17 17:36] seokho-son commented on #747
/close

[2021-09-17 17:36] #747 closed

[2021-09-18 05:56] ChobobDev commented on #655
I will work on the rest of the task for this issue.
제가 나머지 task들도 해보겠습니다.

Thank you
감사합니다.

[2021-09-18 08:40] seokho-son commented on #655
/assign @ChobobDev

[2021-09-19 01:41] ChobobDev commented on #655
Should I one PR when I am done with translation or is it okay for me to PR and keep working on translation.

번역을 다 마친후에 한번에 PR을 하는게 좋을까요 아니면 task 1 & task 2 만 우선적으로 PR을 올린 후 다시 PR을 올릴까요?

[2021-09-19 01:42] ChobobDev commented on #748
If no one is Interested,will it be okay for me to work on this issue?

[2021-09-19 07:35] seokho-son commented on #655
@ChobobDev 독립적으로 올려주시는 것이 더 좋을 것 같습니다!! :)

[2021-09-19 07:37] seokho-son commented on #748
Of course you can work on this issue. I will assign.

[2021-09-19 07:37] seokho-son commented on #748
/assign @ChobobDev

[2021-09-21 03:57] ChobobDev commented on #751
beego `v2.0.2` 가 정식 배포되면 우선 dpendency는 수정하여 PR을 올리도록 하겠습니다.
또한 #754 이슈도 지속적으로 확인하여 `beego` 사용 여부도 확인하겠습니다.

감사합니다.

[2021-09-22 23:18] PARKINHYO commented on #755
/assign @PARKINHYO

[2021-09-23 00:08] #748 closed

[2021-09-23 05:09] #755 closed

[2021-09-23 05:17] seokho-son opened #761 "Enhance codes for mcis control by applying switchCase"
Issued from review comments in PR #760

_Originally posted by @jihoon-seo in https://github.com/cloud-barista/cb-tumblebug/pull/760#discussion_r714432317_

_Originally posted by @PARKINHYO in https://github.com/cloud-barista/cb-tumblebug/pull/760#discussion_r714434335_

[2021-09-23 05:21] seokho-son commented on #761
@PARKINHYO Could you contribute to this issue? :)

[2021-09-23 05:23] seokho-son commented on #751
/assign @ChobobDev

[2021-09-23 05:26] seokho-son commented on #749
I think this issue has been resolved by #760

[2021-09-23 05:27] seokho-son commented on #749
Let me close :)

[2021-09-23 05:27] seokho-son commented on #749
/close

[2021-09-23 05:27] #749 closed

[2021-09-23 15:10] seokho-son commented on #761
/assign @PARKINHYO

[2021-09-24 04:02] seokho-son opened #765 "Current Dockerfile uses static endpoint for spider and dragonfly"
https://github.com/cloud-barista/cb-tumblebug/blob/main/Dockerfile#L48

현재 Dockerfile 에는
`ENV SPIDER_REST_URL http://cb-spider:1024/spider` 와 같은 형태로 엔드포인트(cb-spider)가 명시되어 있습니다.

dockercompose나, kubernetes 환경에서는 문제가 없을 것 같은데,

local 머신에서 독자적으로 컨테이너를 실행하게 되면

cb-spider 에 대한 도메인네임 리졸브가 바로 되지 않을 것 같네요.

개선이 필요할까요?

PTAL: @jihoon-seo

[2021-09-24 04:17] seokho-son opened #766 "Need a space for an error message"
**What happened**
:

Need a space for the error message in https://github.com/cloud-barista/cb-tumblebug/blob/fc375a6623fb07c0512fb1eb6bae61ef3fbc2ebf/src/core/mcis/control.go#L483

**Proposed solution**
:

[code]

with" --> with "

[2021-09-24 10:52] betelgeuse-7 commented on #766
`return "", "", fmt.Errorf("cannot do ssh with %s, %s", verifiedUserName, err.Error())`

[2021-09-24 15:14] seokho-son commented on #766
Hello @betelgeuse-7

Are you interested on this issue ? :)
If so, I can assign this issue to you.

This issue is easy to handle and we are happy to assist you !

[2021-09-24 15:21] betelgeuse-7 commented on #766
@seokho-son yes, I can take this issue. This is easy to solve. But I cannot make a pr today, but tomorrow. If that's okay to you, then assign me. :)

[2021-09-24 15:26] seokho-son commented on #766
@betelgeuse-7 You don't have to rush at all :)
I am happy to assign new contributor !

[2021-09-24 15:26] seokho-son commented on #766
/assign @betelgeuse-7

[2021-09-24 15:41] betelgeuse-7 commented on #766
ok thanks @seokho-son

[2021-09-24 18:21] #765 closed

[2021-09-25 07:19] seokho-son commented on #566
Tasks to resolve this issue partially.

Apply

[code]
to tasks

- [ ] https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/mcir/common.go
- [ ] https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/mcir/image.go
- [ ] https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/mcir/securitygroup.go
- [ ] https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/m

[2021-09-25 07:41] jangh-lee commented on #566
@seokho-son  2번 제가 해보고 싶습니다!

[2021-09-25 07:41] limsg1234 commented on #566
@seokho-son 안녕하세요. 4번 task 해보고 싶습니다.

[2021-09-25 07:41] gbnam commented on #566
5번 해보고싶습니다

[2021-09-25 07:43] seokho-son commented on #566
1. - [ ] https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/mcir/common.go // assigned to @seokho-son
2. - [ ] https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/mcir/image.go // assigned to @jangh-lee
3. - [ ] https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/mcir/securitygroup.go
4. - [ ] https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/

[2021-09-25 13:40] seokho-son commented on #766
Fixed from the PR #780

[2021-09-25 13:40] #766 closed

[2021-09-26 01:02] seokho-son opened #783 "Exported type should have comment or be unexported (golint)"
**What would you like to be enhanced**
Exported type should have comment or be unexported (golint) for

cb-tumblebug/src/core/mcir/common.go

- Line 431: warning: exported type SpiderNameIdSystemId should have comment or be unexported (golint)
- Line 436: warning: exported type SpiderAllListWrapper should have comment or be unexported (golint)
- Line 440: warning: exported type SpiderAllList shoul

[2021-09-26 04:46] seokho-son commented on #783
Tip

1. - [ ] Line 431: warning: exported type SpiderNameIdSystemId should have comment or be unexported (golint)

// SpiderNameIdSystemId is struct for mapping NameID and System ID from CB-Spider response.

2. - [ ] Line 436: warning: exported type SpiderAllListWrapper should have comment or be unexported (golint)

// SpiderAllListWrapper is struct for wrapping SpiderAllList struct from CB-Spider

[2021-09-26 04:50] seokho-son commented on #783
제가 Task 1번을 처리해보겠습니다!

[2021-09-26 05:24] ChobobDev commented on #783
제가 Task 3번을 처리해보겠습니다

[2021-09-26 05:24] Modney commented on #783
제가 task 2번하겠습니다

[2021-09-26 05:24] sypark9646 commented on #783
제가 Task 4번을 처리해보겠습니다!

[2021-09-26 11:23] betelgeuse-7 commented on #722
Can't we require the user to pass, for example, `--port=1323` ? We can utilize flag package for parsing command line arguments.
If the user doesn't give a port, we can use a default port such as 1323.
¯\_(ツ)_/¯

[2021-09-26 14:29] jangh-lee commented on #713
@seokho-son  I want to join this issue.

[2021-09-26 15:09] jangh-lee commented on #713
아 그런데, test script인 conf.env와 testSet.env 모두 osaka리전이 포함되어 작성이 되어있는 것 같네요.

![image](https://user-images.githubusercontent.com/72970232/134813354-27685bd7-86a5-4410-a96c-b9088aa63cee.png)

![image](https://user-images.githubusercontent.com/72970232/134813368-92014003-fd89-497c-a452-57970f82444c.png)

[2021-09-26 15:40] jangh-lee opened #790 "Upgrade the version of the MapUI script."
**What would you like to be enhanced**
: Upgrade the version of the MapUI script.

**Why is this needed**
:  To supply latest environment for test users. The latest version is 0.4.4, but the setup script is 0.4.1.

**Proposed solution**
:

https://github.com/cloud-barista/cb-tumblebug/blob/c3fc06048ba3e4d340b5b6e3469b4ef456773c3e/scripts/runMapUI.sh#L4

CONTAINER_VERSION="0.4.1" -> ```"0.4.4"```

[2021-09-26 15:46] seokho-son commented on #722
@betelgeuse-7 Thank you for the suggestion !
I'd like to invite you to resolve this Issue ! (if you are available)

I think your suggestion is a better solution. :)

I hope to hear @jihoon-seo 's opinion though to check there are no other concerns.
PTAL: @jihoon-seo

[2021-09-26 16:12] seokho-son commented on #713
@jangh-lee 헉! 이건 저의 실수이네요. 이미 처리되어 있는 내용을 포함해달라고 이슈를 만들다니;;

확인 감사합니다!! 기여해보겠다고 하셨는데 ㅠㅠ 해당 이슈는 아쉽지만 close 하겠습니다.. ^^

다른 좋은 이슈를 또 찾아서 소개해드리겠습니다.

[2021-09-26 16:13] #713 closed

[2021-09-26 16:17] seokho-son commented on #790
/close

[2021-09-26 16:17] #790 closed

[2021-09-26 16:19] seokho-son commented on #722
/assign @betelgeuse-7

[2021-09-26 16:20] betelgeuse-7 commented on #722
Okay. I am going to try to add this feature tomorrow. :)

[2021-09-27 01:07] seokho-son opened #793 "Mislead contents in Readme"
**What happened**
Mislead contents in Readme (https://github.com/cloud-barista/cb-tumblebug/blob/main/README.md).

https://github.com/cloud-barista/cb-tumblebug/blame/main/README.md#L422
https://github.com/cloud-barista/cb-tumblebug/blame/main/README.md#L423

[code]

are mislead contents.

**Proposed solution**

Remove
https://github.com/cloud-barista/cb-tumblebug/blame/main/README.md#L422
https:/

[2021-09-27 02:04] seokho-son opened #795 "Apply colors to important messages in script"
**What would you like to be enhanced**
스크립트 출력의 주요 메시지에 색상 추가

**Why is this needed**
가독성 향상

**Proposed solution**
 - common-functions.sh 에 색상 변수 추가
 - status-mcis.sh 출력 메시지에 색상 적용

[2021-09-27 02:04] seokho-son commented on #795
/assign @seokho-son

[2021-09-27 02:07] jihoon-seo opened #796 "Error in `docker run ...` command"
**What happened**
:
In https://github.com/cloud-barista/cb-tumblebug#2-컨테이너-기반-실행 ,
local path to mount is hardcoded as `/root/`.

[code]

**What you expected to happen**
:

**How to reproduce it (as minimally and precisely as possible)**
:

**Anything else we need to know?**
:

**Environment**
- Source version or branch:
- OS:
- Others:

**Proposed solution**
:
Update [README.md](https://github.c

[2021-09-27 02:16] jihoon-seo opened #797 "Add 'paths to ignore' to auto-build GitHub workflows"
Resolves https://github.com/cloud-barista/cb-tumblebug/pull/794#issuecomment-927450541

**What would you like to be enhanced**
:
Add 'paths to ignore' to auto-build GitHub workflows.

**Why is this needed**
:
[`docs/`](https://github.com/cloud-barista/cb-tumblebug/tree/main/docs) 디렉토리 아래에 있는 파일들은 업데이트 되더라도
- 빌드 테스트를 필요로 하지 않고
- 컨테이너 이미지 업데이트도 필요로 하지 않기 때문임

**Proposed solution**
:

[Line to add]
[

[2021-09-27 02:51] #795 closed

[2021-09-27 03:29] Jayita10 commented on #796
I want to work on this issue

[2021-09-27 04:39] seokho-son commented on #796
@Jayita10 I am happy to see a new contributor !!
Sure, you can work on this issue :)

Let me assign you to this issue.

[2021-09-27 04:39] seokho-son commented on #796
/assign @Jayita10

[2021-09-27 05:52] seokho-son commented on #796
/close

[2021-09-27 05:52] #796 closed

[2021-09-27 06:46] jihoon-seo commented on #765
@seokho-son 한번 쭉 적어 보았습니다.. 😊

CB-Tumblebug 컨테이너를 활용하는 방법은 다음과 같습니다.
1. `docker run` 명령을 이용하여 실행
2. `docker-compose.yaml` 파일을 작성하고, Docker Compose 이용하여 실행
3. Helm chart 작성하고, Helm 이용하여 실행

이 이슈에서는 `1. docker run 명령을 이용하여 실행` 에 대해 다루고 있기 때문에, 아래에서도 이 경우에 대해 다뤄 보겠습니다.

[CB-TB Dockerfile](https://github.com/cloud-barista/cb-tumblebug/blob/44a0bed527b3e40002817f225910f401d1729c91/Dockerfile#L48) 에는
`E

[2021-09-27 09:09] MukulKolpe commented on #793
Hey @seokho-son can I work on this issue?

[2021-09-27 10:00] jihoon-seo commented on #793
@MukulKolpe Sure!
Thank you for your interest on this project! 😊

[2021-09-27 17:25] seokho-son commented on #793
@MukulKolpe
We always welcome new contributors !! Please go ahead :)

I hope to share this notice regarding language used in this project.
[Localization and Globalization of CB-Tumblebug](https://github.com/cloud-barista/cb-tumblebug#localization-and-globalization-of-cb-tumblebug-cb-tumblebug%EC%9D%98-%ED%98%84%EC%A7%80%ED%99%94-%EB%B0%8F-%EC%84%B8%EA%B3%84%ED%99%94)
[code]
We can communicate in E

[2021-09-27 17:49] seokho-son commented on #265
/close

[2021-09-27 17:49] #265 closed

[2021-09-28 03:05] seokho-son opened #803 "Enhance stability and speed of remote command feature (ssh)"
**What would you like to be enhanced**
: stability and speed of remote command feature (ssh)

**Why is this needed**
: Maybe, due to the SSH security configuration, the remote command (ssh client) of CB-TB fails sometimes.

**Proposed solution**
: Examine stability issue, Test performance, remove redundant username checks.

[2021-09-28 03:06] seokho-son commented on #803
Let me do this.

[2021-09-28 03:06] seokho-son commented on #803
/assign

[2021-09-28 04:51] seokho-son opened #804 "Automate opening a PR to update Swagger API doc by a workflow"
- 컨트리뷰터는 소스코드에 API 관련 내용(struct, comment 등)을 수정한 경우, `make swag` 을 통해 API 문서를 자동 생성하고 있습니다. 그리고 컨트리뷰터가 PR을 열어서 해당 파일을 업데이트하고 있습니다. (https://github.com/cloud-barista/cb-tumblebug/wiki/API-Document-Update)
   - 예를 들어,
     - 컨트리뷰터가 API 관련 comment 수정하였다면, https://github.com/cloud-barista/cb-tumblebug/blob/dc8e9e40d207343ae0b2868901a2d7f11f7ae7b5/src/api/rest/server/mcir/image.go#L12
     - 컨트리뷰터는 'ma

[2021-09-28 05:20] jihoon-seo commented on #804
[Pseudocode]

- Workflow 실행 조건 후보들:
  - `src/core/*/*.go` 파일 OR `src/api/rest/server/*/*.go` 파일에 변경이 발생한 경우
- 단계
  - Checkout CB-TB codes (using `actions/checkout@v2`)
  - (필요 시) go build를 위한 환경 구축
  - `swag` 설치 (`go install ...` 로 설치할 수도 있지만, 만약 go build를 위한 환경이 필요하지 않다면, `swag` 바이너리를 받아서 활용할 수도 있음)
  - `src/` 에서 `make swag` 실행
  - Create Pull Request ([참고](https://github.com/cloud-barista/cb-ope

[2021-09-28 05:48] seokho-son commented on #804
@computerphilosopher
Github workflow 만들어보신 적 있으신가요~~? ^^ (예전에 test workflow 제안해주셨던 것이 생각났습니다.)
혹시 기여가 가능하실지 문의 드립니다. 편하게 응답 주세요~~

[2021-09-28 05:50] seokho-son commented on #797
@jangh-lee
간단하지만~ Github workflow 를 개선해볼 수 있는 이슈입니다! :)
혹시 기여에 관심이 있으신가요? ^^

[2021-09-28 07:20] seokho-son opened #805 "Apply updates from PR #799 for readme(KR) to readme(EN-WIP)"
Thank you @seokho-son :)
Just a suggestion, I think the same should be changed [here](https://github.com/cloud-barista/cb-tumblebug/blob/main/i18n/README-EN.md) also.

_Originally posted by @Jayita10 in https://github.com/cloud-barista/cb-tumblebug/issues/799#issuecomment-927856081_

[2021-09-28 07:24] seokho-son commented on #805
This issue discovered by @Jayita10

We don't have to limit this issue for first-time-contributor only :)
So, I'd like to rely on @Jayita10. Please contribute ! :)

[2021-09-28 07:24] seokho-son commented on #805
/assign @Jayita10

[2021-09-28 07:26] seokho-son commented on #805
/assign @Jayita10

[2021-09-28 08:47] jihoon-seo commented on #722
This issue is resolved by the PR #802.

[2021-09-28 08:47] #722 closed

[2021-09-28 12:05] jangh-lee commented on #797
@seokho-son 넵! 참여하겠습니다!! files to update에 있는 파일 수정 진행해보겠습니다.

[2021-09-28 12:09] seokho-son commented on #797
/assign @jangh-lee

[2021-09-28 12:10] seokho-son commented on #797
감사합니다! workflow 연습/공부? 도 devops에 도움이 되지 않을까 싶어요 ㅎㅎ

[2021-09-28 12:23] #793 closed

[2021-09-28 12:27] seokho-son commented on #805
fixed by #806

[2021-09-28 12:27] #805 closed

[2021-09-28 16:23] jangh-lee commented on #797
@seokho-son  @jihoon-seo Good first issue 감사합니다. PR 진행했으나,
학습을 위해서 불필요한 브랜치 및 커밋이 많았어서 전부 삭제하고 올리는 것이라서 잘 되었는지 모르겠습니다.
검토 부탁드립니다.

[2021-09-28 17:28] seokho-son commented on #797
resolved by #810

[2021-09-28 17:28] #797 closed

[2021-09-28 23:06] #803 closed

[2021-09-29 04:05] computerphilosopher commented on #804
@seokho-son

github workflow는 해본적이 없지만 Travis CI는 경험이 있습니다.

기본 구조는 비슷할테니 한 번 시도해보겠습니다.

[2021-09-29 05:06] seokho-son commented on #804
@computerphilosopher
감사합니다!! 👍

하시면서 어려운 부분이 있으면 알려주세요~! (참고로 작성한 workflow의 테스트는 1차적으로는 본인의 forked repository에서 돌려보시면 될 것 같습니다. 권한 이슈로 upstream에서 바로 구동시킬 수는 없을 거예요.)

@jihoon-seo 님~
혹시 @computerphilosopher 기여자께서 참고하실만한 reference가 있을까요? ^^
대략 기억나시는 것이 있으시면 공유해주세요~~

[2021-09-29 05:07] seokho-son commented on #804
/assign @computerphilosopher

[2021-09-29 05:09] seokho-son commented on #804
@hermitkim1 님~ 좋은 정보가 있으시면 여기 공유해주세요 ^^
(나중에 @computerphilosopher 께서 PR 오픈하시면, 리뷰도 부탁드려보겠습니다!! ㅎㅎ)

[2021-09-30 05:21] hermitkim1 opened #815 "Set `CBTUMBLEBUG_ROOT` based on a project root directory"
**What would you like to be enhanced**
: To set `CBTUMBLEBUG_ROOT` in `setup.env` based on a project root directory
: Refs (Thanks, @computerphilosopher):
- https://github.com/cloud-barista/cb-spider/issues/458#issue-978197964
- https://github.com/cloud-barista/cb-spider/pull/459#issue-982139909

**Why is this needed**
: It must be more convenient for contributors to configure their own developmen

[2021-09-30 05:23] seokho-son commented on #815
@hermitkim1 Thanks!!
Do you want to open a PR or should we invite a contributor ? (help-wanted ? good-first ?)

[2021-09-30 05:33] hermitkim1 commented on #815
@seokho-son
If no issues are expected, I think it's better to apply this by direct commit to the upstream `main`.

It's because `conf/` is in the `.gitignore`

[2021-09-30 06:27] seokho-son opened #816 "Change MCIS provisioning meta data for not assigned IP address"
**What would you like to be enhanced**
 - https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/mcis/provisioning.go 에는 MCIS 생성관련 소스가 포함되어 있습니다.
 - https://github.com/cloud-barista/cb-tumblebug/blob/11af4b1c221dd0f3942cbcdc9b0f1a1e7ad9fcac/src/core/mcis/provisioning.go#L706 `func CreateMcis` 로 MCIS를 생성하면, 요청된 VM들이 CSP에 생성이 됩니다.
 - VM 생성이 완료되면 vmInfoData.PublicIP 와 vmInfoData.PublicDNS 에

[2021-09-30 06:29] seokho-son commented on #816
@leedohun 님~
해당 이슈는 소스코드를 살짝 수정해볼 수 있는 good first issue 입니다.
혹시 관심 있으신가요~? ^^

[2021-09-30 06:49] hermitkim1 commented on #815
By the offline discussion with @seokho-son

I'd like to handle this issue.

[2021-09-30 06:56] seokho-son commented on #816
/assign @leedohun

[2021-09-30 07:41] seokho-son opened #817 "On-demand Quarkus Funqy Serverless environment provisioning as a usecase of Multi-Cloud"
**What would you like to be added**

Develop On-demand Quarkus Funqy Serverless API environment provisioning
as a usecase of Multi-Cloud.
(Deploy Quarkus Funqy Serverless environment to VM or VMs on-demand)

Quarkus Funqy (https://quarkus.io/guides/funqy)

[References]
Quarkus Funqy Serverless API - Introduction and Features | Niko Köbler (@dasniko)
https://www.youtube.com/watch?v=zCeRBwcSxP0

Qua

[2021-09-30 07:45] seokho-son commented on #817
Idea suggested by @eeeclipse from Cloud-Barista slack
Ref: https://cloud-barista.slack.com/archives/C02AA44LBPU/p1629431504187500

[2021-09-30 07:47] seokho-son commented on #817
@eeeclipse 님~~
Quarkus 관련해서 CB-Tumblebug을 통해 해볼만한 기여 이슈를 만들어보았습니다..^^
꼭 Task를 수행해야 하는 것은 아닐 것 같고,
이 이슈를 통해서 아이디어도 공유해보고~
필요하다면 간단한 도구 정도를 금방?! 만들어 볼 수 있지 않을까 싶습니다.

이슈에 기술된 내용이 생각하시는 아이디어의 기초적인 내용 정도는 담고 있는 걸까요? ^^ 문의 드립니다.

[2021-09-30 07:54] seokho-son commented on #745
@eeeclipse 님~~ 매우 쉽게?! 처리해보실 수 있는 이슈입니다. 혹시 기여 가능하실까요~? ^^
혹시 CB-Tumblebug 실행이나, 테스트 방법에 익숙하지 않으시다면, 금방 도와드리겠습니다!

[2021-09-30 07:58] seokho-son commented on #817
CC @hermitkim1 @powerkimhub @dongjae

[2021-09-30 08:14] seokho-son commented on #450
향후엔 추상화 가능한 공유 이미지 세트를 만들까 합니다.
Ubuntu 18.04라고 요청하면 알아서 상세 이미지 아이디 매핑 및 처리해주는 방식.
그러나 기존 방식과 호환도 되도록^^

[2021-10-01 01:05] hermitkim1 commented on #450
메모를 남겨 놓겠습니다 ^^

Public image 관련한 [Release notes (Last Updated: Aug 17, 2021)](https://www.alibabacloud.com/help/doc-detail/100410.html?spm=a2c5t.11065259.1996646101.searchclickresult.9c5330beY9BfFu)

[2021-10-01 05:17] ChobobDev opened #824 "Errors in README.md"
**What happened**
:  The links of 개별 제어 시험 and 통합제어 시험 is broken
**What you expected to happen**
:  Fix typos in README.md

**Any other context**
: I will self assign myself for this issue and open PR on this issue.

[2021-10-01 05:17] ChobobDev commented on #824
/assign @ChobobDev

[2021-10-04 11:07] seokho-son commented on #824
fixed by #827

[2021-10-04 11:07] #824 closed

[2021-10-05 07:22] sypark9646 commented on #716
제가 해당 task 진행해보겠습니다!

[2021-10-05 07:36] jihoon-seo commented on #816
이 이슈는 PR #826 에 의해 해결되었으므로 close 합니다~~ 😊

[2021-10-05 07:36] #816 closed

[2021-10-05 08:09] seokho-son commented on #716
/assign @sypark9646

[2021-10-05 08:10] seokho-son commented on #716
감사 감사합니다~~ :)

[2021-10-05 09:42] jihoon-seo commented on #804
reference 등을 한번 작성해 보겠습니다 😊

---

- https://github.com/cloud-barista/cb-tumblebug/tree/main/.github/workflows
- https://github.com/cloud-barista/cb-larva/tree/main/.github/workflows
- https://github.com/cloud-barista/cb-operator/tree/master/.github/workflows

등을 참고하여..

[예시] (테스트 해 보지 않았습니다. 테스트가 필요합니다 😊)
[code]

[2021-10-07 00:51] jihoon-seo opened #830 "func `UpdateSpec` is not working"
[Reported](https://cloud-barista.slack.com/archives/CJQ7575PU/p1633499927133900) by `okee` in CB-Tumblebug Slack channel.

**What happened**
:

spec 업데이트를 시도했으나 리턴된 결과는 변경된 값이 아닙니다.

요청한 API:
/ns/{nsId}/resources/spec/{specId}

전송한 파라미터:
[code]

수신한 결과 (which is not a desired output):
[code]

**What you expected to happen**
:
spec object가 업데이트되고, 업데이트된 결과가 리턴됨

**How to reproduce it (as minimally

[2021-10-07 14:32] ChobobDev opened #831 "Update the Links and contents of `src/testclient/scripts/README.md`"
**What would you like to be enhanced**
:  As you may know, the `README.md` on the root directory of this project has a translated version, I believe there should be some enhancement of the `README.md`  on `src/testclient/scripts` .

**Why is this needed**
:

**Proposed solution**
:  For this occasion, I believe adding another `README.md`  under `i18n`  directory is a bit too much. So I will add ex

[2021-10-08 16:05] seokho-son commented on #831
@ChobobDev Thank you for the suggestion !!

I think https://github.com/cloud-barista/cb-tumblebug/blob/main/src/testclient/scripts/README.md is not a complete document.
Also, we can make the document simple since the base contents for this document live in [the main readme document: CB-Tumblebug 스크립트 사용](https://github.com/cloud-barista/cb-tumblebug#cb-tumblebug-%EC%8A%A4%ED%81%AC%EB%A6%BD%ED%8A%B

[2021-10-08 22:15] seokho-son commented on #655
/close

[2021-10-08 22:15] #655 closed

[2021-10-08 22:38] seokho-son opened #834 "Rename `CoreGetAllBenchmark` function name"
**What would you like to be enhanced**
: Change `CoreGetAllBenchmark` function name

**Why is this needed**
: The func name is not appropriate.

**Proposed solution**
: Search `CoreGetAllBenchmark`. Replace it with `RunAllBenchmarks`

- cb-tumblebug/src/api/grpc/server/mcis/control.go
  -   516,22: 	result, err := mcis.CoreGetAllBenchmark(req.NsId, req.McisId, mcisObj.Host)

- cb-tumblebug/src/api

[2021-10-08 22:58] seokho-son commented on #164
This issue has a long tail. Let me close for this moment.
Let's reopen when this issue is rexxed again.

[2021-10-08 22:58] #164 closed

[2021-10-08 22:59] seokho-son commented on #239
This issue has a long tail. Let me close for this moment.
Let's reopen when this issue is rexxed again.

[2021-10-08 22:59] #239 closed

[2021-10-08 22:59] seokho-son commented on #254
This issue has a long tail. Let me close for this moment.
Let's reopen when this issue is rexxed again.

[2021-10-08 22:59] #254 closed

[2021-10-08 23:07] seokho-son commented on #663
This is obvious and general issue. Let me close this issue.

[2021-10-08 23:07] #663 closed

[2021-10-09 15:47] ChobobDev commented on #834
@seokho-son  I found typos in your comment so @limsg1234  was not assigned to this issue as you desired.
 So I have assigned @limsg1234  by myself so others can know whether this issue is already taken by someone from the issue list.

Thank you

[2021-10-09 16:06] seokho-son commented on #834
MyLovelyTypo !! ;)
Thanks.

[2021-10-09 16:23] seokho-son commented on #745
@ChobobDev
Ok. Please go ahead :)

[2021-10-09 16:24] seokho-son commented on #745
/assign @ChobobDev

[2021-10-09 16:25] seokho-son commented on #745
@eeeclipse 님~ 특별한 이야기가 없으셔서
일단 @ChobobDev 께 해당 이슈를 할당해드렸습니다.
혹시 보시고 관심이 있으시면 알려주세요~~ 적절한 이슈로 연결해드리겠습니다! ^^

[2021-10-09 16:41] seokho-son opened #837 "Hide some contents in Readme.md"
**What would you like to be enhanced**
- https://github.com/cloud-barista/cb-tumblebug/blob/main/README.md is too long.
- we can hide some contents that do not requires immediate attention..

**Why is this needed**
: Enhance readability

**Proposed solution**

Change the following part

to

by using `<details>`

The suggested source looks like this,

[code]

[2021-10-10 00:20] ChobobDev commented on #837
I will try to solve this issue along with the English README.md

Thank you

[2021-10-10 00:23] ChobobDev commented on #831
@seokho-son As this issue is merged I will close this issue so The issue lists are nice and tidy.

Thank you

[2021-10-10 00:24] #831 closed

[2021-10-10 01:22] saadfareed commented on #837
can you assign it to me

[2021-10-10 05:22] seokho-son commented on #837
/assign @saadfareed
For https://github.com/cloud-barista/cb-tumblebug/blob/main/README.md

[2021-10-10 05:22] seokho-son commented on #837
/assign @ChobobDev
for https://github.com/cloud-barista/cb-tumblebug/blob/main/i18n/README-EN.md

[2021-10-10 07:36] #815 closed

[2021-10-10 14:40] seokho-son opened #842 "Remove `gen-sshKey-withGivenMcisName.sh` script not in use"
**What would you like to be enhanced**
Delete the following file.
https://github.com/cloud-barista/cb-tumblebug/blob/main/src/testclient/scripts/sequentialFullTest/gen-sshKey-withGivenMcisName.sh

**Why is this needed**
We do not need `gen-sshKey-withGivenMcisName.sh` any more.
We can use `gen-sshKey.sh` instead of it

**Proposed solution**
Delete the following file.
https://github.com/cloud-baris

[2021-10-10 14:46] seokho-son opened #843 "Remove `deploy-weavescope-to-multi-mcis-update-noinstall.sh` script not in use"
**What would you like to be enhanced**
Delete the following file.
https://github.com/cloud-barista/cb-tumblebug/blob/main/src/testclient/scripts/sequentialFullTest/deploy-weavescope-to-multi-mcis-update-noinstall.sh

**Why is this needed**
We do not need `deploy-weavescope-to-multi-mcis-update-noinstall.sh` any more.
We can use `deploy-weavescope-to-mcis-update.sh` instead of it

**Proposed soluti

[2021-10-10 14:52] seokho-son opened #844 "Remove `obsolete_registerImageWithInfo.sh` script not in use"
**What would you like to be enhanced**
Delete the following file.
https://github.com/cloud-barista/cb-tumblebug/blob/main/src/testclient/scripts/6.image/obsolete_registerImageWithInfo.sh

**Why is this needed**
We do not need `obsolete_registerImageWithInfo.sh` any more.

**Proposed solution**
Delete the following file.
https://github.com/cloud-barista/cb-tumblebug/blob/main/src/testclient/scripts

[2021-10-10 15:05] leedohun commented on #842
제가 한번 작업해보겠습니다.

[2021-10-10 15:34] seokho-son commented on #843
@benz-e-class
Self-assign 감사합니다 ~~ :)

[2021-10-10 15:44] seokho-son opened #846 "Remove obsolete comments in `sshkey.go`"
**What would you like to be enhanced**
: Remove obsolete comments in `sshkey.go`

**Why is this needed**
: Code enhancement

**Proposed solution**

Remove following comments from `cb-tumblebug/src/core/mcir/sshkey.go`

- `// 2020-04-03 https://github.com/cloud-barista/cb-spider/blob/master/cloud-control-manager/cloud-driver/interfaces/resources/KeyPairHandler.go`
 - `/*
type SpiderKeyPairReqInfo s

[2021-10-10 15:46] seokho-son opened #848 "Remove obsolete comments in `image.go`"
**What would you like to be enhanced**
: Remove obsolete comments in `image.go`

**Why is this needed**
: Code enhancement

**Proposed solution**

Remove following comments from `cb-tumblebug/src/core/mcir/image.go`

- `// 2020-04-03 https://github.com/cloud-barista/cb-spider/blob/master/cloud-control-manager/cloud-driver/interfaces/resources/ImageHandler.go`
 - `/*
type SpiderImageReqInfo struct

[2021-10-10 16:17] seokho-son opened #850 "Rename `plan.go` to `recommendation.go`"
**What would you like to be enhanced**
- `src/api/rest/server/mcis/*.go` 의 function들은 REST API를 처리하기 위한 function들로서, `src/core/mcis/*.go`의 core function 들을 호출합니다.
- 따라서, `src/api/rest/server/mcis/*.go` 의 파일 명칭이 `src/core/mcis/*.go` 와 유사하게 표현이 되면 소스 관리에 도움이 됩니다.
- 이 이슈를 통해서 src/api/rest/server/mcis/`plan.go`의 명칭을  src/core/mcis/`recommendation.go` 의 형태로 변경하고자 합니다.

**Why is this needed**
- `src/cor

[2021-10-10 16:19] #844 closed, assigned to nobody

[2021-10-10 20:06] seokho-son opened #852 "Cannot represent decimal point of MemGiB (uint16) of TbSpecInfo"
**What would you like to be enhanced**
[code]
MemGiB가 uint16 로 저장 및 조회되고 있어서,
MiB 단위의 정보가 유실되는 것 같습니다.
MemGiB 가 소수점까지 표현되도록 변경되면 좋을 것 같습니다.

**Why is this needed**
실제로는 다른 Spec인데, 같은 Spec으로 표시되는 Spec들이 많이 있습니다.

[code]

**Proposed solution**
[code]

컨버팅 로직도 함께 확인해볼 필요가 있어보입니다.
[code]

[2021-10-10 20:06] seokho-son commented on #852
@jihoon-seo 한번봐주시겠어요~?

[2021-10-10 21:44] seokho-son opened #853 "Add path to be ignored by auto-build workflows"
**What would you like to be enhanced**
Add path to be ignored by auto-build workflows

**Why is this needed**
[`src/api/rest/docs/`](https://github.com/cloud-barista/cb-tumblebug/tree/main/src/api/rest/docs) 디렉토리 아래에 있는 파일들은 프로그램 구동에 무관하므로 업데이트 되더라도
- 빌드 테스트,
- 컨테이너 이미지 업데이트를 자동으로 수행할 필요가 없음.

**Proposed solution**

[Line to add]
[code]

[Files to update]
- https://github.com/cloud-barista/cb-tumb

[2021-10-12 04:30] #846 closed

[2021-10-12 05:15] seokho-son commented on #848
@atg0831 assign ! 감사합니다~~! :)

[2021-10-12 06:13] seokho-son opened #859 "Support default and common infra resources"
**What would you like to be added**
- Namespace 내의 MCIS 및 VM들이 공동으로 활용할 수 있는 기본 자원 생성 특징.
- 그리고 기본 자원을 바로 활용할 수 있는 MCIS 프로비저닝 요청 구조.

**Why is this needed**
- MCIS를 만들기 위한 기본 절차가 매우 복잡하여, 사용자 편의성 저하.
- 일반 사용자(not 고급 사용자)를 위한 기본 자원을 Namespace 단위로 미리 생성(vNet, SG, SSHKey, ...)하고 공통 활용할 수 있도록 지원.

참고: `common` 이라는 Namespace는 사용자간 공통으로 활용할 수 있는 System namespace 이며, 현재는 공통 Spec 들이 등록될 수 있음. (향후,

[2021-10-12 11:58] seokho-son commented on #850
@hermitkim1 멘토님 Hacktoberfest 테스트 용으로 하나 맡아보시렵니까? ^^ for fun :)

[2021-10-12 12:26] #850 closed

[2021-10-13 06:50] seokho-son opened #864 "Remove obsolete pkg import comment"
**What would you like to be enhanced**
https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/mcis/utility.go 의
import 코드에 주석 처리된 pkg import 라인 삭제

**Why is this needed**
코드 개선 작업

**Proposed solution**
https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/mcis/utility.go 의
import 코드에 주석 처리된 pkg import 항목 라인 삭제

삭제 대상 예시
https://github.com/cloud-barista/cb-tumblebug/blob/e9bd9

[2021-10-13 08:36] seokho-son opened #865 "Remove obsolete comments in `securitygroup.go`"
**What would you like to be enhanced**
: Remove obsolete comments in `image.go`

**Why is this needed**
: Code enhancement

**Proposed solution**

Remove following comments from `cb-tumblebug/src/core/mcir/securitygroup.go`

- `// 2020-04-13 https://github.com/cloud-barista/cb-spider/blob/master/cloud-control-manager/cloud-driver/interfaces/resources/SecurityHandler.go`
 - `/*
type SpiderSecurityR

[2021-10-13 08:43] jihoon-seo opened #866 "Add `UpdateImage` feature"
@jihoon-seo Spec과 마찬가지로 Image 정보 관련해서도 업데이트 기능 추가가 가능할까요?

_Originally posted by @seokho-son in https://github.com/cloud-barista/cb-tumblebug/pull/863#discussion_r727428481_

[2021-10-13 09:23] FionaFR commented on #865
Can you label this as hacktoberfest?

[2021-10-15 07:08] jihoon-seo commented on #252
[[관련 Slack 메시지](https://cloud-barista.slack.com/archives/CJQ7575PU/p1634186768162100)]

[2021-10-15 08:40] jihoon-seo commented on #252
[REST API path (및 자원의 계위 / 종속 관계)]

TB 코드에 다음과 같은 흔적이 있음.
[code]

1안: TB subnet object를 TB vNet object에 속하는 자원으로 정의
[code]

2안: vNet과 subnet을 동일 계위의 TB object로 다룸
(단, TB vNet object와 TB SecurityGroup object의 관계처럼, 연결 관계는 존재함.)
[code]

[2021-10-18 05:04] seokho-son commented on #837
Hi @saadfareed
Are you working on this issue ?
I just want to check everything regarding this issue is going well :)

[2021-10-18 13:04] #866 closed, assigned to jihoon-seo

[2021-10-19 12:49] #842 closed

[2021-10-20 07:07] jihoon-seo opened #876 "Update to use common function"
- `func RefineSpecName(specName string) string`
- `func RefineImageName(imageName string) string`

함수가 정의되어 있고, reference도 있습니다.
(MCIR 내에서도 통합이 안 되어 있고 2개로 존재하네요 😢)

추후, 공통 함수로 만들어서 통합 이용하는 방안도 있겠습니다. 😊

_Originally posted by @jihoon-seo in https://github.com/cloud-barista/cb-tumblebug/pull/875#discussion_r732433086_

---

https://github.com/cloud-barista/cb-tumblebug/pull/875#discussion_r73244484

[2021-10-20 08:18] #450 closed

[2021-10-20 20:09] seokho-son opened #880 "Update Ubuntu image ID of Alibaba Cloud"
Change
`ubuntu_18_04_x64_20G_alibase_20210824.vhd` which is not available
to
`ubuntu_18_04_x64_20G_alibase_20210927.vhd`

Apply it to https://github.com/cloud-barista/cb-tumblebug/blob/main/assets/cloudimage.csv

ref: #877

[2021-10-20 20:54] seokho-son opened #881 "Need a tool to retrieve price of Cloud VM Specs"
**What would you like to be added**
: Find or Make a tool to generate a cloud VM price table

**Why is this needed**
: For cost-based optimal cloud infra provisioning

Some references..

[AWS]
https://github.com/lyft/awspricing
https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/using-ppslong.html

[GCP]
https://cloud.google.com/billing/v1/how-tos/catalog-api

[Azure]
https://docs.microso

[2021-10-21 08:22] jihoon-seo opened #882 "Add comments for exported functions/structs/variables"
[code]
해당 함수는 신규 함수이므로, lint를 위해서
// RestDelChildResource .... 스타일로 주석 추가 부탁드립니다.. ^^

_Originally posted by @seokho-son in https://github.com/cloud-barista/cb-tumblebug/pull/878#discussion_r733140946_

---

- `func RestDelResource` in `src/api/rest/server/mcir/common.go`
- `type SpiderSubnetReqInfoWrapper struct` in `src/core/mcir/vnet.go`
- ...

[2021-10-22 03:09] jihoon-seo opened #885 "Tidy `testclient/scripts/conf.env`"
`CommonImage[$IX]=` 화 할 수도 있겠네요 😊

_Originally posted by @jihoon-seo in https://github.com/cloud-barista/cb-tumblebug/pull/884#discussion_r733520354_

---

[As-is]
[code]

[To-be]

[code]

[2021-10-24 06:21] #865 closed, assigned to FionaFR

[2021-10-27 09:29] seokho-son opened #896 "Change API response message for MCIS and VM"
**What would you like to be enhanced**
API response message for MCIS and VM

Current message is like this ..
 - "message": "Deleting the VM info"
 - "message": "Deleting the MCIS " + mcisId
 - "message": "Deleting the MCIS Policy info"

**Why is this needed**
Since the message comes after a deletion, the message should be looks like "Deleted the ... "

**Proposed solution**
Search `Deleting the` f

[2021-10-27 09:30] #880 closed, assigned to nobody

[2021-10-27 18:14] seokho-son opened #898 "Update go.mod to fix CVE-2020-26160 regarding `dgrijalva/jwt-go`"
**What would you like to be enhanced**
: Apply https://github.com/cloud-barista/cb-tumblebug/security/dependabot/go.sum/github.com%2Fdgrijalva%2Fjwt-go/open to fix CVE-2020-26160.

**Why is this needed**
: resolve security concern

**Proposed solution**
Replace `github.com/dgrijalva/jwt-go` to `github.com/golang-jwt/jwt/v4`
According to https://github.com/golang-jwt/jwt/blob/main/MIGRATION_GUIDE.m

[2021-10-28 01:12] jihoon-seo opened #899 "Update gjson to v1.10.2"
**What would you like to be enhanced**
:
Update gjson to v1.10.2
( https://github.com/tidwall/gjson/tags )

**Why is this needed**
:
`github.com/tidwall/gjson v1.8.0` has security vulnerability.

**Proposed solution**
:
1. In TB directory on your dev env, run `go get github.com/tidwall/gjson@v1.10.2`.
2. Open a PR.

[2021-10-28 04:45] #899 closed, assigned to nobody

[2021-10-28 16:35] #896 closed, assigned to nobody

[2021-10-30 06:39] #804 closed

[2021-11-01 06:03] #834 closed

[2021-11-01 07:35] seokho-son opened #908 "Update Swagger doc workflow is not working appropriately"
**What happened**
`Update Swagger doc` workflow is not working appropriately

**Anything else we need to know?**

https://github.com/cloud-barista/cb-tumblebug/runs/4064628789?check_suite_focus=true

[code]

It seems the workflow cannot push commit since `remote: error: At least 1 approving review is required by reviewers with write access.`

[2021-11-01 07:36] seokho-son commented on #908
Ref the initial contribution : PR #804

[2021-11-01 07:36] seokho-son commented on #908
/help

[2021-11-01 08:26] jihoon-seo commented on #908
[안]
1. approve 액션을 현재 workflow YAML 에 추가하거나
2. `main` 브랜치가 현재 Protected branch 인데, 이를 해제하거나 (조건 완화)
3. workflow가 현재 'push a commit' 하도록 되어 있는데, 이를 'open a PR' 하도록 변경 (🤔)
   - 'push a commit' vs. 'open a PR' 에 대한 논의:
   - https://github.com/cloud-barista/cb-tumblebug/issues/804#issuecomment-946788217
   - https://github.com/cloud-barista/cb-tumblebug/issues/804#issuecomment-950314211

[2021-11-01 19:38] seokho-son commented on #908
@jihoon-seo
1번이 일단 가장 쉬운 수정 형태일까요?

저는.. ㅎㅎ 3번이 좋긴 하네요.. 조금 더 안심할 수 있어요.. ㅎㅎ

[2021-11-02 01:02] hermitkim1 commented on #908
`force-push`도 가능한것 같긴한데요. 저도 3번이 안전한것 같습니다 ^^

Ref: https://github.com/stefanzweifel/git-auto-commit-action

[code]

[2021-11-02 01:59] seokho-son commented on #908
@hermitkim1 아마 --force 는 리뷰어 승인 없이도 강제 푸시한다는 의미는 아닐거예요.
저건 아마도.. 음... base가 다른 형태인 경우 force push 해주는 그것..

그럼.. 3번.. 으로 수정해보시죠~!
@hermitkim1 @jihoon-seo 혹시 ~ 쉽게 수정 가능하신가요? 아님 contribution invite가 필요할까용?

[2021-11-02 02:18] seokho-son opened #911 "Avoid importing pkg for gRPC (CB-Spider, CB-Dragonfly)"
**What would you like to be enhanced**
CB-Spider, CB-Dragonfly 의 gRPC 인터페이스를 활용하기 위해서,
pkg 자체를 임포트하고 있어서,
go.mod go.sum 등을 통해서 불필요하게 자동 다운로드 되는 소스들이 발생함.

Please check @hermitkim1 's test
https://github.com/cloud-barista/cb-larva/discussions/141#discussioncomment-1569917

pkg 임포트를 하지 않고, 필요한 proto buffers 소스만 활용하여, CB-TB를 가볍게 만들 필요가 있음.

**Proposed solution**

1. CB-SP, CB-DF의 proto buffers 만 복사해서

[2021-11-02 02:18] seokho-son commented on #911
@jihoon-seo could you help ? (not urgent issue at all)

[2021-11-02 02:24] seokho-son commented on #908
일단~ 오류 방지를 위해서 workflow는 disable 해두었습니다.
그리고 forked 리포에서도 여전히 동작을 시도하는 듯 하네요?

[2021-11-02 04:19] hermitkim1 commented on #908
@seokho-son, 혹시 forked repository > Settings > Actions > General > Actions permissions 의 설정 값(`Allow local actions only`)을 알 수 있을지요? ^^

[2021-11-02 05:19] seokho-son commented on #908
@hermitkim1 제가 Allow select actions 으로 오피셜 액션들만 사용하게 하고 있었어요 ㅎㅎ (왜그랬을까요)

[2021-11-02 05:19] seokho-son commented on #908
stefanzweifel/git-auto-commit-action@v4 요거 추가하여 처리하였습니당.

[2021-11-02 05:53] jihoon-seo commented on #908
/assign @jihoon-seo

@seokho-son

제가 해 볼게요 😊

[2021-11-02 06:51] jihoon-seo commented on #911
[`"github.com/cloud-barista/cb-spider/api-runtime/grpc-runtime/logger"` 를 import 하는 파일]
1. `cb-tumblebug/src/api/grpc/cbadm/cmd/connectinfo.go`
1. `cb-tumblebug/src/api/grpc/cbadm/cmd/credential.go`
1. `cb-tumblebug/src/api/grpc/cbadm/cmd/driver.go`
1. `cb-tumblebug/src/api/grpc/cbadm/cmd/region.go`

cbadm 코드들이네요.
cbadm 코드에서도 Spider 패키지를 import 하는 부분을 삭제하는 것이 좋을 것 같기도 합니다.

[`"github.com/cloud-bar

[2021-11-02 09:37] #908 closed

[2021-11-02 10:56] jihoon-seo commented on #911
다음과 같이 해 보았습니다.

1. `cb-tumblebug` 아래에 `submodules` 디렉토리 생성
2. `submodules` 디렉토리 아래에서 `git submodule add https://github.com/cloud-barista/cb-spider.git` 실행
   - `submodules` 디렉토리 아래에 `cb-spider` repo가 클론되었음
   - `cb-tumblebug` 디렉토리에 `.gitmodules` 파일이 생성되었음

[code]

3. TB 소스코드에서,
  `"github.com/cloud-barista/cb-spider/interface/api"` 를
  `"github.com/cloud-barista/cb-tumblebug/submodules/cb-spider/

[2021-11-02 11:00] jihoon-seo commented on #911
TB의 `go.mod` 에 다음을 추가합니다.

[code]

`go mod tidy` 를 실행합니다 => 실행 성공

`make` 하면 에러가 발생합니다.

[code]

---

혹시나 해서 이렇게 수정해 봅니다.

[code]

`go mod tidy` 를 실행합니다 => 실행 성공

`make` 하면 동일한 에러가 발생합니다.

[code]

[2021-11-02 19:47] seokho-son commented on #911
@jihoon-seo 일단 https://github.com/cloud-barista/cb-larva/discussions/141#discussioncomment-1569917 이런식으로 필요한 파일만 가져와서 빌드 확인해보면 어떨까요?

[2021-11-03 01:20] #885 closed

[2021-11-03 01:30] seokho-son opened #918 "Register existing CSP resources to CB-TB obj management"
**What would you like to be added**

CSP에 이미 존재하는 자원(VM, Net, Subnet, SG, KEY, ...)을 조회하여

CB-TB 오브젝트로 정의되어 있지 않은 경우, CB-TB  오브젝트로 등록

이때 실제 자원 생성을 하지 않고, CB-SP에서 제공하는 정보 등록 기능을 통해서 정보만 등록.

(이렇게 생성된 CB-TB 오브젝트에는 해당 오브젝트가 직접 생성 및 관리하는 오브젝트가 아니라, 기존 자원을 통해서 등록된 것임을 표시)

**Why is this needed**

CB-TB 를 사용할 때,
- CSP의 계정을 여러사람이 활용하여 개발하는 경우
- 오류에 의해서 메타데이터를 유실한 경우
- CB-SP와 메타데이터 싱크에 문제가 생긴 경우

CSP 콘솔에

[2021-11-03 01:34] seokho-son commented on #911
@jihoon-seo

Some refs using submodule for gRPC

- https://github.com/grpc/grpc/blob/master/.gitmodules , https://github.com/grpc/grpc/tree/master/third_party
- https://asuraiv.tistory.com/15

[2021-11-03 02:52] jihoon-seo commented on #911
현재 TB에서는
SP의 `*.pb.go` 만을 이용하고 있는 것은 아니고
SP에 있는 gRPC client (= request) 코드를 import하여 사용하고 있기 때문에

'필요한 파일만 가져와서 빌드' 하려면
SP에 있는 gRPC client (= request) 코드 등을
TB 디렉토리 아래에 복사하여 사용해야 할 것 같습니다.

@seokho-son @hermitkim1 어떻게 생각하시나요? (제 추측이 맞는지..?) 😊

[2021-11-03 03:06] jihoon-seo commented on #911
다음과 같이 해 보았습니다.

1. `cb-tumblebug` 아래에 `first_party` 디렉토리 생성
2. `first_party` 디렉토리 아래에 `cb-spider/interface/api` 디렉토리 생성
3. `cb-spider/interface/api` 디렉토리의 내용물을 `cb-tumblebug/first_party/cb-spider/interface/api` 디렉토리로 복사
4. `go.mod` 에 다음 항목 추가

[code]

5. `cb-tumblebug/src` 에서 `go mod tidy` 또는 `make` 실행 => 에러 발생

[code]

---

6. `cb-tumblebug/first_party/cb-spider` 디렉토리에서 `go mod init` & `go mod t

[2021-11-03 05:27] jihoon-seo commented on #911
- `cb-spider/api-runtime/grpc-runtime/common`
- `cb-spider/api-runtime/grpc-runtime/config`
- `cb-spider/api-runtime/grpc-runtime/logger`
- `cb-spider/api-runtime/grpc-runtime/stub/cbspider`
- `cb-spider/api-runtime/grpc-runtime/stub/gogoproto`

위 디렉토리의 내용물들을 `cb-tumblebug/first_party/cb-spider/` 아래로 복사하고
다시 `go mod tidy` 또는 `make` 실행 => 에러 발생

[code]

[code]

---

같은 작업을 한번 더 수행
- `cb-spider/api-

[2021-11-04 08:33] #650 closed

[2021-11-09 05:58] jihoon-seo opened #945 "Apply PR #944 to `DelResource()` too"
**What would you like to be enhanced**
:
Apply PR #944 to `DelResource()` too

**Why is this needed**
:
단일 리소스를 삭제할 때에도, associated object가 있으면 에러 리턴

**Proposed solution**
:

[2021-11-09 09:32] #945 closed

[2021-11-09 16:50] seokho-son opened #948 "Add new option for MCIS delete working with refine and terminate"
**What would you like to be added**

MCIS 삭제 기능에 옵션(ex: option=terminate)을 추가하여,
- MCIS delete https://github.com/cloud-barista/cb-tumblebug/blob/0ed6b1d8f11c03eb891581037208377b0eebf5ad/src/core/mcis/manageInfo.go#L1356

MCIS refine, MCIS terminate 를 수행 후, MCIS delete 를 시도하도록 개선

- MCIS refine https://github.com/cloud-barista/cb-tumblebug/blob/0ed6b1d8f11c03eb891581037208377b0eebf5ad/src/core/mci

[2021-11-09 16:51] seokho-son commented on #948
/help

[2021-11-09 17:17] seokho-son opened #950 "Improve error message for validation for naming convention"
**What would you like to be enhanced**
Improve error message for validation for naming convention

**Why is this needed**
For a better understanding for errors in validation for naming convention

**Proposed solution**
Find `"NotObeyingNamingConvention"` from all source code files,
and replace all to error message like `err.Error()`

For instance,
Replace `"NotObeyingNamingConvention"` to `err.Err

[2021-11-09 17:17] seokho-son commented on #950
Currently, there are 11 occurrences of "NotObeyingNamingConvention".

[2021-11-10 15:51] #783 closed

[2021-11-10 18:02] seokho-son commented on #352
@all-contributors please add @dogfootman for User Testing

[2021-11-10 18:17] seokho-son opened #958 "Update not available common cloud VM images"
Following [Failed] common images are not available.
Need to update image fields of https://github.com/cloud-barista/cb-tumblebug/blob/main/src/testclient/scripts/conf.env

In case of
https://github.com/cloud-barista/cb-tumblebug/blob/main/assets/cloudimage.csv ,

we can update the file by using the https://github.com/cloud-barista/cb-tumblebug/blob/main/src/testclient/scripts/misc/gen-csv-image.sh

[2021-11-11 02:49] jihoon-seo opened #960 "Make user can specify DiskType and DiskSize when creating VM"
**What would you like to be enhanced**
:
Make user can specify DiskType and DiskSize when creating VM

**Why is this needed**
:

[CB-Spider REST API call examples]
https://github.com/cloud-barista/cb-spider/blob/master/api-runtime/rest-runtime/test/each-test/vm-rootdisk-test.sh

**Proposed solution**
:

[2021-11-11 02:59] #948 closed

[2021-11-19 02:44] jihoon-seo commented on #918
[Spider 현황]
Spider에 해당 기능이 추가되었음

[고려 사항]
CSP에 있는 자원이
[SP에는 등록되지 않고 TB에만 등록되면] 소용이 없음

[REST API 안]
- CSP에 있는 자원이 SP, TB 모두에 등록되어 있지 않아서 SP, TB 에 한꺼번에 등록하는 API
  - `/ns/{nsId}/resources/registerVNet?spider=too`
  - `/ns/{nsId}/resources/registerVNet?spider=also`
  - ...
- CSP에 있는 자원이 SP에는 이미 등록되어 있어서 TB에만 등록하는 API
  - `/ns/{nsId}/resources/registerVNet?spider=no`
  - `/ns/{nsId}/resources/register

[2021-11-19 11:45] seokho-son commented on #918
- 각 자원 별로 다수의 등록 API 보다는, connectionConfig (region) 단위로 CSP의 모든 자원 (VM, vNet, sunet, SG, SSHKey 등) 등록하는 API가 하나 있는 것이 좋을 것 같습니다. (API가 너무 많아지면 복잡할 것 같아요)

   1. SP에 있고 TB에는 없는 오브젝트를 조회 및 비교하여 **TB에 정보가 없는 경우, TB 오브젝트로 재등록**
   2. SP, TB 모두에 없는 경우, TB에서 오브젝트를 생성하며, SP에도 연계하여 정보 등록
     - 이러한 상황을 각 오브젝트에 기입해둘 수 있으면 좋을 것 같긴한네요. (예를 들면 - "이 오브젝트는 TB가 직접 만든 것이 아니라~ CSP에 있던 것을 재등록한 것" 을 의미하도록 labeling?)

[2021-11-25 01:43] seokho-son opened #987 "Use Channel capability for GoRoutine"
**What would you like to be enhanced**
Use Channel capability for GoRoutine (parallel executions)
https://mingrammer.com/go-codelab/goroutine-and-channel/

**Why is this needed**
CB-TB is not using Channel to share data among routines.

**Proposed solution**
Find source code that use goroutine and apply channel for sharing data (especially for error info)

[2021-11-26 07:19] jihoon-seo opened #991 "Data types of fields in `core/mcis/`"
**What would you like to be enhanced**
:

[`MaxResultNum` 라는 필드가 있는데](https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/mcis/provisioning.go#L370-L389), data type 이 string 입니다.

[code]

다른 struct에 `VmGroupSize` 라는 필드도 있는데, 이것도 data type 이 string 입니다.

@seokho-son 이들을 `uint8` 등으로 바꾸는 것이 어떨까요? 😊
(이 이슈를 쓰면서 보니, 위의 `VcpuSize`, `DiskSize` 도 `uint8` 등으로, `MemorySize` 는 `float32` 로 바꿀 수도 있

[2021-12-02 13:35] atg0831 commented on #950
@seokho-son
제가 수정해보겠습니다~

[2021-12-02 18:34] seokho-son commented on #950
@atg0831 감사합니다!! :)

[2021-12-03 09:51] jihoon-seo opened #999 "Organize `src/api/rest/server/mcis/*.go` files"
**What would you like to be enhanced**
:

`src/core/mcis/*.go` 파일들은 정리를 통해 더 여러 개의 파일로 나뉘었으나
`src/api/rest/server/mcis/*.go` 파일들은 이에 align되지 않음

| `src/core/mcis/*.go`  | `src/api/rest/server/mcis/*.go`  |
|---|---|
| `benchmark.go`  | X  |
| `control.go`  | `control.go`  |
| `manageInfo.go`  | X  |
| `monitoring.go`  | `monitor.go`  |
| `orchestration.go`  | `orchestration.go`  |
| `provisioning.

[2021-12-03 10:28] #950 closed

[2021-12-06 05:35] #876 closed

[2022-01-11 05:44] jihoon-seo commented on #918
[PRs]
- https://github.com/cloud-barista/cb-tumblebug/pull/983
- https://github.com/cloud-barista/cb-tumblebug/pull/990

[2022-01-12 08:57] jihoon-seo opened #1012 "False positive on termination of non-existing VM"
CC @powerkimhub

**What happened**
:

[참고]
현재 (TB => SP =>) DevStack (OpenStack-based CSP) 에 API 호출 시
간헐적으로 DevStack 으로부터 'Authentication failed' 에러가 발생함

[시나리오]
1. TB => SP => DevStack 에 MCIS (1 VM) 생성 요청 하였는데
VM 생성 과정의 여러 API 호출 중 하나에서 'Authentication failed' 에러가 발생하여

* CSP 에는 VM이 생성됨. 하지만 Floating IP (생성 및) 연결 과정이 진행되지 못해 Public IP 없음
![image](https://user-images.githubusercontent.com/46767780

[2022-01-13 07:45] jihoon-seo opened #1013 "User can create dup MCIS"
**What happened**
:

TB => SP => DevStack 에 MCIS (1 VM) 생성 요청 하였는데
VM 생성 과정의 여러 API 호출 중 하나에서 'Authentication failed' 에러가 발생하여

CSP 에는 VM이 생성됨. 하지만 Floating IP (생성 및) 연결 과정이 진행되지 못해 Public IP 없음
SP IID 객체는 생성되지 않음
TB MCIS 객체는 생성되었으나, 'Failed' 상태로 기록됨

[code]

<details>
  <summary>Click to expand!</summary>

[code]

[code]
</details>

이 상태에서, 동일한 이름의 MCIS (`jhseo`) 를 생성 시도하면
"같은 이름의 MCIS가 이미 존재합니다"

[2022-01-13 07:56] seokho-son commented on #1013
@jihoon-seo 엇.. 그런 일이..ㅠ
https://github.com/cloud-barista/cb-tumblebug/blob/main/src/core/mcis/provisioning.go#L734
를 통해 방어할 것 같았는데, 이상하네요.
VM의 정상 생성 여부와는 상관이 없어야하는데

https://github.com/cloud-barista/cb-tumblebug/blob/e7a63600dbf444324fcafaff9bdda89a4ef512dd/src/core/mcis/utility.go#L138

쪽에 뭔가 코드 꼬임이 있으려나요.

[2022-01-13 08:04] seokho-son commented on #1012
@jihoon-seo 일단 TB에서 의도된 동작이긴 합니다. (현재 상태 제어는 비동기로 처리되고 있음)
다만 메시지가 "Terminated the MCIS" 가 아니라 "Terminating the MCIS" 이어야 하고,
실제로 terminated 되는지 여부는 status 확인을 통해서 보는 것이 맞을 것 같습니다.

VM이 CSP에 생성되었는데, SP가 IID를 리턴해주지 않은 상황은 SP에서 개선이 필요한 사항이라고 보여집니다. (사실 VM 생성 과정 롤백 등등 여러 이슈가 있을 수 있음)

[2022-01-17 07:16] seokho-son commented on #1012
/close

[2022-01-17 07:16] #1012 closed

[2022-01-17 09:42] jihoon-seo commented on #918
[SSH Key]
TB => SP => CSP 에 SSH Key 생성 후
TB, SP 에 SSH Key object를 Get 해 보면..

[Spider] (Private key를 보여주지 않음)
[code]

[Tumblebug] (Private key도 보여줌)
[code]

[2022-01-17 09:44] seokho-son commented on #918
@jihoon-seo VM에 SSH하는 데 구멍이 발생하겠군용 ^^

[2022-01-28 04:56] jihoon-seo opened #1022 "Add `UpdateSshKey` feature"
**What would you like to be added**
`UpdateSshKey` feature

**Why is this needed**
사용자/관리자가 TB sshKey object의 내용을 변경할 수 있도록 해당 함수 및 API 제공

[2022-01-28 08:29] #1022 closed

[2022-01-28 09:43] jihoon-seo commented on #853
훔.. 지금 생각해 보니..

[시나리오]
1. 사용자가 코드를 수정했으나, Swagger doc 은 업데이트하지 않음 ('상태 A')
2. `update-swagger-doc` workflow가 작동하여 PR open
3. 메인테이너가 PR을 merge ('상태 B')

이 이슈에 제안된 내용을 적용하면
'상태 A' 에 대한 컨테이너 이미지는 Docker Hub 등으로 build & push 되는데
'상태 B' 에 대한 컨테이너 이미지는 Docker Hub 등으로 build & push 되지 않아서

사용자가 이 이미지를 이용하여 컨테이너를 실행하고 Swagger doc을 조회하면
2~3번이 적용되기 전의 Swagger doc을 보게 되는 문제가 있습니다. 🤔

[2022-01-28 09:49] jihoon-seo commented on #706
[적용 현황]

- image: https://github.com/cloud-barista/cb-tumblebug/blob/9c8b00900e354a3f1134b2c4d461bae1347255ba/src/core/mcir/image.go#L131
- SG: https://github.com/cloud-barista/cb-tumblebug/blob/9c8b00900e354a3f1134b2c4d461bae1347255ba/src/core/mcir/securitygroup.go#L142
- spec: https://github.com/cloud-barista/cb-tumblebug/blob/9c8b00900e354a3f1134b2c4d461bae1347255ba/src/core/mcir/spec.go#L398
-

[2022-01-28 09:49] seokho-son commented on #853
@jihoon-seo 그렇군요! update-swagger-doc workflow 가 도입되어서 상황이 달라졌을 수 있겠네요.

해당 issue는 close 하면 될까요? ^^

[2022-01-28 09:55] seokho-son commented on #706
그럼 close 하겠습니다!!

[2022-01-28 09:55] #706 closed

[2022-01-28 10:14] jihoon-seo commented on #312
Spider 가 제공한 & TB가 저장하고 있는 `KeyValueList` 에서 정보를 추출할 때 유용할 것 같은 패키지들이 있네요 ㅎㅎ

일단 얘가 눈에 띕니다.
https://github.com/Jeffail/gabs

[code]

---

얘도 눈에 띕니다.
https://github.com/buger/jsonparser

[code]

근데 이 정도는 GJSON 도 비슷하게 가능할 것 같기도 하네요 🤔

[2022-01-28 10:16] jihoon-seo commented on #853
@seokho-son 네 close 하면 될 것 같습니다. 😊

[2022-01-28 10:16] #853 closed

[2022-02-04 02:50] jihoon-seo opened #1025 "Per-VM monitoring-related features"
**What would you like to be added**
:

REST API를 살펴보다 보니,

- InstallMonitorAgentToMcis
- GetMonitoringData

기능이 MCIS에 대해서는 있는데
MCIS 내의 VM 1개에 대해 실행하는 API/함수가 없습니다.

- 위의 기능에 대한 필요성이 낮을 수도 있고,
- 사정 등을 고려하여 위 기능을 추가하지 않기로 결정할 수도 있겠습니다. 😊

**Why is this needed**
:

[2022-02-04 04:07] seokho-son commented on #1025
일단 현황을 공유 드리자면~

다소? 의도적으로 MCIS 내의 VM에 대한 개별 설치를 추가하지 않았었습니다.

InstallMonitorAgentToMcis 는 MCIS에 있는 모든 VM 중,
아직 Agent 미설치 상태의 VM에만 Agent 설치를 시도하는 기능입니다. (VM별로 Agent 설치 상태를 관리하는 필드가 있으며, "설치중" 상태인 경우에도 설치 시도를 하지 않도록 처리하였습니다.)

[2022-02-09 01:22] #999 closed

[2022-02-09 01:59] jihoon-seo opened #1028 "Unspecify GitHub Actions' version"
CC: @hermitkim1 😊

**What would you like to be enhanced**
:
예를 들어 https://github.com/cloud-barista/cb-tumblebug/blob/main/.github/workflows/auto-merge.yml 를 보면,
GitHub Action의 버전을 patch version까지 명시하고 있습니다.

- `uses: actions/checkout@v2.4.0`
- `uses: actions-ecosystem/action-add-labels@v1.1.3`
- `uses: "pascalgn/automerge-action@v0.14.3"`

이를 major version만 명시하는 것으로 바꾸면 (예: `uses: actions/checkout

[2022-02-09 03:03] hermitkim1 commented on #312
Iteration을 고려하신다면 GJSON이 좋을 것 같다는 의견을 드립니다 😄

JSON 데이터 구조에 집중할 수 있고, 몇 줄로 원하는 데이터(string, array, object 등)를 파싱하기 용이해서 입니다.

참고: `gabs`, `jsonparser`, `gjson`모두 foreach 형식의 Interation을 지원하고요. 이를 위한 함수 및 매개변수의 이해, Iteration 내에서 Interation 등의 불편함을 조금 극복해야 합니다. 😅

`gjson`예시

[code]

[code]

[code]

[2022-02-09 04:41] #1028 closed

[2022-02-14 06:11] jihoon-seo commented on #591
https://www.sosconhistory.net/soscon2019/content/data/session/Day%202_1330_2.pdf
OpenStack: **가상 네트워크** (테넌트 네트워크) 기능은 있으나
**VPC** (Virtual Private Cloud) 는 아직 없는 기능임 / 아이디어 제안 상태 (Blueprint)
https://wiki.openstack.org/wiki/Blueprint-VPC

[2022-02-14 06:39] seokho-son commented on #591
AWS 스타일의 VPC API를 내어주고 싶은가보군요

[2022-03-02 05:49] #837 closed, assigned to ChobobDev, saadfareed

[2022-03-11 05:11] jihoon-seo opened #1037 "Delete dup test script: `create-single-vm-mcis.sh`"
**What would you like to be enhanced**
: Delete dup test script: `create-single-vm-mcis.sh`

**Why is this needed**
: `create-mcis.sh` 파일과 동일해 보입니다.

**Proposed solution**
:
- Delete dup test script: `create-single-vm-mcis.sh`
- `create-single-vm-mcis.sh` 를 호출하는 다른 스크립트가 있다면, 이를 `create-mcis.sh`로 대체

[2022-03-22 01:25] seokho-son commented on #591
해당 이슈는 close 해도 될 것 같습니다.

향후 변경 의견이 있으면, 해당 이슈를 다시 오픈하여 활용하면 되겠습니다.

[2022-03-22 01:25] #591 closed

[2022-03-22 06:46] seokho-son opened #1043 "New golang release: Go 1.18"
**What would you like to be enhanced**
: go v1.18 사용 (gomod, docker image 등)

**Why is this needed**
 - 최신 릴리스 적용 (Go 1.18 is released! 15 March 2022)
 - Generics 이 추가되어 코드 개선 가능성이 높아짐.

**Proposed solution**
: go v1.18로 시스템 동작 여부 확인 및 설정 변경

**note**
: 급하게 결정할 필요는 없습니다.

https://go.dev/blog/go1.18

[2022-03-22 06:47] seokho-son commented on #1043
Hello @jihoon-seo @yunkon-kim

[2022-03-22 07:23] seokho-son commented on #1025
일단 close 할까요?

[2022-03-22 07:37] jihoon-seo commented on #1025
넵 😊😊

[2022-03-22 07:37] #1025 closed

[2022-03-22 09:03] jihoon-seo opened #1044 "TB does not prepend NS prefix to SG name when calling SP"
**What happened**
: TB does not prepend NS prefix to SG name when calling SP.

![image](https://user-images.githubusercontent.com/46767780/159444171-f861c9c8-4c7e-4a65-96d2-10c8d258154f.png)
![image](https://user-images.githubusercontent.com/46767780/159444240-c944d524-698a-4245-bfba-b75cbdcb1c40.png)

---

cf. vNet (You can see that NS prefix is prepended.)
![image](https://user-images.githubuser

[2022-03-25 00:51] #1044 closed

[2022-03-25 06:42] seokho-son commented on #898
son@son:~/go/src/github.com/cloud-barista/cb-tumblebug/src/testclient/scripts/sequentialFullTest$ `go mod graph | grep github.com/dgrijalva/jwt-go
`

- github.com/labstack/echo/v4@v4.1.14 github.com/dgrijalva/jwt-go@v3.2.0+incompatible
- github.com/labstack/echo/v4@v4.2.1 github.com/dgrijalva/jwt-go@v3.2.0+incompatible
- github.com/dgrijalva/jwt-go/v4@v4.0.0-preview1 golang.org/x/xerrors@v0.0.0-20

[2022-03-28 01:37] #960 closed

[2022-03-28 04:17] yunkon-kim commented on #716
개선 사항이 있어 Reopen 하였습니다.

[2022-03-28 10:03] jihoon-seo opened #1051 "Cannot create VM (issue with NS prefix of SG name)"
**What happened**
:
#1049 merge 이후에
TB 테스트 스크립트를 이용하여
AWS, Alibaba에 VM 생성 시도를 해 보았는데 에러가 발생합니다.

[Spider log]
[code]

[Spider의 에러 메세지]
[code]
(차례대로 어떤 자원에 해당되는지 알아봐야겠네요)

#1049 merge 이전에는 Spider에 `[aws-ap-southeast-1:aws-ap-southeast-1-jhseo:aws-ap-southeast-1-jhseo]` 로 요청했을 것 같습니다.

[자원 현황]
[code]

(TB ID는 `aws-ap-southeast-1-jhseo` 이고,
Spider에 VM 생성 요청할 때에
VPC 자리에는 위의 `cspVNetName` 필드의 값인 `ns01-

[2022-03-28 10:55] #716 closed

[2022-03-29 10:02] #1051 closed

[2022-04-05 06:08] seokho-son opened #1055 "Register all existing CSP resources for each cloudConnection to CB-TB objs"
이슈 #918 를 통해 개별 자원에 대한 CSP-native 자원 등록 기능이 추가되었습니다.

- #983
  - #1018
- #990
- #1016
  - #1019
- #1046 (POST [​/ns​/{nsId}​/registerCspVm](https://cloud-barista.github.io/cb-tumblebug-api-web/?url=https://raw.githubusercontent.com/cloud-barista/cb-tumblebug/main/src/api/rest/docs/swagger.yaml#/[Infra%20service]%20MCIS%20Provisioning%20management/post_ns__nsId__registerCspVm))

일일이 CSP-native 자원의

[2022-04-05 07:14] jihoon-seo commented on #1055
[지금까지 만든 함수를 호출할 때 사용자가 명시해야 하는 값들]

`registerExistingVNet` 등은
- NS ID (API path 내에 명시)
- `name` (← 이 이름으로 Spider 에 자원 유무를 lookup)
- `connectionName`

를 명시해야 하고,

`registerCspVm` 은
- NS ID (API path 내에 명시)
- MCIS name (API 호출의 JSON body에 명시; 해당 MCIS가 있으면 그 MCIS에 VM을 추가하고, 해당 MCIS가 없으면 신규 MCIS를 생성)
- `connectionName`
- ...

를 명시하도록 되어 있습니다.

---

새로 만들 함수가 MCIR + VM 등록을 수행하는 함수라고 가정하면
[새로 만들 함수를 호출

[2022-04-05 08:43] seokho-son opened #1057 "Misspelled word in src/core/mcis/recommendation.go"
Good first issue :)
Anyone can contribute !

reported by https://goreportcard.com/report/github.com/cloud-barista/cb-tumblebug

[Misspell](https://github.com/client9/misspell) Finds commonly misspelled English words

[src/core/mcis/recommendation.go](https://github.com/cloud-barista/cb-tumblebug/blob/v0.5.0/src/core/mcis/recommendation.go)
[Line 362](https://github.com/cloud-barista/cb-tumblebug/b

[2022-04-08 08:22] seokho-son opened #1059 "Remove duplicated script codes"
1. https://github.com/cloud-barista/cb-tumblebug/tree/main/src/testclient/scripts

1. https://github.com/cloud-barista/cb-tumblebug/tree/main/src/api/grpc/cbadm/testclient/scripts

에 포함된 스크립트의 코드가 중복되어 있으며, 관리의 부담을 높이고 있는 것으로 보입니다. (관리 측면에서 여러번 이슈화됨)

사용 빈도와 cbadm이 별도 저장소로 분리되는 상황을 고려하여,

https://github.com/cloud-barista/cb-tumblebug/tree/main/src/api/grpc/cbadm/testclient/scripts 의 코드들은 삭제하고,

향후